.bundle/
log/*.log
pkg/
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/public/assets/
doc
.yardoc
tmp/failures.txt
node_modules
yarn-error.log
coverage

# See https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/cache/
.yarn/install-state.gz
