  <% one_login_home = one_login_navigation_items[:one_login_home] %>
  <% one_login_sign_out = one_login_navigation_items[:one_login_sign_out] %>
  
  <div class="gem-c-one-login-header" data-one-login-header-nav>
    <div class="gem-c-one-login-header__container govuk-width-container">
      <div class="gem-c-one-login-header__logo">
        <a href="https://www.gov.uk/" class="gem-c-one-login-header__link gem-c-one-login-header__link--homepage">
          <span class="gem-c-one-login-header__logotype">
            <!--[if gt IE 8]><!-->
            <svg aria-hidden="true" focusable="false" class="gem-c-one-login-header__logotype-crown" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 30" height="30" width="32">
              <path fill="currentColor" fill-rule="evenodd"
                d="M22.6 10.4c-1 .4-2-.1-2.4-1-.4-.9.1-2 1-2.4.9-.4 2 .1 2.4 1s-.1 2-1 2.4m-5.9 6.7c-.9.4-2-.1-2.4-1-.4-.9.1-2 1-2.4.9-.4 2 .1 2.4 1s-.1 2-1 2.4m10.8-3.7c-1 .4-2-.1-2.4-1-.4-.9.1-2 1-2.4.9-.4 2 .1 2.4 1s0 2-1 2.4m3.3 4.8c-1 .4-2-.1-2.4-1-.4-.9.1-2 1-2.4.9-.4 2 .1 2.4 1s-.1 2-1 2.4M17 4.7l2.3 1.2V2.5l-2.3.7-.2-.2.9-3h-3.4l.9 3-.2.2c-.1.1-2.3-.7-2.3-.7v3.4L15 4.7c.1.1.1.2.2.2l-1.3 4c-.1.2-.1.4-.1.6 0 1.1.8 2 1.9 2.2h.7c1-.2 1.9-1.1 1.9-2.1 0-.2 0-.4-.1-.6l-1.3-4c-.1-.2 0-.2.1-.3m-7.6 5.7c.9.4 2-.1 2.4-1 .4-.9-.1-2-1-2.4-.9-.4-2 .1-2.4 1s0 2 1 2.4m-5 3c.9.4 2-.1 2.4-1 .4-.9-.1-2-1-2.4-.9-.4-2 .1-2.4 1s.1 2 1 2.4m-3.2 4.8c.9.4 2-.1 2.4-1 .4-.9-.1-2-1-2.4-.9-.4-2 .1-2.4 1s0 2 1 2.4m14.8 11c4.4 0 8.6.3 12.3.8 1.1-4.5 2.4-7 3.7-8.8l-2.5-.9c.2 1.3.3 1.9 0 2.7-.4-.4-.8-1.1-1.1-2.3l-1.2 4c.7-.5 1.3-.8 2-.9-1.1 2.5-2.6 3.1-3.5 3-1.1-.2-1.7-1.2-1.5-2.1.3-1.2 1.5-1.5 2.1-.1 1.1-2.3-.8-3-2-2.3 1.9-1.9 2.1-3.5.6-5.6-2.1 1.6-2.1 3.2-1.2 5.5-1.2-1.4-3.2-.6-2.5 1.6.9-1.4 2.1-.5 1.9.8-.2 1.1-1.7 2.1-3.5 1.9-2.7-.2-2.9-2.1-2.9-3.6.7-.1 1.9.5 2.9 1.9l.4-4.3c-1.1 1.1-2.1 1.4-3.2 1.4.4-1.2 2.1-3 2.1-3h-5.4s1.7 1.9 2.1 3c-1.1 0-2.1-.2-3.2-1.4l.4 4.3c1-1.4 2.2-2 2.9-1.9-.1 1.5-.2 3.4-2.9 3.6-1.9.2-3.4-.8-3.5-1.9-.2-1.3 1-2.2 1.9-.8.7-2.3-1.2-3-2.5-1.6.9-2.2.9-3.9-1.2-5.5-1.5 2-1.3 3.7.6 5.6-1.2-.7-3.1 0-2 2.3.6-1.4 1.8-1.1 2.1.1.2.9-.3 1.9-1.5 2.1-.9.2-2.4-.5-3.5-3 .6 0 1.2.3 2 .9l-1.2-4c-.3 1.1-.7 1.9-1.1 2.3-.3-.8-.2-1.4 0-2.7l-2.9.9C1.3 23 2.6 25.5 3.7 30c3.7-.5 7.9-.8 12.3-.8"></path>
            </svg>
            <!--<![endif]-->
            <span>
              GOV.UK
            </span>
          </span>
        </a>
      </div>

      <button type="button" 
        aria-controls="one-login-header__nav" 
        aria-label="Show GOV.UK One Login menu" 
        data-open-class="gem-c-cross-service-header__button--open" 
        data-label-for-show="Show GOV.UK One Login menu" 
        data-label-for-hide="Hide GOV.UK One Login menu" 
        aria-expanded="false" 
        class="gem-c-cross-service-header__button gem-c-cross-service-header__button--one-login js-x-header-toggle">
        <span class="gem-c-cross-service-header__button-content">One Login</span>

        <!--[if gt IE 8]><!-->
        <span class="gem-c-cross-service-header__button-icon gem-c-cross-service-header__button-icon--default">
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg" focusable="false" aria-hidden="true">
            <circle cx="11" cy="11" r="11" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.29297 18.8487C4.23255 15.4753 7.32741 13 11.0004 13C14.6731 13 17.7678 15.4749 18.7076 18.848C17.8058 19.7338 16.752 20.4654 15.5889 21H11.0004H6.41097C5.24819 20.4655 4.19463 19.7342 3.29297 18.8487Z" fill="#1D70B8"/>
            <circle cx="11" cy="7.75" r="3.75" fill="#1D70B8"/>
            <circle cx="11" cy="11" r="10" stroke="white" stroke-width="2"/>
          </svg>
        </span>
        <!--<![endif]-->

        <!--[if gt IE 8]><!-->
        <span class="gem-c-cross-service-header__button-icon gem-c-cross-service-header__button-icon--focus">
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg" focusable="false" aria-hidden="true">
            <circle cx="11" cy="11" r="11" fill="black"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.29297 18.8487C4.23255 15.4753 7.32741 13 11.0004 13C14.6731 13 17.7678 15.4749 18.7076 18.848C17.8058 19.7338 16.752 20.4654 15.5889 21H11.0004H6.41097C5.24819 20.4655 4.19463 19.7342 3.29297 18.8487Z" fill="white"/>
            <circle cx="11" cy="7.75" r="3.75" fill="white"/>
            <circle cx="11" cy="11" r="10" stroke="black" stroke-width="2"/>
          </svg>
        </span>
        <!--<![endif]-->
      </button>

      <nav aria-label="GOV.UK One Login menu" class="gem-c-one-login-header__nav" data-open-class="gem-c-one-login-header__nav--open" id="one-login-header__nav">
        <ul class="gem-c-one-login-header__nav__list">
          <li class="gem-c-one-login-header__nav__list-item">
            <%= link_to one_login_home[:href], class: "gem-c-one-login-header__nav__link gem-c-one-login-header__nav__link--one-login", data: one_login_home[:data] do %>
              <span class="gem-c-one-login-header__nav__link-content">
                GOV.UK One Login
              </span>

              <!--[if gt IE 8]><!-->
              <span class="gem-c-cross-service-header__button-icon gem-c-cross-service-header__button-icon--default">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg" focusable="false" aria-hidden="true">
                  <circle cx="11" cy="11" r="11" fill="white"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M3.29297 18.8487C4.23255 15.4753 7.32741 13 11.0004 13C14.6731 13 17.7678 15.4749 18.7076 18.848C17.8058 19.7338 16.752 20.4654 15.5889 21H11.0004H6.41097C5.24819 20.4655 4.19463 19.7342 3.29297 18.8487Z" fill="#1D70B8"/>
                  <circle cx="11" cy="7.75" r="3.75" fill="#1D70B8"/>
                  <circle cx="11" cy="11" r="10" stroke="white" stroke-width="2"/>
                </svg>
              </span>
              <!--<![endif]-->

              <!--[if gt IE 8]><!-->
              <span class="gem-c-cross-service-header__button-icon gem-c-cross-service-header__button-icon--focus">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg" focusable="false" aria-hidden="true">
                  <circle cx="11" cy="11" r="11" fill="black"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M3.29297 18.8487C4.23255 15.4753 7.32741 13 11.0004 13C14.6731 13 17.7678 15.4749 18.7076 18.848C17.8058 19.7338 16.752 20.4654 15.5889 21H11.0004H6.41097C5.24819 20.4655 4.19463 19.7342 3.29297 18.8487Z" fill="white"/>
                  <circle cx="11" cy="7.75" r="3.75" fill="white"/>
                  <circle cx="11" cy="11" r="10" stroke="black" stroke-width="2"/>
                </svg>
              </span>
              <!--<![endif]-->
            <% end %>
          </li>
          <li class="gem-c-one-login-header__nav__list-item">
            <%= link_to(
              one_login_sign_out[:text],
              one_login_sign_out[:href],
              class: 'gem-c-one-login-header__nav__link',
              data: one_login_sign_out[:data],
            ) %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  