<% service_navigation_aria_label ||= "Service menu" %>

<% if product_name %>
<div class="gem-c-service-header" data-one-login-header-nav>
  <div class="govuk-width-container">
    <div class="gem-c-service-header__container">
      <!-- The name of your service goes here -->
      <h2 class="gem-c-service-header__heading"><%= product_name %></h2>
      <% if service_navigation_items.any? %>
        <div>
          <button type="button" 
            aria-controls="service-header__nav" 
            data-open-class="gem-c-cross-service-header__button--open" 
            aria-label="Show service navigation menu" 
            data-label-for-show="Show service navigation menu" 
            data-label-for-hide="Hide service navigation menu" 
            data-text-for-show="Menu" 
            data-text-for-hide="Close" 
            aria-expanded="false" 
            class="gem-c-cross-service-header__button gem-c-cross-service-header__button--gem-c-service-header js-x-header-toggle govuk-!-display-none-print">
            <span class="gem-c-service-header__button-content">Menu</span>
          </button>
          <!-- Important! Label your navigation appropriately! When there are multiple navigation landmarks on a page, additional labelling is required to provide support for screen reader users -->
          <nav aria-label="<%= service_navigation_aria_label %>">
            <ul class="gem-c-service-header__nav-list gem-c-service-header__nav govuk-!-display-none-print" id="service-header__nav" data-open-class="gem-c-service-header__nav--open">
              <% service_navigation_items.each_with_index do |item, index| %>
                <%
                  li_classes = %w(gem-c-service-header__nav-list-item)
                  li_classes << "gem-c-service-header__nav-list-item--active" if item[:active]
                  aria_current = item[:active] ? "page" : nil
                %>
                <%= tag.li class: li_classes do %>
                  <%= link_to(
                    item[:text],
                    item[:href],
                    class: 'gem-c-service-header__nav-list-item-link',
                    data: item[:data],
                    aria: { current: aria_current }
                  ) %>
                <% end %>
              <% end %>
            </ul>
          </nav>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
