<%
  colour_map = {
    "production" => "red",
    "staging" => "yellow",
    "integration" => "yellow",
    "example" => "purple",
    "development" => "grey",
  }

  environment_exists = !environment.blank?
%>
<% if environment_exists %>
  <div class="gem-c-header__environment">
    <%= render "govuk_publishing_components/components/tag", { text: environment, colour: colour_map[environment.downcase] } %>
  </div>
<% end %>
<div class="govuk-header__logo gem-c-header__logo">
  <a href="<%= logo_link %>" class="govuk-header__link govuk-header__link--homepage">
    <%= render "govuk_publishing_components/components/govuk_logo/govuk_logo" %>
    <% if product_name %>
      <span class="govuk-header__product-name gem-c-header__product-name">
        <%= product_name %>
      </span>
    <% end %>
  </a>
</div>
