<% if navigation_items.any? %>
  <button role="button" class="govuk-header__menu-button gem-c-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
  <%= tag.nav(class: "gem-c-header__nav", 'aria-label': navigation_aria_label ? navigation_aria_label : nil ) do %>
    <ul id="navigation" class="govuk-header__navigation govuk-header__navigation--end">
      <% navigation_items.each_with_index do |item, index| %>
        <li class="govuk-header__navigation-item <%= "govuk-header__navigation-item--active" if item[:active] %>
          <%= "govuk-header__navigation-item--collapsed-menu-only" if item[:show_only_in_collapsed_menu] %>">
          <%= link_to(
            item[:text],
            item[:href],
            class: 'govuk-header__link',
          ) %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
