<form id="search" class="site-search govuk-clearfix" action="/search" method="get" role="search">
  <%= render "govuk_publishing_components/components/search", {
    id: "site-search-text",
    label_text: "Search",
    no_border: true,
    margin_bottom: 0
  } %>
</form>
