.govuk-govspeak {
  .media-player {
    display: none;
  }

  .info-notice,
  .help-notice,
  .call-to-action {
    margin: $gutter-half 0;
    padding: 0 $gutter-half;
    border: 1pt solid $border-colour;
  }

  .help-notice p {
    font-weight: 700;
  }

  .fraction {
    img {
      display: inline-block;
      margin-bottom: -7px;
    }
  }

  .attachment {
    margin: $gutter 0;

    &:first-child {
      margin-top: 0;
    }

    .attachment-thumb {
      display: none;
    }

    .attachment-details {
      .download {
        display: block;
      }
    }

    .accessibility-warning {
      h2 {
        @include core-14;
      }

      .toggler {
        display: none;
      }
    }
  }

  .footnotes {
    border-top: 1px solid $text-colour;
  }

  .legislative-list {
    padding-left: 0;

    &,
    ol {
      list-style: none;
    }
  }
}
