// stylelint-disable max-nesting-depth

.gem-c-govspeak {
  .media-player {
    display: none;
  }

  .info-notice,
  .help-notice,
  .call-to-action {
    margin: govuk-spacing(3) 0;
  }

  .call-to-action {
    background: none;
    border: 1pt solid $govuk-border-colour;
    padding: govuk-spacing(3);
  }

  .help-notice p {
    font-weight: 700;
  }

  .fraction {
    img {
      display: inline-block;
      margin-bottom: -7px;
    }
  }

  .attachment {
    margin: govuk-spacing(6) 0;

    &:first-child {
      margin-top: 0;
    }

    .attachment-thumb {
      display: none;
    }

    .attachment-details {
      .download {
        display: block;
      }
    }

    .accessibility-warning {
      h2 {
        @include govuk-font(14);
      }

      .toggler {
        display: none;
      }
    }
  }

  .footnotes {
    border-top: 1px solid $govuk-text-colour;

    a[role="doc-backlink"] {
      display: none;
    }
  }

  .legislative-list {
    padding-left: 0;

    &,
    ol {
      list-style: none;
    }
  }

  .mc-toggle-button,
  .mc-chart-container {
    display: none;
  }
}
