<h1>A test page in the dummy app</h1>
<p>This is for testing the accordion component</p>
<%= render "govuk_publishing_components/components/accordion", {
  data_attributes: {
    custom_data_attr: "custom-data-attr",
    module: "govuk-accordion gem-accordion",
    anchor_navigation: false,
  },
  items: [
    {
      heading: {
        text: "Writing well for the web",
      },
      content: {
        html: sanitize("<p class=\"govuk-body\">This is the content for Writing well for the web.</p>"),
      },
      data_attributes: {
        custom_data_attr: "custom-data-attr-accordion-item-1",
      },
    },
    {
      heading: {
        text: "Writing well for specialists",
      },
      content: {
        html: sanitize("<p class=\"govuk-body\">This is the content for Writing well for specialists.</p>"),
      },
      data_attributes: {
        custom_data_attr: "custom-data-attr-accordion-item-2",
      },
    },
    {
      heading: {
        text: "Know your audience",
      },
      content: {
        html: sanitize("<p class=\"govuk-body\">This is the content for Know your audience.</p>"),
      },
      data_attributes: {
        custom_data_attr: "custom-data-attr-accordion-item-3",
      },
    },
    {
      heading: {
        text: "How people read",
      },
      content: {
        html: sanitize("<p class=\"govuk-body\">This is the content for How people read.</p>"),
      },
      data_attributes: {
        custom_data_attr: "custom-data-attr-accordion-item-4",
      },
    },
  ],
} %>
