<h1 class="govuk-heading-xl">Hello! I am an example public GOV.UK page</h1>



  <div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
        <%= render "govuk_publishing_components/components/document_list", {
          remove_top_border: true,
          items: [
            {
              link: {
                text: "About GOV.UK",
                path: "/become-an-apprentice",
                description: "Information about the website and the team that are building it",
                full_size_description: true
              }
            },
            {
              link: {
                text: "Accessibility",
                path: "/become-an-apprentice",
                description: "How new services are developed on GOV.UK and what it means for users",
                full_size_description: true
              }
            },
            {
              link: {
                text: "Browsers",
                path: "/become-an-apprentice",
                description: "Information about browsers and how to upgrade yours+",
                full_size_description: true
              }
            },
            {
              link: {
                text: "Cookies",
                path: "/become-an-apprentice",
                description: "How cookies are used on GOV.UK and each cookie’s purpose",
                full_size_description: true
              }
            }
          ]
        } %>
    </div>
  </div>
<% content_for :before_content do %>
  <% render "govuk_publishing_components/components/back_link", href:'/' %>
<% end %>
