<div class="<%= @component_prefix %><%= @public_name %>">
  <h2><a href="https://github.com/alphagov/govuk_publishing_components/blob/main/docs/component_conventions.md">How to build a component</a></h2>
</div>
