<%
  id ||= "autocomplete-#{SecureRandom.hex(4)}"
  label ||= nil
  data_attributes ||= nil
  options ||= []
  selected_option ||= nil
  multiple ||= false
%>
<% if label && options.any? %>
  <div class="govuk-form-group">
    <%=
      render "govuk_publishing_components/components/label", {
        html_for: id
      }.merge(label.symbolize_keys)
    %>

    <%= tag.div class: "gem-c-accessible-autocomplete", data: { module: "accessible-autocomplete" } do %>
      <% if multiple %>
        <span class="govuk-hint app-c-autocomplete__multiselect-instructions"><%= t('components.autocomplete.multiselect') %></span>
      <% end %>

      <%=
        select_tag(
          id,
          options_for_select(options, selected_option),
          multiple: multiple,
          class: "govuk-select",
          data: data_attributes
        )
      %>
    <% end %>
  </div>
<% end %>
