<%
  add_gem_component_stylesheet("add-another")
  items ||= []
  empty ||= ""
  add_button_text ||= "Add another"
%>

<div data-module="add-another" class="gem-c-add-another" data-add-button-text="<%= add_button_text %>">
  <% items.each do |item| %>
    <div class="gem-c-add-another__fieldset js-add-another__fieldset">
      <%= item[:fields] %>
      <div class="js-add-another__destroy-checkbox">
        <%= item[:destroy_checkbox] %>
      </div>
    </div>
  <% end %>
  <div class="js-add-another__empty">
    <%= empty %>
  </div>
</div>
