<% message ||= 'This part of GOV.UK is being built &ndash; <a href="/service-manual/phases/ideal-alphas">find out what alpha means</a>' %>
<%= render 'govuk_publishing_components/shared/phase_banner', phase: 'Alpha', message: message %>
