<% message ||= 'This part of GOV.UK is being rebuilt &ndash; <a href="/help/beta">find out what beta means</a>' %>
<%= render 'govuk_publishing_components/shared/phase_banner', phase: 'Beta', message: message %>
