<%
  breadcrumbs ||= []
  collapse_on_mobile ||= false
  inverse ||= false
  collapse_class =  collapse_on_mobile && breadcrumbs.any? { |crumb| crumb[:is_page_parent] } ? "collapse-on-mobile" : ""
  invert_class = inverse ? "govuk-breadcrumbs--inverse" : ""
%>

<div class="govuk-breadcrumbs <%= collapse_class %>" data-module="track-click">
  <ol>
  <% breadcrumbs.each_with_index do |crumb, index| %>
    <%
      is_link = crumb[:url].present? || crumb[:is_current_page]
      path = crumb[:is_current_page] ? '#content' : crumb[:url]
      aria_current = crumb[:is_current_page] ? 'page' : 'false'
      css_class = invert_class.concat(crumb[:is_current_page] ? ' breadcrumb-for-current-page ' : '')
    %>

    <li class='<%= "parent-breadcrumb" if crumb[:is_page_parent] %>'>
      <% if is_link %>
        <%= link_to(
          crumb[:title],
          path,
          data: {
            track_category: 'breadcrumbClicked',
            track_action: index + 1,
            track_label: path,
            track_options: {
              dimension28: breadcrumbs.length.to_s,
              dimension29: crumb[:title]
            }
          },
          class: css_class,
          aria: {
            current: aria_current,
          }
        ) %>
      <% else %>
        <%= crumb[:title] %>
      <% end %>
    </li>
  <% end %>
  </ol>
</div>
