<%
  breadcrumbs ||= []
  inverse ||= false
  collapse_on_mobile ||= false
  breadcrumb_presenter = GovukPublishingComponents::Presenters::Breadcrumbs.new(breadcrumbs)

  classes = "gem-c-breadcrumbs govuk-breadcrumbs"
  classes << " govuk-breadcrumbs--collapse-on-mobile" if collapse_on_mobile
  classes << " gem-c-breadcrumbs--inverse" if inverse
%>

<script type="application/ld+json">
  <%= raw JSON.pretty_generate(breadcrumb_presenter.structured_data) %>
</script>

<div class="<%= classes %>" data-module="gem-track-click">
  <ol class="govuk-breadcrumbs__list">
    <% breadcrumbs.each_with_index do |crumb, index| %>
      <% breadcrumb = GovukPublishingComponents::Presenters::Breadcrumb.new(crumb, index) %>
        <li class="govuk-breadcrumbs__list-item">
        <% if breadcrumb.is_link? %>
          <%= link_to(
            breadcrumb[:title],
            breadcrumb.path,
            data: breadcrumb.tracking_data(breadcrumbs.length),
            class: "govuk-breadcrumbs__link",
          ) %>
        <% else %>
          <%= breadcrumb[:title] %>
        <% end %>
        </li>
    <% end %>
  </ol>
</div>
