<%
  border ||= false
  breadcrumbs ||= []
  collapse_on_mobile ||= false
  inverse ||= false

  breadcrumb_presenter = GovukPublishingComponents::Presenters::Breadcrumbs.new(breadcrumbs)

  classes = %w[gem-c-breadcrumbs govuk-breadcrumbs]
  classes << "govuk-breadcrumbs--collapse-on-mobile" if collapse_on_mobile
  classes << "gem-c-breadcrumbs--inverse" if inverse
  classes << "gem-c-breadcrumbs--border-bottom" if border == "bottom"
%>

<script type="application/ld+json">
  <%= raw JSON.pretty_generate(breadcrumb_presenter.structured_data) %>
</script>

<nav class="<%= classes.join(" ") %>" data-module="gem-track-click" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <% breadcrumbs.each_with_index do |crumb, index| %>
      <% breadcrumb = GovukPublishingComponents::Presenters::Breadcrumb.new(crumb, index) %>
        <li class="govuk-breadcrumbs__list-item">
        <% if breadcrumb.is_link? %>
          <% if index == breadcrumbs.size - 1 %>
            <% last_link = index ? "page" : "" %>
          <% end %>
          <%= link_to(
            breadcrumb[:title],
            breadcrumb.path,
            data: breadcrumb.tracking_data(breadcrumbs.length),
            class: "govuk-breadcrumbs__link",
            "aria-current": last_link,
          ) %>
        <% else %>
          <%= breadcrumb[:title] %>
        <% end %>
        </li>
    <% end %>
  </ol>
</nav>
