<%
  add_gem_component_stylesheet("button")
  disable_ga4 ||= false

  # button_helper.css_classes generates "gem-c-button"
  button = GovukPublishingComponents::Presenters::ButtonHelper.new(local_assigns)
%>
<% start_button_text = capture do %>
  <span>
    <%= button.text %>
  </span>
  <svg class="govuk-button__start-icon govuk-!-display-none-print" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" focusable="false" aria-hidden="true">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
<% end %>

<%
  if button.start
    button_text = start_button_text
  else
    button_text = button.text
  end
%>

<% if button.link? %>
  <%= link_to button_text, button.href, **button.html_options %>
<% else %>
  <%= content_tag :button, button_text, **button.html_options %>
<% end %>

<% if button.info_text %>
  <%= tag.span button.info_text, **button.info_text_options %>
<% end %>
