<%
  add_gem_component_stylesheet("button")

  button = GovukPublishingComponents::Presenters::ButtonHelper.new(local_assigns)
  component_helper = GovukPublishingComponents::Presenters::ComponentWrapperHelper.new(local_assigns)
  component_helper.add_class(button.classes)
  component_helper.set_margin_bottom(0) if local_assigns[:info_text]
  component_helper.add_data_attribute({ module: "govuk-button" }) if local_assigns[:href]
  component_helper.add_data_attribute({ ga4_attributes: button.ga4_attributes })
  component_helper.set_type(button.type)
  component_helper.add_aria_attribute({ labelledby: button.aria_labelledby })
  component_helper.set_draggable("false") if local_assigns[:href]
%>
<% start_button_text = capture do %>
  <span>
    <%= button.text %>
  </span>
  <svg class="govuk-button__start-icon govuk-!-display-none-print" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" focusable="false" aria-hidden="true">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
<% end %>

<%
  if button.start
    button_text = start_button_text
  else
    button_text = button.text
  end
%>

<% if button.link? %>
  <%= link_to button_text, button.href, **component_helper.all_attributes %>
<% else %>
  <%= content_tag :button, button_text, **component_helper.all_attributes %>
<% end %>

<% if button.info_text %>
  <%= tag.span button.info_text, **button.info_text_options %>
<% end %>
