<%
  add_gem_component_stylesheet("chat-entry")
  local_assigns[:margin_bottom] ||= 6
  shared_helper = GovukPublishingComponents::Presenters::SharedHelper.new(local_assigns)
  href ||= "/chat"
  heading_text ||= t("components.chat_entry.heading")
  description_text ||= t("components.chat_entry.description")
  border_top ||= false
  border_bottom ||= false

  component_helper = GovukPublishingComponents::Presenters::ComponentWrapperHelper.new(local_assigns)
  component_helper.add_class("gem-c-chat-entry")
  component_helper.add_class("gem-c-chat-entry--border-top") if border_top
  component_helper.add_class("gem-c-chat-entry--border-bottom") if border_bottom
  component_helper.add_class(shared_helper.get_margin_bottom)
%>

<%= tag.div(**component_helper.all_attributes) do %>
  <svg class="gem-c-chat-entry__image" viewBox="0 0 104 104" fill="none" xmlns="http://www.w3.org/2000/svg" focusable="false" aria-hidden="true">
    <rect width="100%" height="100%" fill="#D2E2F1" />
    <path d="M37.5733 65.7452L51.6131 77.9999H27.9707L37.5733 65.7452Z" fill="#1D70B8" />
    <path d="M52 78C66.3594 78 78 66.3594 78 52C78 37.6406 66.3594 26 52 26C37.6406 26 26 37.6406 26 52C26 66.3594 37.6406 78 52 78Z" fill="#1D70B8" />
    <mask id="mask0_48346_4836" style="mask-type: alpha" maskUnits="userSpaceOnUse" x="40" y="58" width="24" height="10">
      <rect x="41.2962" y="59.1165" width="21.4029" height="6.98153" fill="#D9D9D9" stroke="#F499BE" stroke-width="1.89313" />
    </mask>
    <g mask="url(#mask0_48346_4836)">
      <path
        d="M46.5668 60.156C47.8844 63.1549 51.3835 64.518 54.3824 63.2004C57.3813 61.8829 58.7443 58.3837 57.4268 55.3848C56.1093 52.3859 52.6101 51.0229 49.6112 52.3404C46.6123 53.658 45.2493 57.1571 46.5668 60.156Z"
        stroke="#F499BE"
        stroke-width="4.43733"
      />
    </g>
    <path d="M43.3401 39.3198L50.2778 51.515H36.4023L43.3401 39.3198Z" fill="#FFDD00" />
    <circle cx="60.2488" cy="45.4078" r="6.10621" fill="#F47738" />
  </svg>

  <div class="gem-c-chat-entry__description">
    <%= content_tag(shared_helper.get_heading_level, class: "gem-c-chat-entry__heading") do %>
      <%= link_to heading_text, href, class: "govuk-link" %>
    <% end %>

    <% if description_text %>
      <p class="govuk-body govuk-!-margin-bottom-0"><%= description_text %></p>
    <% end %>
  </div>
<% end %>
