<%
  id ||= 'global-cookie-message'
%>

<div id="<%= id %>" class="gem-c-cookie-banner govuk-clearfix" data-module="cookie-banner" role="region" aria-label="cookie banner" data-nosnippet>
  <div class="gem-c-cookie-banner__wrapper govuk-width-container">
    <div class="govuk-row">
      <div class=" govuk-grid-column-two-thirds">
        <div class="gem-c-cookie-banner__message">
          <span class="govuk-heading-m">Tell us whether you accept cookies</span>
          <p class="govuk-body">We use <a class="govuk-link" href="/help/cookies">cookies to collect information</a> about how you use GOV.UK. We use this information to make the website work as well as possible and improve government services.</p>
        </div>
        <div class="gem-c-cookie-banner__buttons">
          <div class="gem-c-cookie-banner__button gem-c-cookie-banner__button-accept govuk-grid-column-full govuk-grid-column-one-half-from-desktop">
            <%= render "govuk_publishing_components/components/button", {
              text: "Accept all cookies",
              inline_layout: true,
              data_attributes: {
                module: "track-click",
                "accept-cookies": "true",
                "track-category": "cookieBanner",
                "track-action": "Cookie banner accepted"
              }
            } %>
          </div>
          <div class="gem-c-cookie-banner__button gem-c-cookie-banner__button-settings govuk-grid-column-full govuk-grid-column-one-half-from-desktop">
            <%= render "govuk_publishing_components/components/button", {
              text: "Set cookie preferences",
              href: "/help/cookies",
              inline_layout: true,
              data_attributes: {
                module: "track-click",
                "track-category": "cookieBanner",
                "track-action": "Cookie banner settings clicked"
              }
            } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="gem-c-cookie-banner__confirmation govuk-width-container" tabindex="-1">
    <p class="gem-c-cookie-banner__confirmation-message">
      You&#8217;ve accepted all cookies. You can <a class="govuk-link" href="/help/cookies" data-module="track-click" data-track-category="cookieBanner" data-track-action="Cookie banner settings clicked from confirmation">change your cookie settings</a> at any time.
    </p>
    <button class="gem-c-cookie-banner__hide-button" data-hide-cookie-banner="true" data-module="track-click" data-track-category="cookieBanner" data-track-action="Hide cookie banner">Hide</button>
  </div>
</div>
