<%
  id ||= 'global-cookie-message'
  message ||= "GOV.UK uses cookies which are essential for the site to work. We also use non-essential cookies to help us improve government digital services. Any data collected is anonymised."
%>

<div id="<%= id %>" class="gem-c-cookie-banner" data-module="cookie-banner" role="region" aria-label="cookie banner" data-nosnippet>
  <div class="gem-c-cookie-banner__wrapper govuk-width-container">
    <p class="gem-c-cookie-banner__message"><%= message %></p>
    <div class="gem-c-cookie-banner__buttons">
      <div class="gem-c-cookie-banner__button gem-c-cookie-banner__button-accept">
        <%= render "govuk_publishing_components/components/button", {
          text: "Accept cookies",
          secondary: true,
          inline_layout: true,
          data_attributes: {
            module: "track-click",
            "accept-cookies": "true",
            "track-category": "cookieBanner",
            "track-action": "Cookie banner accepted"
          }
        } %>
      </div>
      <div class="gem-c-cookie-banner__button gem-c-cookie-banner__button-settings">
        <%= render "govuk_publishing_components/components/button", {
          text: "Cookie settings",
          href: "/help/cookies",
          secondary: true,
          inline_layout: true,
          data_attributes: {
            module: "track-click",
            "track-category": "cookieBanner",
            "track-action": "Cookie banner settings clicked"
          }
        } %>
      </div>
    </div>
  </div>

  <div class="gem-c-cookie-banner__confirmation govuk-width-container" tabindex="-1">
    <p class="gem-c-cookie-banner__confirmation-message">
      You&#8217;ve accepted all cookies. You can <a class="govuk-link" href="/help/cookies" data-module="track-click" data-track-category="cookieBanner" data-track-action="Cookie banner settings clicked from confirmation">change your cookie settings</a> at any time.
    </p>
    <button class="gem-c-cookie-banner__hide-button" data-hide-cookie-banner="true" data-module="track-click" data-track-category="cookieBanner" data-track-action="Hide cookie banner">Hide</button>
  </div>
</div>
