<%
  id ||= 'global-cookie-message'
  message ||= capture do %>
  GOV.UK uses cookies to make the site simpler. <a class="govuk-link" href="https://www.gov.uk/help/cookies" data-module="track-click" data-track-category="cookieBanner" data-track-action="Cookie banner clicked">Find out more about cookies</a> or <a class="govuk-link" href="#" data-hide-cookie-banner="true" data-module="track-click" data-track-category="cookieBanner" data-track-action="Cookie banner hidden">hide this message</a>
<% end %>

<div id="<%= id %>" class="gem-c-cookie-banner" data-module="cookie-banner">
  <p class="gem-c-cookie-banner__message govuk-width-container"><%= message %></p>
</div>
