<div class="gem-c-copy-to-clipboard" data-module="copy-to-clipboard">
  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: label,
    },
    name: SecureRandom.hex,
    value: copyable_content,
    readonly: true,
  } %>

  <%= render "govuk_publishing_components/components/button", {
    text: button_text,
    secondary_quiet: true,
  } %>
</div>
