<%
  button_data_attributes ||= nil
  input_data_attributes ||= nil
%>
<div class="gem-c-copy-to-clipboard" data-module="copy-to-clipboard">
  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: label,
    },
    name: SecureRandom.hex,
    value: copyable_content,
    data: input_data_attributes,
    readonly: true,
  } %>

  <%= render "govuk_publishing_components/components/button", {
    text: button_text,
    type: "button",
    data_attributes: button_data_attributes,
    secondary_quiet: true,
  } %>
</div>
