<% data_attributes ||= nil %>
<% open ||= nil %>
<%= tag.details class: "gem-c-details govuk-details", data: data_attributes, open: open do %>
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      <%= title %>
    </span>
  </summary>
  <div class="govuk-details__text">
    <%= yield %>
  </div>
<% end %>
