<%
  shared_helper = GovukPublishingComponents::Presenters::SharedHelper.new(local_assigns)

  open ||= nil
  margin_bottom ||= 3
  css_classes = %w(gem-c-details govuk-details)
  css_classes << shared_helper.get_margin_bottom

  details_data_attributes = {}
  details_data_attributes[:module] = 'govuk-details gem-details'

  data_attributes ||= {}
  data_attributes[:details_track_click] = ''

  summary_aria_attributes ||= {}
%>
<%= tag.details class: css_classes, data: details_data_attributes, open: open do %>
  <%= tag.summary class: "govuk-details__summary", data: data_attributes, aria: summary_aria_attributes do %>
    <span class="govuk-details__summary-text">
      <%= title %>
    </span>
  <% end %>
  <div class="govuk-details__text">
    <%= yield %>
  </div>
<% end %>
