<%
  shared_helper = GovukPublishingComponents::Presenters::SharedHelper.new(local_assigns)

  data_attributes ||= nil
  open ||= nil
  margin_bottom ||= 3
  css_classes = %w(gem-c-details govuk-details)
  css_classes << (shared_helper.get_margin_bottom)
%>
<%= tag.details class: css_classes, data: data_attributes, open: open do %>
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      <%= title %>
    </span>
  </summary>
  <div class="govuk-details__text">
    <%= yield %>
  </div>
<% end %>
