<%
  items ||= []
%>
<% if items.any? %>
  <ol class="gem-c-document-list">
    <% items.each do |item| %>
      <li class="gem-c-document-list__item">
        <h3 class="gem-c-document-list__item-title">
          <%=
            link_to(
              item[:link][:text],
              item[:link][:path],
              data: item[:link][:data_attributes]
            )
          %>
        </h3>
        <ul>
          <li class="gem-c-document-list__attribute">
            <time datetime="<%= item[:metadata][:public_updated_at].iso8601 %>">
              <%= l(item[:metadata][:public_updated_at], format: '%e %B %Y') %>
            </time>
          </li>
          <li class="gem-c-document-list__attribute gem-c-document-list__attribute--document-type">
            <%= item[:metadata][:document_type] %>
          </li>
        </ul>
      </li>
    <% end %>
  </ol>
<% end %>
