<%
  add_gem_component_stylesheet("error-message")

  id ||= "error-message-#{SecureRandom.hex(4)}"
  items ||= []
  right_to_left ||= false

  if items.any?
    errors = items.map { |item| capture { item[:text] } }
    text = raw(errors.join("<br />"))
  end

  component_helper = GovukPublishingComponents::Presenters::ComponentWrapperHelper.new(local_assigns)
  component_helper.set_id(id)
  component_helper.add_class("gem-c-error-message govuk-error-message")
  component_helper.set_dir("rtl") if right_to_left
%>
<%= tag.p(**component_helper.all_attributes) do %>
  <span class="govuk-visually-hidden">Error:</span> <%= text %>
<% end %>
