<%
  add_gem_component_stylesheet("error-message")

  id ||= "error-message-#{SecureRandom.hex(4)}"
  classes ||= ''
  css_classes = %w( gem-c-error-message govuk-error-message )
  css_classes << classes if classes
  items ||= []
  right_to_left ||= false

  if items.any?
    errors = items.map { |item| capture { item[:text] } }
    text = raw(errors.join("<br />"))
  end
%>
<%= tag.p id: id, class: css_classes, dir: right_to_left ? "rtl" : nil do %>
  <span class="govuk-visually-hidden">Error:</span> <%= text %>
<% end %>
