<%
  govspeak_locals = { content: content }
  govspeak_locals[:direction] = local_assigns.fetch(:direction) if local_assigns.include?(:direction)
  govspeak_locals[:rich_govspeak] = local_assigns.fetch(:rich_govspeak) if local_assigns.include?(:rich_govspeak)
  govspeak_locals[:disable_youtube_expansions] = local_assigns.fetch(:disable_youtube_expansions) if local_assigns.include?(:disable_youtube_expansions)
%>
<div class="gem-c-govspeak-html-publication">
  <%= render 'govuk_publishing_components/components/govspeak', govspeak_locals %>
</div>
