<%
  add_gem_component_stylesheet("govspeak-html-publication")

  govspeak_locals = {}
  govspeak_locals[:content] = local_assigns.fetch(:content) if local_assigns.include?(:content)
  govspeak_locals[:direction] = local_assigns.fetch(:direction) if local_assigns.include?(:direction)
  govspeak_locals[:disable_youtube_expansions] = local_assigns.fetch(:disable_youtube_expansions) if local_assigns.include?(:disable_youtube_expansions)
%>
<div class="gem-c-govspeak-html-publication">
  <%= render "govuk_publishing_components/components/govspeak", govspeak_locals do %>
    <%= yield %>
  <% end %>
</div>
