<%= tag.section class: "gem-c-intervention", role: "region" do %>
  <h2 class="gem-c-intervention__title">
    <a class="govuk-link" href="/next-steps-for-your-business">
      <%= t("components.intervention.title") %>
    </a>
  </h2>

  <p class="gem-c-intervention__paragraph">
    <%= t("components.intervention.description") %>
  </p>

  <p class="gem-c-intervention__paragraph">
    <%= t("components.intervention.dismiss_html") %>
  </p>
<% end %>
