<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= browser_title %></title>
    <%= stylesheet_link_tag 'govuk_publishing_components/admin_styles' %>
    <%= csrf_meta_tag %>
  </head>
  <body class="govuk-template__body">
    <%= yield %>
  </body>
</html>
