<%
  text ||= ""
  inverse ||= false
  text = GovukPublishingComponents::Presenters::Sanitisation.sub_safely(text, /\s([\w\.\?\!\:]+)$/, '&nbsp;\1')
%>

<% if text.present? %>
  <p class="gem-c-lead-paragraph <% if inverse %>gem-c-lead-paragraph--inverse<% end %>">
    <%= text %>
  </p>
<% end %>
