<%
  text ||= ""
  inverse ||= false
  # Replace the space between the last 2 words with a non-breaking space, so
  # we'll never have a dangling word in a paragraph. 
  text = GovukPublishingComponents::Presenters::Sanitisation.sub_safely(text, /\s([\w\.\?\!\:]+)$/, '&nbsp;\1')
%>

<% if text.present? %>
  <p class="gem-c-lead-paragraph <% if inverse %>gem-c-lead-paragraph--inverse<% end %>">
    <%= text %>
  </p>
<% end %>
