<%
  button_text ||= "Menu"
  links ||= []
  negative_margin_left_on_button ||= false
  button_classes = %w[main-nav__button main-nav__button--no-js govuk-link govuk-link--no-underline]
  button_classes << "main-nav__button--negative-margin-left" if negative_margin_left_on_button
%>

<div class="main-nav" data-module="main-navigation">
  <h2 class="govuk-visually-hidden" id="main-navigation-heading">Secondary navigation menu</h2>
  <div class="main-nav__button-container main-nav__button-container--collapsed js-main-nav__button-container">
    <div class="govuk-width-container">
      <%= tag.button button_text,
        type: "button",
        class: button_classes.join(" "),
        aria: { expanded: "false", controls: "main-nav-container" },
        data: {
          module: "ga4-event-tracker",
          ga4_expandable: "",
          ga4_event: {
            event_name: "select_content",
            index_section: 1,
            index_section_count: 1,
            type: "secondary header",
            section: button_text,
          }.to_json,
        } %>
    </div>
  </div>
  <div class="main-nav__nav-container main-nav__nav-container--js-hidden govuk-width-container js-main-nav__nav-container" id="main-nav-container">
    <nav aria-labelledby="main-navigation-heading" data-module="ga4-link-tracker">
      <% ga4_index_section_count = links.length %>
      <% links.each_with_index do |link_group, nav_index| %>
        <% nav_section_heading = link_group[:text] %>
        <h3 class="main-nav__heading govuk-heading-s"><%= link_group[:text] %></h3>
        <ul class="main-nav__list">
          <% ga4_index_total = link_group[:links].length %>
          <% link_group[:links].each_with_index do |link, link_index| %>
          <li class="main-nav__list-item">
            <%= link_to link[:text],
              link[:href],
              class: "govuk-link govuk-link--no-underline govuk-link--no-visited-state",
              data: {
                ga4_link: {
                  event_name: "navigation",
                  type: "secondary header",
                  index_link: link_index + 1,
                  index_total: ga4_index_total,
                  index_section: nav_index + 1,
                  index_section_count: ga4_index_section_count,
                  section: nav_section_heading,
                }.to_json,
              } %>
          </li>
          <% end %>
        </ul>
      <% end %>
    </nav>
  </div>
</div>
