<%
  description ||= false
%>
<div class="gem-c-panel govuk-panel govuk-panel--confirmation">
  <h2 class="govuk-panel__title">
    <%= title %>
  </h2>
  <div class="govuk-panel__body">
    <% if description %>
      <%= description %>
    <% end %>
  </div>
</div>
