<%
  description ||= false
  prepend ||= false
  append ||= false
%>
<div class="gem-c-panel govuk-panel govuk-panel--confirmation">
  <% if prepend %>
    <div class="gem-c-panel__prepend">
      <%= prepend %>
    </div>
  <% end %>
  <h2 class="govuk-panel__title">
    <%= title %>
  </h2>
  <% if description %>
    <div class="govuk-panel__body">
      <%= description %>
    </div>
  <% end %>
  <% if append %>
    <div class="gem-c-panel__append">
      <%= append %>
    </div>
  <% end %>
</div>
