<%
  text ||= t('components.print_link.text')
  href ||= nil
  data_attributes ||= {}
  require_js ||= href.nil?

  data_attributes[:module] = 'print-link' if require_js
  data_attributes[:module] = 'button' if href.present?

  classes = %w(govuk-link)
  classes << "gem-c-print-link__button" if href.nil?
  classes << "gem-c-print-link__link govuk-link--no-visited-state" if href.present?
%>

<% if require_js %>
  <div class="gem-c-print-link" >
    <%= content_tag(:button, text, {
        class: classes,
        data: data_attributes
    }) %>
  </div>
<% else %>
  <div class="gem-c-print-link gem-c-print-link--show-without-js">
    <%= link_to(
      text,
      href,
      class: classes,
      rel: "alternate",
      data: data_attributes,
      role: "button",
    ) %>
  </div>
<% end %>
