<% related_nav_helper = GovukPublishingComponents::Presenters::RelatedNavigationHelper.new(local_assigns) %>

<% if related_nav_helper.anything_to_show? %>
  <% random = SecureRandom.hex(4) %>
  <div class="gem-c-related-navigation">
    <h2 id="related-nav-related_items-<%= random %>"
        class="gem-c-related-navigation__main-heading"
        data-track-count="sidebarRelatedItemSection" >
      <%= t('components.related_navigation.related_content') %>
    </h2>

    <% section_index = 0 %>

    <% related_nav_helper.related_navigation.each do |section| %>
      <% section.each do |section_title, links| %>
        <% if links.any? %>
          <% section_index += 1 %>
          <%= render 'govuk_publishing_components/components/related_navigation/section',
            related_nav_helper: related_nav_helper,
            section_title: section_title,
            links: links,
            section_index: section_index,
            random: random %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
