<%
  page_path ||= nil
  shared_helper = GovukPublishingComponents::Presenters::SharedHelper.new(local_assigns)
  save_this_page = GovukPublishingComponents::Presenters::SaveThisPageHelper.new(local_assigns)
%>
<% if page_path %>
  <div class="gem-c-save-this-page">
    <%= content_tag(shared_helper.get_heading_level, save_this_page.heading_text, class: "govuk-heading-s") %>
      <%= render "govuk_publishing_components/components/button", {
        text: save_this_page.link_text,
        href: save_this_page.link_href,
        margin_bottom: 4,
        secondary_solid: true,
      } %>
    <%= content_tag(:p, sanitize(save_this_page.additional_text), class: 'govuk-body') %>
  </div>
<% end %>
