<% description ||= nil %>

<div
  class="gem-c-success-alert"
  data-module="success-alert"
  role="alert"
  tabindex="-1"
>
  <% if description.present? %>
    <h2 class="gem-c-success-summary__title"><%= message %></h2>
    <p class="gem-c-success-summary__body"><%= description %></p>
  <% else %>
    <p class="gem-c-success-alert__message"><%= message %></p>
  <% end %>
</div>
