<%
  warn('DEPRECATION WARNING: taxonomy_list component is deprecated and will be removed in a future major release of govuk_publishing_components')
  highlight_box ||= false
  document_list ||= false
  image_cards ||= false

  highlight_box.merge!({within_multitype_list: true}) if highlight_box
  document_list.merge!({within_multitype_list: true}) if document_list

  taxonomy_list_helper = GovukPublishingComponents::Presenters::TaxonomyListHelper.new(image_cards)
%>
<% if highlight_box || document_list || image_cards %>
  <ul class="gem-c-taxonomy-list" data-module="gem-track-click">
    <% if image_cards %>
      <% taxonomy_list_helper.image_card_data.each do |image_card| %>
        <li class="gem-c-taxonomy-list__item">
          <%= render "govuk_publishing_components/components/image_card", image_card %>
        </li>
      <% end %>
    <% end %>

    <% if highlight_box %>
      <%= render "govuk_publishing_components/components/highlight_boxes", highlight_box %>
    <% end %>

    <% if document_list %>
      <%= render "govuk_publishing_components/components/document_list", document_list %>
    <% end %>
  </ul>
<% end %>
