<%
  add_gem_component_stylesheet("translation-nav")

  brand ||= false
  brand_helper = GovukPublishingComponents::AppHelpers::BrandHelper.new(brand)
  translation_helper = GovukPublishingComponents::Presenters::TranslationNavHelper.new(local_assigns)

  component_helper = GovukPublishingComponents::Presenters::ComponentWrapperHelper.new(local_assigns)
  component_helper.add_class("gem-c-translation-nav govuk-!-display-none-print #{translation_helper.classes} #{brand_helper.brand_class}")
  component_helper.add_aria_attribute({ label: t("common.translations") })
%>
<% if translation_helper.has_translations? %>
  <%= tag.nav(**component_helper.all_attributes) do %>
    <ul class="gem-c-translation-nav__list">
      <% translation_helper.translations.each.with_index do |translation, i| %>
        <li class="gem-c-translation-nav__list-item">
          <% if translation[:active] %>
            <span lang="<%= translation[:locale] %>"><%= translation[:text] %></span>
          <% else %>
            <%= link_to translation[:text], translation[:base_path],
              hreflang: translation[:locale],
              lang: translation[:locale],
              rel: "alternate",
              class: "govuk-link #{translation_helper.link_class} #{brand_helper.color_class}",
              data: translation[:data_attributes] %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
