<% translations ||= [] %>
<% if translations.length > 1 %>
  <nav role="navigation" class="gem-c-translation-nav" aria-label="<%= t("common.translations") %>">
    <ul class="gem-c-translation-nav__list">
      <% translations.each.with_index do |translation, i| %>
        <li class="gem-c-translation-nav__list-item">
          <% if translation[:active] %>
            <span lang="<%= translation[:locale] %>"><%= translation[:text] %></span>
          <% else %>
            <%= link_to translation[:text], translation[:base_path], hreflang: translation[:locale], lang: translation[:locale], rel: "alternate" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
<% end %>
