<div class="facet-container" data-ga4-change-category="update-filter radio" data-ga4-section="" data-ga4-filter-parent>
  <%= render "govuk_publishing_components/components/radio", {
    name: radio_facet.key,
    small: true,
    items: radio_facet.options
  } %>
</div>
