<<<<<<< HEAD
<div class="facet-container" data-ga4-change-category="update-filter radio" data-ga4-section="" data-ga4-filter-parent>
=======
<%= tag.div(class: "facet-container", data: { "ga4-change-category": "update-filter radio", "ga4-filter-parent": radio_facet.ga4_section, "ga4-section": "", "ga4-index": { index_section: index + 1, index_section_count: count } }) do %>
>>>>>>> 69e149bcd (WIP: Add ga4-index data attrs in Ruby vs JS)
  <%= render "govuk_publishing_components/components/radio", {
    name: radio_facet.key,
    small: true,
    items: radio_facet.options
  } %>
</div>
