<% unless i_am_a_topic_page_finder %>
  <%
    button_data_attributes = {
      ga4_expandable: "",
      ga4_event: {
        event_name: 'select_content',
        type: 'finder',
        section: "Topic",
        index: { index_section: index + 1, index_section_count: count }
      }
    }
  %>
  <%= render "components/expander", {
<<<<<<< HEAD
    title: "Topic"
=======
    title: "Topic",
<<<<<<< HEAD
    data_attributes: { "ga4-filter-parent": taxon_facet.ga4_section, "ga4-index": { index_section: index + 1, index_section_count: count } }
>>>>>>> 69e149bcd (WIP: Add ga4-index data attrs in Ruby vs JS)
=======
    data_attributes: { "ga4-filter-parent": taxon_facet.ga4_section, "ga4-index": { index_section: index + 1, index_section_count: count } },
    button_data_attributes:
>>>>>>> b3a60ec8a (Pass GA4 tracking attributes to components)
  } do %>
    <div class="js-taxonomy-select" data-ga4-change-category="update-filter select" data-ga4-section="Topic">

      <%= render "govuk_publishing_components/components/select", {
        id: 'level_one_taxon',
        label: "Topic",
        full_width: true,
        options: taxon_facet.topics
      }
      %>

      <div class="js-required govuk-form-group gem-c-select" data-ga4-section="Sub-topic">
        <%= render "govuk_publishing_components/components/select", {
          id: 'level_two_taxon',
          label: "Sub-topic",
          full_width: true,
          options: taxon_facet.sub_topics
        }
        %>
      </div>
    </div>
  <% end %>
<% end %>
