<% unless i_am_a_topic_page_finder %>
  <%= render "components/expander", {
    title: "Topic"
  } do %>
    <div class="js-taxonomy-select" data-ga4-change-category="update-filter select" data-ga4-section="Topic">

      <%= render "govuk_publishing_components/components/select", {
        id: 'level_one_taxon',
        label: "Topic",
        full_width: true,
        options: taxon_facet.topics
      }
      %>

      <div class="js-required govuk-form-group gem-c-select" data-ga4-section="Sub-topic">
        <%= render "govuk_publishing_components/components/select", {
          id: 'level_two_taxon',
          label: "Sub-topic",
          full_width: true,
          options: taxon_facet.sub_topics
        }
        %>
      </div>
    </div>
  <% end %>
<% end %>
