<% content_for :body do %>
  <%= yield %>
<% end %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Asset helper - GOV.UK</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%=
      render_component_stylesheets
    %>
  </head>
  <body>
    <div id="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
