<%= render 'govuk_publishing_components/components/layout_for_public', {
    emergency_banner: '<div class="govuk-width-container"><p class="govuk-body">This is the emergency banner slot.</p></div>',
    global_bar: '<div class="govuk-width-container govuk-!-margin-top-2"><p class="govuk-body">This is the global bar slot.</p></div>',
    title: "Example public page",
    for_static: true,
    show_explore_header: true,
} do %>
  <%= yield %>
<% end %>
