@import url(asset-path("accessible-autocomplete/dist/accessible-autocomplete.min.css")); // stylelint-disable function-url-quotes

.gem-c-accessible-autocomplete {
  .autocomplete__input {
    z-index: 1;
  }

  .autocomplete__option {
    @include govuk-font(19);
    min-height: 1.3em; // this ensures a blank item has a height
  }

  .autocomplete__list .autocomplete__option {
    padding: 5px 6px;

    &:before {
      position: relative;
      top: 3px;
      padding-top: 2px;
    }
  }
}
