@import "govuk_publishing_components/individual_component_support";

.gem-c-action-link {
  display: table;

  &::before {
    content: "";
    display: table-cell;
    width: 60px;
    height: 45px;
    background: url("govuk_publishing_components/action-link-arrow.png");
    background: url("govuk_publishing_components/action-link-arrow.svg"), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 45px auto;
  }

  @include govuk-media-query($until: tablet) {
    max-width: 410px;
  }
}

.gem-c-action-link__contents-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.gem-c-action-link__link-wrapper {
  display: table-cell;
  vertical-align: middle;
  @include govuk-font(19, $weight: bold, $line-height: 1.3);
}

.gem-c-action-link__link {
  color: inherit;

  &:focus {
    text-decoration: none;
    color: $govuk-focus-text-colour;
  }
}

.gem-c-action-link__nowrap-text {
  white-space: nowrap;
}

.gem-c-action-link--with-subtext {
  max-width: none;

  .gem-c-action-link__link-wrapper,
  .gem-c-action-link__subtext-wrapper {
    display: block;

    @include govuk-media-query($from: tablet) {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.gem-c-action-link--mobile-subtext {
  .gem-c-action-link__subtext-wrapper {
    display: block;
  }

  .gem-c-action-link__subtext {
    padding: 0;

    &::before {
      display: none;
    }
  }
}

.gem-c-action-link__subtext {
  display: block;
  color: inherit;
  @include govuk-font(19);

  @include govuk-media-query($from: tablet) {
    position: relative;
    padding-left: govuk-spacing(4);

    &::before {
      content: "";
      position: absolute;
      top: 10%;
      left: govuk-spacing(2);
      width: govuk-spacing(2);
      height: 80%;
      border-left: solid 1px $govuk-text-colour;
    }
  }
}

.gem-c-action-link--simple {
  &::before {
    width: 30px;
    height: 30px;
    background: url("govuk_publishing_components/action-link-arrow--simple.png");
    background: url("govuk_publishing_components/action-link-arrow--simple.svg"), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-size: 25px auto;
    background-position: 0 2px;
  }
}

.gem-c-action-link--simple-light {
  &::before {
    width: 30px;
    height: 30px;
    background: url("govuk_publishing_components/action-link-arrow--simple-light.png");
    background: url("govuk_publishing_components/action-link-arrow--simple-light.svg"), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-size: 25px auto;
    background-position: 0 2px;
  }
}

.gem-c-action-link--dark-large-icon {
  &::before {
    background: url("govuk_publishing_components/action-link-arrow--dark.png");
    background: url("govuk_publishing_components/action-link-arrow--dark.svg"), linear-gradient(transparent, transparent);
    height: 34px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: 32px auto;
    background-position: 0 2px;
  }

  @include govuk-media-query($until: tablet) {
    margin-bottom: govuk-spacing(2);
  }
}

.gem-c-action-link--light-icon {
  &::before {
    width: 36px;
    height: 28px;
    background: url("govuk_publishing_components/action-link-arrow--light.png");
    background: url("govuk_publishing_components/action-link-arrow--light.svg"), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-size: 28px auto;
    background-position: 0 0;

    @include govuk-media-query($from: tablet) {
      width: 45px;
      height: 35px;
      background-size: 35px auto;
    }
  }
}

.gem-c-action-link--dark-icon {
  max-width: none;

  @include govuk-media-query($until: tablet) {
    margin-bottom: govuk-spacing(2);
  }

  &::before {
    height: 30px;
    width: 35px;
    background: url("govuk_publishing_components/action-link-arrow--dark.png");
    background: url("govuk_publishing_components/action-link-arrow--dark.svg"), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-size: 25px auto;
    background-position: 0 2px;
  }
}

.gem-c-action-link--light-text {
  color: govuk-colour("white");

  .gem-c-action-link__subtext {
    &::before {
      border-color: govuk-colour("white");
    }
  }
}

@include govuk-media-query($media-type: print) {
  .gem-c-action-link {
    * {
      color: $govuk-print-text-colour !important; // stylelint-disable-line declaration-no-important
    }

    &::before {
      display: none;
    }
  }
}
