@import "govuk/components/button/button";
@import "govuk/components/fieldset/fieldset";

.gem-c-add-another {
  .gem-c-add-another__remove-button {
    margin-top: govuk-spacing(6);
    margin-bottom: 0;
  }

  .js-add-another__remove-button--hidden {
    display: none;
  }

  .gem-c-fieldset {
    position: relative;
  }

  .gem-c-add-another__move-button[disabled] {
    display: none;
  }

  .gem-c-add-another__move-button-wrapper {
    position: absolute;
    top: 0;
    right: 0;
  }

  .gem-c-add-another__move-button {
    margin-left: govuk-spacing(2);
  }
}
