@use "govuk_publishing_components/individual_component_support" as govuk_frontend;
@use "govuk/components/button/button";
@use "govuk/components/fieldset/fieldset";

.gem-c-add-another {
  .gem-c-add-another__remove-button {
    margin-top: govuk-spacing(6);
    margin-bottom: 0;
  }

  .js-add-another__remove-button--hidden {
    display: none;
  }
}
