@import url(asset-path("accessible-autocomplete/dist/accessible-autocomplete.min.css"));

// TODO: removed unused classes related to options

.gem-c-accessible-autosuggest {
  .autosuggest__input {
    z-index: 1;
  }

  .autosuggest__dropdown-arrow-down {
    z-index: 0;
  }

  .autosuggest__option {
    @include govuk-font(19);
  }

  // needed as frontend doesn't currently support select multiples
  // hopefully will in future and this can be removed
  .govuk-select[multiple] {
    height: auto;
  }

  .js-enabled & .gem-c-autosuggest__multiselect-instructions {
    display: none;
  }

  .autosuggest__list .autosuggest__option {
    padding: 5px 6px;

    &:before {
      position: relative;
      top: 3px;
      padding-top: 2px;
    }
  }
}

.gem-c-accessible-autosuggest--hide-menu {
  .autosuggest__menu {
    display: none;
  }
}
