@use "govuk_publishing_components/individual_component_support" as govuk_frontend;

.gem-c-back-to-top-link {
  display: inline-block;
  margin-bottom: govuk_frontend.govuk-spacing(2);
  margin-left: govuk_frontend.govuk-spacing(3);
  margin-right: govuk_frontend.govuk-spacing(3);
}

.gem-c-back-to-top-link__icon {
  float: left;
  margin-right: .3em;
  width: .8em;
  height: .968em;
}
