@import "govuk/components/back-link/back-link";


@include govuk-media-query($from: mobile, $until: tablet) {
  .govuk-back-link {
    padding: 14px;

    &[href] {
      border-bottom: 0;
      text-decoration: underline;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 1px;
      left: -3.31px;
      width: 7px;
      height: 7px;
      margin: auto 0;
      -webkit-transform: rotate(225deg);
      -ms-transform: rotate(2255deg);
      transform: rotate(225deg);
      border: solid;
      border-width: 1px 1px 0 0;
      clip-path: inherit;
    }

  }
}
