@import "govuk/components/breadcrumbs/breadcrumbs";

.gem-c-breadcrumbs--inverse .govuk-breadcrumbs__list-item .govuk-breadcrumbs__link {
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: govuk-colour("white");
  }

  &:focus {
    color: $govuk-focus-text-colour;
  }
}

.gem-c-breadcrumbs--inverse .govuk-breadcrumbs__list-item {
  color: govuk-colour("white");
}

.gem-c-breadcrumbs--inverse .govuk-breadcrumbs__list-item:before {
  border-color: govuk-colour("white");
}

@include govuk-media-query($until: tablet) {

  .govuk-breadcrumbs__list {
    display: flex;
  }

  .govuk-breadcrumbs__list-item:not(:last-child):not(:first-child) {
    display: none;
  }

  .govuk-breadcrumbs__list-item {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .govuk-breadcrumbs__list-item:before {
    margin: 0;
    top: 18px;
  }

  .govuk-breadcrumbs__link {
    position: relative;
  }

  .govuk-breadcrumbs__link::after {
    content: "";
    position: absolute;
    top: -14px;
    right: 0;
    left: 0;
    bottom: -14px;
  }
}
