@import "design-patterns/breadcrumbs";
@import "mixins/back-arrow";
@import "mixins/media-down";
@import "mixins/touch-friendly-links";

.gem-c-breadcrumbs {
  // reset the default browser styles
  ol {
    padding: 0;
    margin: 0;
  }

  @include breadcrumbs;
  @include touch-friendly-links();

  .gem-c-breadcrumbs--current {
    color: $secondary-text-colour;
    text-decoration: none;
  }

  @include media-down(mobile) {
    &.gem-c-breadcrumbs--collapse-on-mobile .gem-c-breadcrumbs__item {
      display: none;

      &.gem-c-breadcrumbs--parent {
        background-image: none;
        display: block;
        margin-left: 0;
        padding-left: 14px;
        position: relative;

        &:before {
          @include back-arrow;
        }
      }
    }
  }
}

.gem-c-breadcrumbs--current.gem-c-breadcrumbs--inverse,
.gem-c-breadcrumbs .gem-c-breadcrumbs--inverse {
  color: $white;
}
