@import "govuk/components/breadcrumbs/breadcrumbs";

.gem-c-breadcrumbs--inverse .govuk-breadcrumbs__list-item .govuk-breadcrumbs__link {
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: govuk-colour("white");
  }

  &:focus {
    color: $govuk-focus-text-colour;
  }
}

.gem-c-breadcrumbs--inverse .govuk-breadcrumbs__list-item {
  color: govuk-colour("white");
}

.gem-c-breadcrumbs--inverse .govuk-breadcrumbs__list-item:before {
  border-color: govuk-colour("white");
}

@include govuk-media-query($until: tablet) {
  .govuk-breadcrumbs__list {
    display: flex;
  }

  .govuk-breadcrumbs__list-item:not(:last-child):not(:first-child) {
    display: none;
  }

  .govuk-breadcrumbs__list-item:before {
    top: 5px;
    bottom: auto;
  }
}
