@import "govuk/components/breadcrumbs/breadcrumbs";
@import "mixins/chevron";

.gem-c-breadcrumbs--inverse.govuk-breadcrumbs--collapse-on-mobile .govuk-breadcrumbs__list-item .govuk-breadcrumbs__link {
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: govuk-colour("white");
  }

  &:focus {
    color: $govuk-focus-text-colour;
  }
}

.gem-c-breadcrumbs--inverse.govuk-breadcrumbs--collapse-on-mobile .govuk-breadcrumbs__list-item {
  color: govuk-colour("white");
}

.gem-c-breadcrumbs--inverse.govuk-breadcrumbs--collapse-on-mobile .govuk-breadcrumbs__list-item:after {
  border-color: govuk-colour("white");
}

.govuk-breadcrumbs--collapse-on-mobile .govuk-breadcrumbs__list-item {

  margin-left: 0;
  padding-left: 0;
  margin-right: 20px;
  @include chevron($direction: "right", $color: govuk-colour("dark-grey"));

  &:before,
  &:last-of-type:after {
    display: none;
  }

  @include govuk-media-query($until: tablet) {
    display: none;
    margin-bottom: 0;
    padding: 14px 0;

    &:last-of-type {
      display: inline-block;
      padding-left: 0;
      margin-right: 0;
      max-width: calc(80% - 14px);
    }

    &:first-of-type {
      display: inline-block;
      padding-left: 0;
    }

    &.gem-c-breadcrumbs--parent {
      background-image: none;
      display: block;
      margin-left: 0;
      padding-left: 14px;
      position: relative;
    }
  }
}
