@import "design-patterns/breadcrumbs";
@import "mixins/back-arrow";
@import "mixins/media-down";
@import "mixins/touch-friendly-links";

.govuk-breadcrumbs {
  // reset the default browser styles
  ol {
    padding: 0;
    margin: 0;
  }

  @include breadcrumbs;
  @include touch-friendly-links();

  .breadcrumb-for-current-page {
    color: $secondary-text-colour;
    text-decoration: none;
  }

  @include media-down(mobile) {
    &.collapse-on-mobile li {
      display: none;

      &.parent-breadcrumb {
        background-image: none;
        display: block;
        margin-left: 0;
        padding-left: 14px;
        position: relative;

        &:before {
          @include back-arrow;
        }
      }
    }
  }
}

.breadcrumb-for-current-page.govuk-breadcrumbs--inverse,
.govuk-breadcrumbs .govuk-breadcrumbs--inverse {
  color: $white;
}
