@import "../../../node_modules/@govuk-frontend/frontend/components/button/button";

@import "mixins/media-down";
@import "mixins/margins";

.gem-c-button--bottom-margin {
  @include responsive-bottom-margin;
}

.gem-c-button__info-text {
  display: block;
  margin-top: .5em;
  max-width: 14em;
}
