// This component relies on styles from GOV.UK Frontend

// Specify the functions used to resolve assets paths in SCSS
$govuk-image-url-function: "image-url";
$govuk-font-url-function: "font-url";

@import "../../../../node_modules/govuk-frontend/components/button/button";

@import "mixins/margins";

// this will be moved and extended into a model for general component spacing
// once this has been decided upon and other work completed, see:
// https://trello.com/c/KEkNsxG3/142-3-implement-customisable-spacing-for-components
.gem-c-button--bottom-margin {
  @include responsive-bottom-margin;
}

.gem-c-button__info-text {
  display: block;
  margin-top: .5em;
  max-width: 14em;
}
