@import "mixins/grid-helper";
@import "mixins/prefixed-transform";

.gem-c-cards__heading {
  margin: 0 0 govuk-spacing(6) 0;
}

.gem-c-cards__list {
  @include columns($items: 16, $columns: 1, $selector: "li");
  list-style: none;
  padding: 0;
  // Remove the outermost left and right margin from the internal margin of the list items.
  margin: 0 govuk-spacing(-3);

  @include govuk-media-query($from: "tablet") {
    @include columns($items: 16, $columns: 2, $selector: "li");
  }

  @include govuk-media-query($from: "desktop") {
    @include columns($items: 16, $columns: 3, $selector: "li");
  }
}

.gem-c-cards__list-item {
  border-top: 1px solid $govuk-border-colour;
  // We use grid to split the container into column widths, so manage the horizontal spacing with
  // internal margins.
  margin: 0 govuk-spacing(3);
  padding: govuk-spacing(3) 0 govuk-spacing(6) 0;
  position: relative;
}

.gem-c-cards__sub-heading {
  margin: 0 govuk-spacing(6) govuk-spacing(2) 0;
}

.gem-c-cards__link {
  // Make the entire list item area clickable
  &:after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:before {
    $dimension: 7px;
    $width: 3px;

    border-right: $width solid $govuk-brand-colour;
    border-top: $width solid $govuk-brand-colour;
    content: "";
    height: $dimension;
    position: absolute;
    right: govuk-spacing(1);
    top: govuk-spacing(4);
    @include prefixed-transform($rotate: 45deg);
    width: $dimension;
  }

  &:hover {
    &:before {
      border-color: $govuk-link-hover-colour;
    }
  }

  &:focus {
    &:before {
      border-color: $govuk-focus-text-colour;
    }
  }
}

.gem-c-cards__description {
  margin: 0;
}
