@import "govuk_publishing_components/individual_component_support";

.gem-c-chat-entry {
  display: flex;
  align-items: flex-start;
  background-color: govuk-tint(govuk-colour("blue"), 90%);
  padding: govuk-spacing(4);
}

.gem-c-chat-entry--margin-top-until-tablet {
  @include govuk-media-query($until: tablet) {
    margin-top: 35px;
  }
}

.gem-c-chat-entry--border-top {
  border-top: 2px solid govuk-colour("blue");
  padding-top: govuk-spacing(5);
}

.gem-c-chat-entry--border-bottom {
  border-bottom: 2px solid govuk-colour("blue");
  padding-bottom: govuk-spacing(5);
}

.gem-c-chat-entry__image {
  flex-shrink: 0;
  height: 40px;
  margin-right: govuk-spacing(3);
  width: 40px;
}

.gem-c-chat-entry__heading {
  margin: 0 0 govuk-spacing(2);
  font-size: 19px;
  font-size: govuk-px-to-rem(19);
  line-height: 1.25;
  @include govuk-typography-common;
}
