@import "govuk_publishing_components/individual_component_support";

.gem-c-chart {
  position: relative;

  // slight hack to hide the table automatically added by the charts JS
  // not needed as we already output the table manually in the component
  svg + div:has(table) {
    display: none;
  }

  .google-visualization-tooltip {
    background-color: govuk-colour("black");
    box-shadow: none;
    border: 0;

    span {
      color: govuk-colour("white");
      @include govuk-font($size: 16, $weight: bold);
    }
  }
}

.gem-c-chart__table-wrapper {
  overflow: auto;
}

.gem-c-chart__table {
  margin-top: govuk-spacing(3);

  .govuk-table {
    margin: 0;
  }

  .govuk-table .govuk-table__header {
    text-align: center;
  }

  .govuk-table .govuk-table__cell {
    text-align: center;
  }
}
