@import "govuk_publishing_components/individual_component_support";

.gem-c-chart__table-wrapper {
  overflow: auto;
}

.gem-c-chart__table {
  margin-top: govuk-spacing(3);

  .govuk-table {
    margin: 0;
  }

  .govuk-table .govuk-table__header {
    text-align: center;
  }

  .govuk-table .govuk-table__cell {
    text-align: center;
  }
}

.gem-c-chart__accessibility-message {
  @include govuk-visually-hidden;
}

.gem-c-chart {
  .google-visualization-tooltip {
    background-color: govuk-colour("black");
    box-shadow: none;
    border: 0;

    span {
      color: govuk-colour("white");
      @include govuk-font($size: 16, $weight: bold);
    }
  }
}
