@import "govuk_publishing_components/individual_component_support";
// @import "govuk/components/checkboxes/checkboxes";

.govuk-checkboxes--nested {
  width: 100%;
  margin-left: govuk-spacing(4);
  box-sizing: border-box;
  border-left-style: solid;
  border-left-width: 4px;
  border-color: govuk-colour("mid-grey");
  margin-top: govuk-spacing(2);
  margin-bottom: govuk-spacing(2);
  padding: govuk-spacing(2) govuk-spacing(4);
}

.gem-c-checkboxes {
  .gem-c-checkboxes__legend--hidden {
    @include govuk-visually-hidden;
  }
}

.gem-c-checkboxes__heading-text {
  margin: 0;
}
