@import "govuk_publishing_components/individual_component_support";
@import "govuk/components/checkboxes/checkboxes";

.govuk-checkboxes--nested {
  margin-left: -(govuk-spacing(4) + 2px); // 22px
  box-sizing: border-box;
  border-left-style: solid;
  border-left-width: 4px;
  border-color: govuk-colour("mid-grey");
  margin-top: govuk-spacing(2);
  margin-bottom: govuk-spacing(2);
  padding: govuk-spacing(2) govuk-spacing(4);

  &.gem-c-checkboxes__list {
    padding-left: govuk-spacing(4);
  }
}

.govuk-checkboxes__conditional {
  margin-top: govuk-spacing(2);
  margin-left: -(govuk-spacing(4) + 2px); // 22px
}

.gem-c-checkboxes__list {
  padding-left: govuk-spacing(0);
  margin: 0;
}

.gem-c-checkboxes__divider {
  @include govuk-font($size: 19);
  @include govuk-text-colour;
  list-style-type: none;
  margin-bottom: govuk-spacing(2);
  text-align: center;
  width: 40px;
}

.gem-c-checkboxes {
  // this is complex but needed to override the govuk-frontend styles in
  // https://github.com/alphagov/govuk-frontend/blob/b8058640b9602ecb6e1f66f887553190cbae7b46/src/components/hint/_hint.scss#L16
  // our elements are wrapped in list items that already provide a margin-bottom
  .govuk-label:not(.govuk-label--m):not(.govuk-label--l):not(.govuk-label--xl) + .govuk-hint {
    margin-bottom: 0;
  }

  .gem-c-checkboxes__legend--hidden {
    @include govuk-visually-hidden;
  }
}

.gem-c-checkboxes__heading-text {
  margin: 0;
}
