@use "govuk_publishing_components/individual_component_support" as govuk_frontend;
@use "govuk/components/checkboxes/checkboxes";

.govuk-checkboxes--nested {
  width: 100%;
  margin-left: govuk_frontend.govuk-spacing(4);
  box-sizing: border-box;
  border-left-style: solid;
  border-left-width: 4px;
  border-color: govuk_frontend.govuk-colour("mid-grey");
  margin-top: govuk_frontend.govuk-spacing(2);
  margin-bottom: govuk_frontend.govuk-spacing(2);
  padding: govuk_frontend.govuk-spacing(2) govuk_frontend.govuk-spacing(4);
}

.gem-c-checkboxes {
  .gem-c-checkboxes__legend--hidden {
    @include govuk_frontend.govuk-visually-hidden;
  }
}

.gem-c-checkboxes__heading-text {
  margin: 0;
}
