$red: #e61e32;
$dark-red: #b31424;
$yellow: #ffdd00;

.gem-c-chevron-banner {
  position: relative;
}

.gem-c-chevron-banner__chevron-point,
.gem-c-chevron-banner__chevron-base {
  stroke: $red;
  stroke-width: 2.4;
}

.gem-c-chevron-banner:hover,
.gem-c-chevron-banner--hover-border:hover {
  .gem-c-chevron-banner__text {
    background-color: $dark-red;
    border-color: $dark-red;
  }

  .gem-c-chevron-banner__chevron-point,
  .gem-c-chevron-banner__chevron-base {
    fill: $dark-red;
    stroke: $dark-red;
  }
}

.gem-c-chevron-banner--hover-border:hover {
  .gem-c-chevron-banner__text {
    border-color: govuk-colour("white");
  }

  .gem-c-chevron-banner__chevron-point,
  .gem-c-chevron-banner__chevron-base {
    stroke: govuk-colour("white");
  }
}

.gem-c-chevron-banner__link:focus {
  background-color: transparent; // This is to override some generic link styling which sets a background colour on focus
  text-decoration: none;
  outline: 0;

  .gem-c-chevron-banner__text {
    color: govuk-colour("black");
    background-color: $yellow;
    border-color: govuk-colour("black");
  }

  .gem-c-chevron-banner__text:after {
    background-image: image-url("govuk_publishing_components/chevron-banner/chevron-banner-small-focus.svg");
  }

  .gem-c-chevron-banner__chevron-point,
  .gem-c-chevron-banner__chevron-base {
    fill: $yellow;
    stroke: govuk-colour("black");
  }
}

.gem-c-chevron-banner__chevron {
  display: none;

  @include govuk-media-query(450px) {
    display: inline-block;
    height: 100%;
    position: absolute;
    left: 70%;
    margin-left: (45px + govuk-spacing(4));
    top: 0;
  }

  @include govuk-media-query($from: 450px, $until: desktop) {
    margin-left: (25px + govuk-spacing(2));
  }
}

.gem-c-chevron-banner__text:after {
  content: "";
  position: absolute;
  right: 15px;
  top: 0;
  width: 25px;
  height: 100%;
  background-image: image-url("govuk_publishing_components/chevron-banner/chevron-banner-small.svg");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center right;

  @include govuk-media-query(450px) {
    display: none;
  }
}

.gem-c-chevron-banner__text {
  display: block;
  position: relative;
  padding: govuk-spacing(4) 45px govuk-spacing(4) govuk-spacing(4);
  background-color: $red;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  border: 2px solid $red;
  z-index: 1;

  @include govuk-media-query($from: 450px, $until: desktop) {
    padding: govuk-spacing(2) 25px govuk-spacing(2) govuk-spacing(2);
  }

  @include govuk-media-query($from: 450px) {
    border-radius: 5px 0 0 5px;
    border-right: 0;
    width: 70%;
    box-sizing: content-box;
  }
}

.gem-c-chevron-banner__link:link,
.gem-c-chevron-banner__link:visited,
.gem-c-chevron-banner__link:hover {
  @include govuk-font(24, $weight: bold);
  color: govuk-colour("white");
  text-decoration: none;
}

// IE "hack" to stop the chevron SVG being stretched
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .gem-c-chevron-banner__chevron {
    max-width: 160px;
  }
}

@media screen and (min-width: 0\0) {
  .gem-c-chevron-banner__chevron {
    max-width: 160px;
  }
}
