@import "govuk_publishing_components/individual_component_support";

.gem-c-contextual-sidebar__related-links {
  border-top: 2px solid $govuk-brand-colour;
}

.gem-c-contextual-sidebar__heading {
  margin-top: govuk-spacing(3);
  margin-bottom: govuk-spacing(2);
  color: $govuk-text-colour;
}

.gem-c-contextual-sidebar__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gem-c-contextual-sidebar__text {
  margin-bottom: govuk-spacing(1);
  @include govuk-font(16);

  @include govuk-media-query($from: tablet) {
    margin-bottom: govuk-spacing(2);
  }
}

.gem-c-contextual-sidebar__cta {
  border-top: 2px solid $govuk-brand-colour;
  margin-bottom: govuk-spacing(6);
  background-color: govuk-colour("light-grey");
  display: block;
  padding: 0 govuk-spacing(3) govuk-spacing(3);
  text-decoration: none;
}

.gem-c-contextual-sidebar__cta-ukraine {
  margin-top: -7px;
  border-top: 7px solid #4b7ec1;

  .gem-c-contextual-sidebar__cta {
    border-top: 7px solid #fed700;
  }
}
