$transition-campaign-red: #ff003b;
$transition-campaign-dark-blue: #1e1348;

.gem-c-contextual-sidebar__brexit-related-links {
  border-top: 2px solid $govuk-brand-colour;
}

.gem-c-contextual-sidebar__brexit-heading {
  @extend %govuk-heading-s;
  margin-top: govuk-spacing(3);
  margin-bottom: govuk-spacing(2);
}

.gem-c-contextual-sidebar__brexit-cta {
  margin-bottom: govuk-spacing(6);
  background-color: govuk-colour('light-grey', $legacy: 'grey-4');
  border-top: 2px solid $transition-campaign-red;
  display: block;
  padding: 0 govuk-spacing(3) govuk-spacing(3);
  text-decoration: none;

  .gem-c-contextual-sidebar__brexit-heading {
    color: $govuk-text-colour;
  }

  .gem-c-contextual-sidebar__brexit-text {
    @extend %govuk-link;
    @include govuk-font(16);

    margin-top: 0;
    margin-bottom: 0;
    text-decoration: underline;

    @include govuk-media-query($from: tablet) {
      margin-bottom: govuk-spacing(2);
    }
  }
}

.gem-c-contextual-sidebar__brexit-cta:focus {
  .gem-c-contextual-sidebar__brexit-text {
    text-decoration: none;
  }
}

.gem-c-contextual-sidebar__take-action-traffic-lights {
  text-align: left;
  margin-bottom: govuk-spacing(2);
}

.gem-c-contextual-sidebar__take-action-traffic-lights > li {
  white-space: nowrap;
  display: inline;
  margin-right: 7px;
  margin-bottom: govuk-spacing(1);
}

.gem-c-contextual-sidebar__take-action-traffic-lists-icon {
  vertical-align: middle;
  margin-top: -2px;
  width: 22px;
  margin-right: 2px;
}

.gem-c-contextual-sidebar__take-action-traffic-lists-text {
  @include govuk-font($size: 19, $weight: bold, $line-height: 2);
  vertical-align: middle;
}
