@use "govuk_publishing_components/individual_component_support" as govuk_frontend;

.gem-c-contextual-guidance {
  .govuk-grid-column-one-third {
    position: relative;
  }

  &:last-of-type {
    .gem-c-contextual-guidance__wrapper {
      position: relative;
      width: 100%;
    }
  }
}

.gem-c-contextual-guidance__wrapper {
  position: relative;
  margin-bottom: govuk_frontend.govuk-spacing(7);
  @include govuk_frontend.govuk-font(19);

  @include govuk_frontend.govuk-media-query($from: tablet) {
    margin-bottom: govuk_frontend.govuk-spacing(7);
    padding-top: govuk_frontend.govuk-spacing(6);
  }
}

.govuk-frontend-supported {
  .gem-c-contextual-guidance__wrapper {
    display: none;

    @include govuk_frontend.govuk-media-query($from: tablet) {
      position: absolute;
      width: calc(100% - #{govuk_frontend.govuk-spacing(6)});
    }
  }
}

.gem-c-contextual-guidance__guidance {
  padding-left: govuk_frontend.govuk-spacing(3);
  border-left: 4px solid govuk_frontend.$govuk-focus-colour;
  background: govuk_frontend.govuk-colour("white");

  @include govuk_frontend.govuk-media-query($from: tablet) {
    padding-top: govuk_frontend.govuk-spacing(5);
    padding-left: 0;
    border-top: 5px solid govuk_frontend.$govuk-focus-colour;
    border-left: 0;
  }
}
