@use "govuk_publishing_components/individual_component_support" as govuk_frontend;

.gem-c-contextual-sidebar__related-links {
  border-top: 2px solid govuk_frontend.$govuk-brand-colour;
}

.gem-c-contextual-sidebar__heading {
  margin-top: govuk_frontend.govuk-spacing(3);
  margin-bottom: govuk_frontend.govuk-spacing(2);
  color: govuk_frontend.$govuk-text-colour;
}

.gem-c-contextual-sidebar__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gem-c-contextual-sidebar__text {
  margin-bottom: govuk_frontend.govuk-spacing(1);
  @include govuk_frontend.govuk-font(16);

  @include govuk_frontend.govuk-media-query($from: tablet) {
    margin-bottom: govuk_frontend.govuk-spacing(2);
  }
}

.gem-c-contextual-sidebar__cta {
  border-top: 2px solid govuk_frontend.$govuk-brand-colour;
  margin-bottom: govuk_frontend.govuk-spacing(6);
  background-color: govuk_frontend.govuk-colour("light-grey");
  display: block;
  padding: 0 govuk_frontend.govuk-spacing(3) govuk_frontend.govuk-spacing(3);
  text-decoration: none;
}

.gem-c-contextual-sidebar__cta--ukraine {
  border-top: 7px solid #fed700;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -14px;
    border-top: 7px solid #4b7ec1;
  }
}
