$govuk-cookie-banner-background: govuk-colour("light-grey", "grey-4");

.js-enabled {
  .gem-c-cookie-banner {
    display: none; // shown with JS, always on for non-JS
  }
}

.gem-c-cookie-banner {
  @include govuk-font($size: 16);
  padding: govuk-spacing(2) 0;
  background-color: $govuk-cookie-banner-background;
}

.gem-c-cookie-banner__message {
  display: inline-block;
  padding-bottom: govuk-spacing(2);

  @include govuk-font($size: 16);
  @include govuk-media-query($from: desktop) {
    padding-right: govuk-spacing(4);
  }
}

.gem-c-cookie-banner__button {

  &.govuk-grid-column-one-half-from-desktop {
    padding: 0;
  }

  .govuk-button {
    @include govuk-media-query($from: desktop) {
      width: 90%;
    }

    @include govuk-media-query($until: desktop) {
      margin-bottom: govuk-spacing(4);
    }

  }
}

// Only show accept button if users have js and can accept
.gem-c-cookie-banner__button-accept {
  display: none;
}

.js-enabled .gem-c-cookie-banner__button-accept {
  display: inline-block;
}


.gem-c-cookie-banner__confirmation {
  display: none;
  position: relative;
  padding: govuk-spacing(1);


  // This element is focused using JavaScript so that it's being read out by screen readers
  // for this reason we don't want to show the default outline or emphasise it visually using `govuk-focused-text`
  &:focus {
    outline: none;
  }
}

.gem-c-cookie-banner__confirmation-message,
.gem-c-cookie-banner__hide-button {
  display: block;

  @include govuk-media-query($from: desktop) {
    display: inline-block;
  }
}

.gem-c-cookie-banner__confirmation-message {
  margin-right: govuk-spacing(4);

  @include govuk-media-query($from: desktop) {
    max-width: 90%;
    margin-bottom: 0;
  }
}

.gem-c-cookie-banner__hide-button {
  @include govuk-font($size: 19);
  outline: 0;
  border: 0;
  background: none;
  text-decoration: underline;
  color: $govuk-link-colour;
  padding: govuk-spacing(0);
  margin-top: govuk-spacing(2);

  &:hover {
    color: $govuk-link-hover-colour;
    cursor: pointer;
  }

  &:focus {
    @include govuk-focused-text;
  }

  @include govuk-media-query($from: desktop) {
    margin-top: govuk-spacing(0);
    position: absolute;
    right: govuk-spacing(1);
  }
}

.gem-c-cookie-banner__buttons--flex {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  .govuk-button {
    flex-grow: 1;
    flex-basis: 10rem;
    margin-right: govuk-spacing(3);
    margin-bottom: govuk-spacing(3);
  }

  .gem-c-cookie-banner__link {
    flex-grow: 1;
    display: inline-block;
  }
}

// Override the styles from govuk_template
// scss-lint:disable IdSelector
// sass-lint:disable no-ids
.gem-c-cookie-banner#global-cookie-message {
  background-color: $govuk-cookie-banner-background;
  padding: govuk-spacing(4) 0;
  box-sizing: border-box;

  .gem-c-cookie-banner__message,
  .gem-c-cookie-banner__buttons,
  .gem-c-cookie-banner__confirmation,
  .gem-c-cookie-banner__confirmation-message {
    @include govuk-font($size: 19);
  }

  .gem-c-cookie-banner__message {
    margin-bottom: 0;
  }

  p {
    @include govuk-font($size: 19);
    margin: 0 0 govuk-spacing(2) 0;
  }

  .gem-c-cookie-banner__confirmation-message {
    @include govuk-media-query($from: desktop) {
      margin-bottom: 0;
    }
  }
}
// sass-lint:enable no-ids
// scss-lint:enable IdSelector
