@import "govuk_publishing_components/individual_component_support";
@import "govuk/components/cookie-banner/cookie-banner";

.gem-c-cookie-banner {
  [hidden],
  .govuk-button-group[hidden],
  .govuk-cookie-banner__heading[hidden] {
    display: none;
  }
}

.gem-c-cookie-banner__confirmation {
  // This element is focused using JavaScript so that it's being read out by screen readers
  // for this reason we don't want to show the default outline or emphasise it visually using `govuk-focused-text`
  &:focus {
    outline: none;
  }
}

@include govuk-media-query($media-type: print) {
  .gem-c-cookie-banner {
    display: none !important; // stylelint-disable-line declaration-no-important
  }
}
