@use "govuk_publishing_components/individual_component_support" as govuk_frontend;

.gem-c-devolved-nations {
  background: govuk_frontend.govuk-colour("light-grey");
  margin-bottom: govuk_frontend.govuk-spacing(3);
  padding: govuk_frontend.govuk-spacing(3);

  @include govuk_frontend.govuk-media-query($from: desktop) {
    margin-bottom: govuk_frontend.govuk-spacing(8);
    padding: govuk_frontend.govuk-spacing(4) govuk_frontend.govuk-spacing(6);
  }
}

@include govuk_frontend.govuk-media-query($media-type: print) {
  .gem-c-devolved-nations {
    border: 2pt solid govuk_frontend.$govuk-print-text-colour;
    margin: 0 0 5mm;

    * {
      color: govuk_frontend.$govuk-print-text-colour !important; // stylelint-disable-line declaration-no-important
    }

    .govuk-list li {
      margin-bottom: 2mm;
    }
  }
}
