.gem-c-devolved-nations {
  background: govuk-colour("light-grey");
  margin-bottom: govuk-spacing(3);
  padding: govuk-spacing(3);

  @include govuk-media-query($from: desktop) {
    margin-bottom: govuk-spacing(8);
    padding: govuk-spacing(4) govuk-spacing(6);
  }
}

@include govuk-media-query($media-type: print) {
  .gem-c-devolved-nations {
    border: 2pt solid $govuk-print-text-colour;
    margin: 0 0 5mm;

    * {
      color: $govuk-print-text-colour !important; // stylelint-disable-line declaration-no-important
    }

    .govuk-list li {
      margin-bottom: 2mm;
    }
  }
}
