.gem-c-document-list__item {
  overflow: hidden;
  margin-bottom: $gutter-one-third;
  padding-bottom: $gutter-one-third;
  border-bottom: 1px solid $border-colour;
  list-style: none;

  &:last-child {
    border-bottom: none;
  }
}

.gem-c-document-list__item-title {
  @include bold-19;
}

.gem-c-document-list__item-description {
  margin-bottom: 5px;
}

.gem-c-document-list__attribute {
  @include core-14;
  float: left;
  list-style: none;
  padding-right: $gutter-two-thirds;
}

.gem-c-document-list--bottom-margin {
  margin-bottom: $gutter-two-thirds;
}

.gem-c-document-list--top-margin {
  margin-top: $gutter-two-thirds;
}
