@import "govuk_publishing_components/individual_component_support";
@import "govuk/components/error-summary/error-summary";

.gem-c-error-summary__list-item {
  @include govuk-font($size: 19, $weight: bold);
  color: $govuk-error-colour;
}
