@import "govuk_publishing_components/individual_component_support";

.gem-c-error-alert {
  color: $govuk-text-colour;
  padding: govuk-spacing(3);
  border: $govuk-border-width-narrow solid $govuk-error-colour;
  @include govuk-responsive-margin(8, "bottom");

  @include govuk-media-query($from: tablet) {
    padding: govuk-spacing(4);
    border-width: $govuk-border-width;
  }
}

.gem-c-error-alert__message {
  margin: 0;
  @include govuk-font(19, $weight: bold);
}

.gem-c-error-summary__title {
  margin-top: 0;
  margin-bottom: govuk-spacing(3);

  @include govuk-media-query($from: tablet) {
    margin-bottom: govuk-spacing(4);
  }

  @include govuk-font(24, $weight: bold);
}

.gem-c-error-summary__body {
  margin: 0;
  @include govuk-font(19);
}

.gem-c-error-alert:focus {
  outline: $govuk-focus-width solid $govuk-focus-colour;
}
