@use "govuk_publishing_components/individual_component_support" as govuk_frontend;

.gem-c-error-alert {
  color: govuk_frontend.$govuk-text-colour;
  padding: govuk_frontend.govuk-spacing(3);
  border: govuk_frontend.$govuk-border-width-narrow solid govuk_frontend.$govuk-error-colour;
  @include govuk_frontend.govuk-responsive-margin(8, "bottom");

  @include govuk_frontend.govuk-media-query($from: tablet) {
    padding: govuk_frontend.govuk-spacing(4);
    border-width: govuk_frontend.$govuk-border-width;
  }
}

.gem-c-error-alert__message {
  margin: 0;
  @include govuk_frontend.govuk-font(19, $weight: bold);
}

.gem-c-error-summary__title {
  margin-top: 0;
  margin-bottom: govuk_frontend.govuk-spacing(3);

  @include govuk_frontend.govuk-media-query($from: tablet) {
    margin-bottom: govuk_frontend.govuk-spacing(4);
  }

  @include govuk_frontend.govuk-font(24, $weight: bold);
}

.gem-c-error-summary__body {
  margin: 0;
  @include govuk_frontend.govuk-font(19);
}

.gem-c-error-alert:focus {
  outline: govuk_frontend.$govuk-focus-width solid govuk_frontend.$govuk-focus-colour;
}
