@import "govuk_publishing_components/individual-component-support";
@import "govuk/components/error-summary/error-summary";

.gem-c-error-summary__list-item {
  color: $govuk-error-colour;
  @include govuk-font($size: 19, $weight: bold);
}
