@import "helpers/variables";
@import "mixins/clearfix";

.gem-c-fieldset {
  margin: 0 0 $gem-spacing-scale-4;

  @include media(tablet) {
    margin-bottom: $gem-spacing-scale-5;
  }

  padding: 0;
  border: 0;
  @include gem-h-clearfix;
}

.gem-c-fieldset__legend {
  // Fix legend text wrapping in Edge and IE
  // 1. IE9-11 & Edge 12-13
  // 2. IE8-11
  box-sizing: border-box; // 1
  display: table;         // 2
  max-width: 100%;        // 1
  padding: 0;
  // Hack to let legends or elements within legends have margins in webkit browsers
  overflow: hidden;

  color: $gem-text-colour;
  white-space: normal;    // 1
  @include core-19;
}
