@import "govuk_publishing_components/individual_component_support";

$gap: govuk-spacing(1);

.gem-c-figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: $gap;
}

.gem-c-figure__image {
  margin: 0 auto;
  max-width: 100%;
}

.gem-c-figure__figcaption {
  display: flex;
  flex-direction: column;
  row-gap: $gap;
}

.gem-c-figure__figcaption-text {
  margin: 0;
  text-align: center;
  color: $govuk-secondary-text-colour;
  @include govuk-font(16);
}
