@use "govuk_publishing_components/individual_component_support" as govuk_frontend;

.gem-c-figure {
  border-top: 1px solid govuk_frontend.$govuk-border-colour;
  padding-top: govuk_frontend.govuk-spacing(3);
  margin: 0;
  margin-bottom: govuk_frontend.govuk-spacing(8);
  @include govuk_frontend.govuk-clearfix;

  @include govuk_frontend.govuk-media-query($until: tablet) {
    margin-bottom: govuk_frontend.govuk-spacing(6);
  }
}

.gem-c-figure__image {
  display: block;
  width: 100%;

  @include govuk_frontend.govuk-media-query($from: tablet) {
    float: inline-start;
    width: 50%;
  }
}

.gem-c-figure__figcaption {
  @include govuk_frontend.govuk-font(16);

  @include govuk_frontend.govuk-media-query($from: tablet) {
    display: block;
    vertical-align: top;
    box-sizing: border-box;
    float: inline-end;
    padding-inline-start: govuk_frontend.govuk-spacing(3);
    width: 50%;
  }

  @include govuk_frontend.govuk-media-query($until: tablet) {
    margin-top: govuk_frontend.govuk-spacing(2);
  }
}

.gem-c-figure__figcaption-text {
  margin: 0;
  margin-bottom: govuk_frontend.govuk-spacing(2);
  @include govuk_frontend.govuk-font(16);
}
