@import "govuk_publishing_components/individual_component_support";

// stylelint-disable selector-max-id
.show-global-banner #global-header-bar {
  display: none;
}

$covid-yellow: #fff500;
$covid-grey: #262828;

.gem-c-global-banner {
  background-color: #d9e7f2;
  border-top: govuk-spacing(2) solid govuk-colour("blue");
  display: none;
  @include govuk-font(19);

  .show-global-banner & {
    display: block;
  }

  .govuk-link,
  .govuk-link:link {
    color: govuk-colour("black");

    &:visited {
      color: govuk-colour("black");
    }

    &:focus {
      color: govuk-colour("black");
    }
  }
}

.gem-c-global-banner-message {
  margin-bottom: 0;
  margin-top: 0;
  padding: govuk-spacing(4) 0;
}

.gem-c-global-banner-title {
  font-weight: 700;
  margin-right: govuk-spacing(2);
  margin-bottom: govuk-spacing(1);

  &:only-child {
    margin: 0;
  }
}

.gem-c-global-banner-title,
.gem-c-global-banner-text {
  color: govuk-colour("black");
}

.gem-c-global-banner-title__nowrap {
  white-space: nowrap;
}

.gem-c-global-banner-dismiss-wrapper {
  margin-top: govuk-spacing(4);
}

.gem-c-global-banner__dismiss {
  display: none;
}

.gem-c-global-banner__dismiss--show {
  display: inline-block;
}

.gem-c-govspeak .gem-c-global-banner__heading {
  margin-top: 0;
  margin-bottom: govuk-spacing(1);
  @include govuk-font(19, $weight: bold);
}

.gem-c-govspeak .gem-c-global-banner__list {
  margin-top: 0;
}

.gem-c-global-banner__list {
  margin-top: 0;
}
