@import "govuk_publishing_components/individual_component_support";

@import "govspeak/attachment";
@import "govspeak/button";
@import "govspeak/call-to-action";
@import "govspeak/charts";
@import "govspeak/contact";
@import "govspeak/example";
@import "govspeak/footnotes";
@import "govspeak/form-download";
@import "govspeak/fraction";
@import "govspeak/highlight-answer";
@import "govspeak/images";
@import "govspeak/information-callout";
@import "govspeak/legislative-list";
@import "govspeak/media-player";
@import "govspeak/place";
@import "govspeak/stat-headline";
@import "govspeak/steps";
@import "govspeak/tables";
@import "govspeak/typography";
@import "govspeak/warning-callout";

.govspeak, // Legacy class name that's still used in some content items - needs to be kept until `.govspeak` is removed from the content items.
.gem-c-govspeak {
  &.gem-c-govspeak--direction-rtl {
    direction: rtl;
    text-align: start;
  }
}

@include govuk-media-query($media-type: print) {
  // stylelint-disable max-nesting-depth

  .gem-c-govspeak {
    a[href^="/"]:after,a[href^="http://"]:after,a[href^="https://"]:after {
      content: " (" attr(href) ")";
      font-size: 90%;
      word-wrap: break-word;
    }

    .fraction {
      img {
        display: inline-block;
        margin-bottom: -7px;
      }
    }

    .mc-toggle-button,
    .mc-chart-container {
      display: none;
    }
  }
}
