.gem-c-heading {
  @include govuk-text-colour;
  @include govuk-font(27, $weight: bold);
  margin: 0;
}

.gem-c-heading--font-size-24 {
  @include govuk-font(24, $weight: bold);
}

.gem-c-heading--font-size-19 {
  @include govuk-font(19, $weight: bold);
}

// special case for publications and consultations pages
// separated to allow normalisation of the component for wider use
.gem-c-heading--mobile-top-margin {
  margin-top: govuk-spacing(6);
  margin-bottom: govuk-spacing(3);

  @include govuk-media-query($from: tablet) {
    margin-top: 0;
    margin-bottom: govuk-spacing(6);
  }
}

.gem-c-heading--padding {
  padding: govuk-spacing(3) 0;
}

// margins would ideally be handled by a general model for all components
// but we don't have one yet, so this is in anticipation of that
// suggested scale is as follows, not fully implemented
// govuk-spacing(6)= 4
// govuk-spacing(4) = 3
// govuk-spacing(3) = 2
// govuk-spacing(2) = 1
.gem-c-heading--margin-bottom-4 {
  margin-bottom: govuk-spacing(6);
}

.gem-c-heading--margin-bottom-2 {
  margin-bottom: govuk-spacing(3);
}

// border color will default to black
// can be changed using the branding functionality
.gem-c-heading--border-top-1 {
  border-top-style: solid;
  border-top-width: 1px;
}

.gem-c-heading--border-top-2 {
  border-top-style: solid;
  border-top-width: 2px;
}

.gem-c-heading--border-top-5 {
  border-top-style: solid;
  border-top-width: 5px;
}
