.gem-c-image-card {
  @include govuk-clearfix;
  @include govuk-text-colour;
  position: relative;
  margin-bottom: govuk-spacing(6);
  display: flex;
  display: -ms-flexbox;
  flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;

  @include govuk-media-query($from: mobile, $until: tablet) {
    display: block;

    .gem-c-image-card__text-wrapper {
      float: right;
      padding-left: 0;
    }
  }
}

.gem-c-image-card__header-and-context-wrapper {
  display: flex;
  flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
}

.gem-c-image-card__image-wrapper {
  margin: 0;

  @include govuk-media-query($from: tablet) {
    margin-bottom: govuk-spacing(2);
    height: 100%;
  }

  + .gem-c-image-card__text-wrapper {
    @include govuk-media-query($until: tablet) {
      padding-left: 0;
    }
  }
}

@include govuk-media-query($from: mobile, $until: tablet) {
  .gem-c-image-card {
    margin: 0 (- govuk-spacing(3)) govuk-spacing(6) (- govuk-spacing(3));
  }

  .gem-c-image-card__image-wrapper {
    @include govuk-grid-column($width: one-half, $at: mobile);
  }

  .gem-c-image-card__text-wrapper {
    @include govuk-grid-column($width: one-half, $at: mobile);
  }
}

.gem-c-image-card__image {
  display: block;
  height: auto;
  width: 100%;
  border-top: 1px solid $govuk-border-colour;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.gem-c-image-card__title {
  margin: 0;
}

.gem-c-image-card__title-link {
  &:focus {
    text-decoration: none;
  }

  // the after element extends the link to cover the image, removing the
  // need for a duplicate link. Other elements apart from the image are given
  // position relative and a higher z-index to put them above the after element
  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    $ie-background: rgba(255, 255, 255, 0);
    background: $ie-background; // because internet explorer
    -ms-high-contrast-adjust: none;
  }

  @include govuk-media-query($from: mobile, $until: tablet) {
    &:after {
      left: govuk-spacing(3);
      right: govuk-spacing(3);
    }
  }
}

.gem-c-image-card__context,
.gem-c-image-card__metadata,
.gem-c-image-card__description {
  position: relative;
  z-index: 2;
}

.gem-c-image-card__context,
.gem-c-image-card__metadata {
  @include govuk-font($size: false);
  font-size: 16px;
  font-size: govuk-px-to-rem(16px);
  margin: 0 0 (govuk-spacing(3) / 2);
  color: govuk-colour("dark-grey", $legacy: "grey-1");

  @include govuk-media-query($from: tablet) {
    margin-bottom: 0;
  }
}

.gem-c-image-card__description {
  @include govuk-font($size: 19);
  padding-top: (govuk-spacing(3) / 2);
  word-wrap: break-word;
}

.gem-c-image-card__list {
  @include govuk-font($size: 19);
  position: relative;
  z-index: 2;
  padding: (govuk-spacing(3) / 2) 0 0 0;
  margin: 0;
  list-style: none;

  .gem-c-image-card__list-item {
    margin-bottom: govuk-spacing(1);
  }

  .gem-c-image-card__list-item--text {
    color: govuk-colour("dark-grey", $legacy: "grey-1");
  }

  .gem-c-image-card__list-item-link {
    line-height: 1.35em;
  }

  &.gem-c-image-card__list--indented {
    padding-left: govuk-spacing(3);

    .gem-c-image-card__list-item {
      position: relative;

      &:before { // stylelint-disable-line max-nesting-depth
        content: "-";
        position: absolute;
        left: (- govuk-spacing(3));
      }
    }
  }
}

.gem-c-image-card--large.gem-c-image-card {
  display: flex;
  margin: 0 0 govuk-spacing(6) 0;
  @include govuk-media-query($from: tablet) {
    display: block;
  }
}

.gem-c-image-card--large {
  .gem-c-image-card__image-wrapper {
    @include govuk-grid-column($width: one-half, $at: tablet);

    margin-bottom: govuk-spacing(2);
    float: none;
    width: auto;
    max-width: 100%;
    padding: 0;

    @include govuk-media-query($from: tablet) {
      padding: 0 govuk-spacing(2) 0 0;
      margin-bottom: 0;
    }
  }

  .gem-c-image-card__text-wrapper {
    @include govuk-grid-column($width: one-half, $at: tablet);

    padding: 0;
    overflow: hidden;

    @include govuk-media-query($from: tablet) {
      float: right;
      padding: 0 govuk-spacing(3);
      margin-bottom: 0;
    }
  }

  .gem-c-image-card__title {
    padding-bottom: govuk-spacing(2);
  }

  .gem-c-image-card__title-link:after {
    left: 0;
    right: 0;
  }

  .gem-c-image-card__description {
    @include govuk-font(19);
  }
}

.gem-c-image-card--no-image {
  .gem-c-image-card__text-wrapper {
    @include govuk-media-query($from: mobile, $until: tablet) {
      float: left;
      padding: 0 govuk-spacing(3);
    }
  }
}
