@import 'grid_layout';

.gem-c-image-card {
  // if this extends grid-row a margin-bottom can't
  // be applied as the extend overrides it
  @extend %contain-floats;
  margin: 0 (-$gutter-half);
  margin-bottom: $gutter;
  position: relative;
}

.gem-c-image-card__image-wrapper {
  @include grid-column( 1 / 3, mobile );
  padding-right: 0;

  @include media(tablet) {
    margin-bottom: $gutter-one-third;
  }
}

.gem-c-image-card__image {
  display: block;
  max-width: 100%;
}

.gem-c-image-card__text-wrapper {
  @include grid-column( 2 / 3, mobile );
}

.gem-c-image-card__metadata,
.gem-c-image-card__description {
  position: relative;
  z-index: 2;
}

.gem-c-image-card__metadata {
  @include core-14;
  color: $grey-1;
}

.gem-c-image-card__title {
  @include bold-19;
  margin-bottom: $gutter-one-quarter;
  text-decoration: none;
}

.gem-c-image-card__title-link {
  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
