// Forked from GOV.UK Frontend, namespace changed to ensure no conflicts.

$app-spacing-scale-0: 0;
$app-spacing-scale-1: 5px;
$app-spacing-scale-2: 10px;
$app-spacing-scale-3: 15px;
$app-spacing-scale-4: 20px;
$app-spacing-scale-5: 30px;
$app-spacing-scale-6: 40px;
$app-spacing-scale-7: 50px;
$app-spacing-scale-8: 60px;

// Border widths
$app-border-width-form-element: 2px;

// Focus
$app-focus-width: 3px;
$app-focus-colour: $focus-colour;

$app-error-colour: $red;
$app-border-width-error: 4px;

.gem-c-input {
  @include core-19;

  box-sizing: border-box;
  width: 100%;
  height: 2.10526em;
  margin-top: 0;
  margin-bottom: 20px;

  padding: $app-spacing-scale-1;
  // setting any background-color makes text invisible when changing colours to dark backgrounds in Firefox (https://bugzilla.mozilla.org/show_bug.cgi?id=1335476)
  // as background-color and color need to always be set together, color should not be set either
  border: $app-border-width-form-element solid;
  border-radius: 0;

  // Disable inner shadow and remove rounded corners
  appearance: none;
}

@media (min-width: 40.0625em) {
  .govuk-c-input {
    margin-bottom: 30px;
  }
}

.gem-c-input:focus {
  outline: $app-focus-width solid $app-focus-colour;
}

.gem-c-input--error {
  border: $app-border-width-error solid $app-error-colour;
}

// Replace this with the error message component.
.gem-c-input__label-error {
  font-weight: bold;
  color: $app-error-colour;
  padding-top: 4px;
}
