@import "govuk_publishing_components/individual_component_support";

.gem-c-intervention {
  background-color: govuk-colour("light-grey");
  border-left: 10px solid $govuk-success-colour;
  @include govuk-text-colour;
  @include govuk-responsive-padding(3);
  @include govuk-responsive-margin(6, "bottom");

  .govuk-body:last-of-type {
    margin-bottom: 0;
  }
}

.gem-c-intervention__textwrapper {
  display: block;
}

.gem-c-intervention__dismiss-icon {
  width: 1em;
  height: 1em;
  margin-bottom: -2px;
}

// stylelint-disable declaration-no-important
@include govuk-media-query($media-type: print) {
  .gem-c-intervention {
    break-inside: avoid;
    background-color: transparent;
    border-color: $govuk-print-text-colour;

    .govuk-body {
      margin: 0;
    }
  }

  .gem-c-intervention .govuk-link {
    &,
    &:link,
    &:link:visited {
      color: $govuk-print-text-colour !important;
    }

    &::after {
      display: block;
      margin: 1mm auto;
      font-size: 12pt !important;
      color: $govuk-print-text-colour;
    }
  }
}
// stylelint-enable declaration-no-important
