.gem-c-intervention {
  background-color: govuk-colour("light-grey");
  border-left: 10px solid $govuk-success-colour;
  @include govuk-text-colour;
  @include govuk-responsive-padding(3);
  @include govuk-responsive-margin(6, "bottom");

  .govuk-body:last-of-type {
    margin-bottom: 0;
  }
}

.gem-c-intervention--image {
  border-left: 0;
  display: flex;
}

.gem-c-intervention__image-container {
  min-width: 50px;
  height: 50px;
  margin-right: govuk-spacing(4);
  background-size: 50px;
}

.gem-c-intervention__image-container--hmrc {
  background-image: url("govuk_publishing_components/intervention/hmrc.svg");
  border-radius: 10px;
}

.gem-c-intervention__textwrapper {
  display: block;
}

.gem-c-intervention__dismiss-icon {
  width: 1em;
  height: 1em;
  margin-bottom: -2px;
}

@include govuk-media-query($media-type: print) {
  .gem-c-intervention {
    break-inside: avoid;
    background: none;
    border-color: $govuk-print-text-colour;

    .govuk-body {
      margin: 0;
    }
  }
}
