.gem-c-inverse-header {
  width: 100%;
  background-color: $govuk-blue;
  margin-bottom: $gutter;
  padding: $gutter-half;
  color: $white;
}

.gem-c-inverse-header--full-width {
  padding-left: 0;
  padding-right: 0;
}
