@import "govuk_publishing_components/individual_component_support";

.gem-c-inverse-header {
  width: 100%;
  background-color: $govuk-blue-tint-80;
  margin-bottom: govuk-spacing(6);
  padding: govuk-spacing(3) govuk-spacing(6) govuk-spacing(6) govuk-spacing(6);
  box-sizing: border-box;

  @include govuk-media-query($until: desktop) {
    padding-left: govuk-spacing(3);
    padding-right: govuk-spacing(3);
  }
}

.gem-c-inverse-header__subtext {
  color: govuk-colour("white");
  margin: 0;
  @include govuk-font($size: 16, $line-height: 1.5);
}

.gem-c-inverse-header__link {
  &:link,
  &:visited,
  &:active {
    color: govuk-colour("black");
  }
}

.gem-c-inverse-header--full-width {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: govuk-spacing(3);
}

.gem-c-inverse-header--html-publication-header {
  background-color: govuk-colour("blue");
  color: govuk-colour("white");
}

@include govuk-media-query($media-type: print) {
  .gem-c-inverse-header {
    background: none;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 2pt solid $govuk-print-text-colour;

    &,
    & * {
      color: $govuk-print-text-colour !important; // stylelint-disable-line declaration-no-important
    }
  }
}
