@import "helpers/variables";

.gem-c-label {
  display: block;
  color: $gem-text-colour;
  @include core-19;
}

.gem-c-label--bold {
  font-weight: 700;
}

// Hint text sits inside a label, to be read by AT
.gem-c-label__hint {
  display: block;
  color: $gem-secondary-text-colour;
  font-weight: 400;
}

// TODO: Replace this with the error message component.
.gem-c-label__error {
  font-weight: bold;
  color: $gem-error-colour;
  padding-top: 4px;
}
