@import "govuk_publishing_components/individual_component_support";
@import "govuk_publishing_components/components/search";
@import "govuk_publishing_components/components/skip-link";
@import "govuk/components/header/header";

.gem-c-layout-header.gem-c-layout-header--no-bottom-border,
.gem-c-layout-header.gem-c-layout-header--no-bottom-border .govuk-header__container {
  border-bottom: 0;
}

.gem-c-layout-header__logo {
  @include govuk-media-query($until: "tablet") {
    margin-bottom: govuk-spacing(3);
  }
}

.gem-c-header__environment {
  padding-top: 2px;
  padding-bottom: 3px;
}

.gem-c-header__logo {
  display: flex;
  flex-wrap: wrap;
  row-gap: govuk-spacing(2);
}

.gem-c-header__product-name {
  display: none;

  @include govuk-media-query($from: tablet) {
    display: inline-block;
  }
}

@include govuk-media-query($media-type: print) {
  .gem-c-layout-header .govuk-header__container {
    border-color: $govuk-print-text-colour;

    .govuk-grid-column-two-thirds {
      width: auto;
      float: none;
    }

    .govuk-header__logo {
      margin: 0;
      padding: 0 2mm 2mm 0;
    }

    .gem-c-header__product-name {
      color: $govuk-print-text-colour;
      background: none;
    }
  }
}
