.gem-c-layout-for-public {
  margin: 0;
  font-family: $govuk-font-family;
}

.gem-c-layout-for-public__blue-bar {
  background: $govuk-brand-colour;
  height: govuk-spacing(2);
}

.js-enabled .gem-c-layout-for-public__global-banner-wrapper {
  margin-top: - govuk-spacing(2);
  position: relative;
}
