/// Set grid row or column value using the fraction unit.
///
/// @param {Integer} $number - number of fractions that the grid row or column
///   needs to be divided into.
/// @returns {String} - the value
///
/// @example scss - Five fractions will return `1fr 1fr 1fr 1fr 1fr`.
///  .container {
///    grid-template-rows: fractions(5);
///  }
///
@function fractions($number) {
  $fractions: "1fr";

  @for $i from 1 to $number {
    $fractions: $fractions + " 1fr";
  }

  @return unquote($fractions);
}

/// Arrange items into vertical columns
///
/// @param {Integer} $items - number of items that need to be arranged
/// @param {Integer} $columns - number of columns required
/// @param {String} $selector - (optional) the inner element to be targeted.
///
/// @example scss - A 7 item 2 column layout.
///  .container {
///    @include columns(7, 2);
///  }

/// @example scss - A 9 item 3 column layout that has `div`s as the inner
///   elements.
///  .container {
///    @include columns(9, 3, "div");
///  }
///
@mixin columns($items, $columns, $selector: "*") {
  $rows: ceil($items / $columns);

  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: fractions($columns);
  grid-template-columns: fractions($columns);
  -ms-grid-rows: fractions($rows);
  grid-template-rows: fractions($rows);

  // Internet Explorer 10-11 require each element to be placed in the grid -
  // the `grid-auto-flow` property isn't supported. This means that both the
  // column and row needs to be set for every element.

  // This creates a list of lists to represent the columns and rows; for
  // example, a 7 item 2 column list would create this:
  //   [
  //     [1, 2, 3, 4 ] // column one
  //     [5, 6, 7] // column two
  //   ]
  $grid: ();
  $counter: 0;

  @for $column from 1 through $columns {
    $this-row: ();

    @for $row from 1 through $rows {
      $counter: $counter + 1;

      @if $counter <= $items {
        $this-row: append($this-row, $counter);
      }
    }

    $grid: append($grid, $this-row, "comma");
  }

  // Now we can loop through the list of lists to create the rules needed for
  // the older grid syntax; fist looping through the list to get the number
  // needed for the column, then looping again to get the number for the grid
  // row:
  @for $column_index from 1 through length($grid) {
    $this-row: nth($grid, $column_index);

    @for $item-index from 1 through length($this-row) {
      $this-item: nth($this-row, $item-index);

      & > #{$selector}:nth-child(#{$this-item}) {
        -ms-grid-column: $column_index;
        -ms-grid-row: $item-index;
      }
    }
  }
}

$search-icon-size: 20px;

@mixin chevron($colour) {
  border-bottom: 3px solid govuk-colour($colour);
  border-right: 3px solid govuk-colour($colour);
  content: " ";
  display: inline-block;
  height: 8px;
  margin: 0 8px 0 2px;
  transform: translateY(-35%) rotate(45deg);
  vertical-align: middle;
  width: 8px;
}

%top-level-navigation-link-base {
  background: none;
  @include govuk-font($size: 24, $weight: bold, $line-height: 20px);
  border: 0;
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: govuk-spacing(6) govuk-spacing(3);
  position: relative;
  text-decoration: none;

  &,
  &:link,
  &:visited {
    color: $govuk-link-colour;
  }

  &:focus {
    background: $govuk-focus-colour;
    border-color: $govuk-focus-text-colour;
    border-top-color: $govuk-focus-colour;
    color: $govuk-focus-text-colour;
    outline: 3px solid transparent;
    box-shadow: none;
    z-index: 1;
  }

  @include govuk-media-query($from: "tablet") {
    padding: govuk-spacing(6);
  }

  @include govuk-media-query($from: "desktop") {
    @include govuk-font($size: 16, $weight: false, $line-height: 20px);
    color: govuk-colour("white");
    display: inherit;
    height: govuk-spacing(9);
    padding: govuk-spacing(4);

    &:after {
      background: govuk-colour("black");
      bottom: 0;
      content: " ";
      display: block;
      height: govuk-spacing(1);
      left: govuk-spacing(4);
      position: absolute;
      right: govuk-spacing(4);
    }

    &:hover {
      background: govuk-colour("black");
      color: govuk-colour("mid-grey");

      &:after {
        background-color: govuk-colour("mid-grey");
      }
    }

    &:focus {
      @include govuk-focused-text;
      box-shadow: none;

      &:after {
        background-color: $govuk-focus-text-colour;
      }
    }

    &,
    &:visited {
      color: govuk-colour("white");
    }
  }
}

%toggle-base {
  @extend %top-level-navigation-link-base;
  @include govuk-font($size: 16, $weight: false, $line-height: 20px);
  border-radius: 0;
  cursor: pointer;
  padding: govuk-spacing(4);
  right: 0;
  top: 0;

  @include govuk-media-query($from: "desktop") {
    border: none;
  }
}

%top-level-navigation-toggle-base {
  @extend %toggle-base;
  border-top: 1px solid govuk-colour("black");
  height: govuk-spacing(9);

  &:focus {
    border-color: $govuk-focus-colour;
  }

  &.gem-c-layout-super-navigation-header__open-button {
    border-left-color: govuk-colour("black");
    border-right-color: govuk-colour("black");

    &,
    &:hover {
      background: govuk-colour("light-grey");
      color: govuk-colour("light-grey");
    }

    &:focus {
      color: $govuk-focus-colour;
      background: $govuk-focus-colour;
    }

    &:before,
    &:after {
      $width: govuk-spacing(4);
      $height: 4px;

      border: none;
      content: " ";
      display: block;
      margin: 0;
      width: $width;
      height: $height;
      background: govuk-colour("black");
      transform-origin: center;
      position: absolute;
      top: calc(50% - #{$height / 2});
      left: calc(50% - #{$width / 2});
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}

%search-icon {
  height: $search-icon-size;
  pointer-events: none;
  width: $search-icon-size;
}

// Header layout - black bar and logo.
.gem-c-layout-super-navigation-header {
  background: govuk-colour("black");
  position: relative;

  .lte-ie8 & {
    height: govuk-spacing(9);
  }

  [hidden] {
    display: none;
  }
}

.gem-c-layout-super-navigation-header__container {
  position: relative;

  @include govuk-media-query($from: "desktop") {
    position: static;
  }
}

.gem-c-layout-super-navigation-header__header-logo {
  height: govuk-spacing(6);
  padding-top: govuk-spacing(3);
  padding-bottom: govuk-spacing(3);

  @include govuk-media-query($from: "desktop") {
    display: block;
    float: left;
  }
}

.gem-c-layout-super-navigation-header__content {
  @include govuk-media-query($from: "desktop") {
    display: block;
    float: right;
  }
}

// Top level navigation and search.
.gem-c-layout-super-navigation-header__navigation-items,
.gem-c-layout-super-navigation-header__search-items {
  background: govuk-colour("light-grey");
  display: block;
  list-style: none;
  margin: 0 (0 - govuk-spacing(3));
  padding: 0;

  @include govuk-media-query($from: "tablet") {
    margin: 0 (0 - govuk-spacing(6));
  }

  @include govuk-media-query($from: "desktop") {
    background: none;
    float: left;
    padding: 0;
    margin: 0;
  }
}

.gem-c-layout-super-navigation-header__navigation-items {
  .js-module-initialised & {
    padding: 0 0 govuk-spacing(9) 0;

    @include govuk-media-query($from: "desktop") {
      padding: 0;
    }
  }
}

.gem-c-layout-super-navigation-header__navigation-item,
.gem-c-layout-super-navigation-header__search-item {
  margin-right: 0;
  padding: 0;

  @include govuk-media-query($from: "desktop") {
    border-bottom: none;
    float: left;
    padding: 0;
  }
}

.gem-c-layout-super-navigation-header__navigation-item {
  &:after {
    background-color: $govuk-border-colour;
    content: " ";
    display: block;
    height: 1px;
    left: 0;
    right: 0;
    position: absolute;
  }

  @include govuk-media-query($from: "desktop") {
    &:after {
      content: none;
    }
  }
}

// Top level navigation links.
.gem-c-layout-super-navigation-header__navigation-item-link {
  @extend %top-level-navigation-link-base;

  &,
  &:link, // 👈 required to override govuk-template
  &:visited {
    color: $govuk-link-colour;

    &:hover {
      color: $govuk-link-hover-colour;

      @include govuk-media-query($from: "desktop") {
        color: govuk-colour("mid-grey");
      }
    }

    &:focus {
      color: $govuk-focus-text-colour;
    }

    @include govuk-media-query($from: "desktop") {
      color: govuk-colour("white");
    }
  }

  // This :link:focus selector is required to override the `govuk-template`
  // defaults.
  &:link:focus {
    color: $govuk-focus-text-colour;
  }

  .js-module-initialised & {
    @include govuk-media-query($until: "desktop") {
      padding: govuk-spacing(6) govuk-spacing(3) govuk-spacing(6) govuk-spacing(9);
    }

    @include govuk-media-query($until: "tablet") {
      padding-left: govuk-spacing(7);
    }
  }
}

// Search link and dropdown.
.gem-c-layout-super-navigation-header__search-item-link {
  @extend %top-level-navigation-link-base;

  @include govuk-media-query($from: "desktop") {
    background: $govuk-link-colour;
    margin-left: 0;

    &:focus:hover:after,
    &:after {
      content: none;
    }

    &:hover:after {
      content: " ";
      left: 0;
      right: 0;
    }
  }
}

.gem-c-layout-super-navigation-header__search-item-link-text {
  @include govuk-media-query($from: "desktop") {
    @include govuk-visually-hidden;
  }
}

.gem-c-layout-super-navigation-header__search-item-link-icon {
  @extend %search-icon;
  display: none;

  @include govuk-media-query($from: "desktop") {
    display: block;
  }
}

.gem-c-layout-super-navigation-header__search-toggle-button-link-icon {
  @extend %search-icon;
  display: block;
}

// Search and popular content dropdown.
.gem-c-layout-super-navigation-header__search-and-popular {
  display: none;
  padding-bottom: govuk-spacing(4);
  padding-top: govuk-spacing(4);

  .js-module-initialised & {
    display: block;
  }
}

// Styles for top level navigation toggle button.
.gem-c-layout-super-navigation-header__navigation-top-toggle-button {
  @extend %top-level-navigation-toggle-base;
  border-left: 1px solid govuk-colour("mid-grey");
  color: govuk-colour("white");
  position: absolute;
  right: 45px;

  &.gem-c-layout-super-navigation-header__open-button {
    border-top-color: govuk-colour("black");
  }

  @include govuk-media-query($from: 360px) {
    &:before {
      @include chevron("white");
    }
  }

  &:focus {
    &:before {
      border-color: $govuk-focus-text-colour;
    }
  }

  @include govuk-media-query(360px) {
    right: 60px;
  }

  @include govuk-media-query($from: "desktop") {
    display: none;
  }
}

// styles for search toggle button
.gem-c-layout-super-navigation-header__search-toggle-button {
  @extend %top-level-navigation-toggle-base;
  border-top: 1px solid transparent;
  border-left: 1px solid govuk-colour("mid-grey");
  color: govuk-colour("white");
  position: absolute;
  right: (0 - govuk-spacing(3));

  &:after {
    background-color: $govuk-link-colour;
    content: " ";
    left: 0;
    right: 0;
  }

  &:not(.gem-c-layout-super-navigation-header__open-button):focus {
    &:hover,
    &:after {
      background-color: $govuk-focus-colour;
      border-top-color: $govuk-focus-colour;
    }
  }

  @include govuk-media-query($from: 360px) {
    right: 0;
  }

  @include govuk-media-query($from: "desktop") {
    background-color: $govuk-link-colour;
    border-left: 0;
    height: govuk-spacing(9);
    margin-left: govuk-spacing(3);
    padding: govuk-spacing(4);
    position: relative;
    float: right;

    &.gem-c-layout-super-navigation-header__open-button {
      border-top-color: govuk-colour("black");

      &:hover:after {
        content: " ";
      }
    }

    // To avoid the 'sticky hover' problem, we need to stop the hover state on
    // touch screen devices.
    //
    // One solution is to use `@media(hover: hover)`. This turns on the hover
    // state only for devices that aren't touchscreen, but means that browsers
    // that don't support this media query won't get a hover state at all.
    //
    // To get around this, we do the opposite - we turn off the hover state for
    // for touchscreen devices.
    @media (hover: none), (pointer: coarse) {
      &:not(:focus):hover {
        background-color: $govuk-link-colour;
        color: govuk-colour("white");

        &:after {
          background-color: $govuk-link-colour;
        }
      }
    }
  }
}

// styles for second level navigation toggle buttons
.gem-c-layout-super-navigation-header__navigation-second-toggle-button {
  @extend %toggle-base;
  @include govuk-font($size: 24, $weight: false, $line-height: 20px);
  border: 0;
  margin: 0;
  padding: govuk-spacing(6) govuk-spacing(3);
  position: relative;
  text-align: left;
  text-decoration: none;
  width: 100%;

  &:before {
    @include chevron("black");
  }

  &,
  &:visited {
    color: $govuk-link-colour;// FIXME: contrast against govuk-colour("light-grey") not high enough

    @include govuk-media-query($from: "desktop") {
      color: govuk-colour("white");
    }
  }

  @include govuk-media-query($from: "tablet") {
    padding: govuk-spacing(6);
  }

  @include govuk-media-query($from: "desktop") {
    @include govuk-font($size: 16, $weight: false, $line-height: 20px);
    border-top: 1px solid transparent;
    color: govuk-colour("white");
    height: govuk-spacing(9);
    padding: govuk-spacing(4);
    position: relative;

    &:before {
      border-color: govuk-colour("white");
    }

    &:hover {
      color: govuk-colour("mid-grey");

      &:after {
        background-color: govuk-colour("mid-grey");
      }

      &:before {
        border-color: govuk-colour("mid-grey");
      }
    }

    &:focus {
      color: $govuk-focus-text-colour;

      &:after {
        background-color: $govuk-focus-text-colour;
      }

      &:before {
        border-color: $govuk-focus-text-colour;
      }
    }
  }

  &.gem-c-layout-super-navigation-header__open-button {
    border-top-color: govuk-colour("black");

    &:before {
      transform: translateY(20%) rotate(225deg);
    }

    @include govuk-media-query($from: "desktop") {
      background-color: govuk-colour("light-grey");
      color: $govuk-link-colour;

      &:after {
        background: $govuk-link-colour;
      }

      &:before {
        border-color: $govuk-link-colour;
      }

      &:focus {
        background-color: $govuk-focus-colour;
        color: $govuk-focus-text-colour;

        &:after {
          background-color: $govuk-focus-text-colour;
        }

        &:before {
          border-color: $govuk-focus-text-colour;
        }
      }

      &:active {
        background-color: govuk-colour("light-grey");
        color: $govuk-link-colour;

        &:before {
          border-color: $govuk-link-colour;
        }
      }
    }
  }
}

// Dropdown menu.
.gem-c-layout-super-navigation-header__navigation-dropdown-menu {
  background: govuk-colour("white");

  @include govuk-media-query($from: "desktop") {
    background: govuk-colour("light-grey");
    left: 0;
    position: absolute;
    right: 0;
  }
}

// Dropdown menu description.
.gem-c-layout-super-navigation-header__menu-description {
  display: none;

  @include govuk-media-query($from: "desktop") {
    display: block;
    padding: govuk-spacing(7) 0 govuk-spacing(7) 0;
  }
}

// Dropdown menu items.
.gem-c-layout-super-navigation-header__dropdown-list-item {
  @include govuk-media-query($from: "desktop") {
    padding: govuk-spacing(2) 0;
  }
}

// Navigation menu items.
.gem-c-layout-super-navigation-header__navigation-second-items {
  margin: 0 auto;
  padding: govuk-spacing(2) 0 govuk-spacing(6) 0;

  @include govuk-media-query($from: "desktop") {
    margin-left: (0 - govuk-spacing(3));
    margin-right: (0 - govuk-spacing(3));
    padding: govuk-spacing(6) 0 govuk-spacing(8) 0;

    & > li {
      box-sizing: border-box;
      margin-bottom: 0;
      padding-left: govuk-spacing(3);
      padding-right: govuk-spacing(3);
    }
  }
}

.gem-c-layout-super-navigation-header__navigation-second-items--topics {
  @include govuk-media-query($from: "desktop") {
    @include columns(18, 2, "li");
  }
}

.gem-c-layout-super-navigation-header__navigation-second-items--government-activity {
  @include govuk-media-query($from: "desktop") {
    @include columns(5, 2, "li");
    padding-bottom: govuk-spacing(3);
  }
}

.gem-c-layout-super-navigation-header__navigation-second-item-link {
  display: inline-block;
  padding: govuk-spacing(2) 0;

  @include govuk-media-query($from: "desktop") {
    display: inline;
    font-weight: bold;
    padding: 0;
  }
}

.gem-c-layout-super-navigation-header__navigation-second-item-link--with-description {
  @include govuk-font($size: 19, $weight: bold);
  margin-top: govuk-spacing(2);
  margin-bottom: 0;
}

// Dropdown menu footer links.
.gem-c-layout-super-navigation-header__navigation-second-footer {
  border-top: 1px solid govuk-colour("mid-grey");
}

.gem-c-layout-super-navigation-header__navigation-second-footer-list {
  list-style: none;
  padding-bottom: govuk-spacing(8);
  padding-top: govuk-spacing(4);

  @include govuk-grid-column($width: "two-thirds", $float: right, $at: "desktop");

  @include govuk-media-query($from: "desktop") {
    padding: govuk-spacing(7) 0 govuk-spacing(8) 0;
  }
}

.gem-c-layout-super-navigation-header__navigation-second-footer-item {
  @include govuk-media-query($from: "desktop") {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 0 govuk-spacing(3);
  }
}

.gem-c-layout-super-navigation-header__navigation-second-footer-link {
  @include govuk-font($size: 19, $weight: bold);
  display: inline-block;
  margin: govuk-spacing(1) 0;
  padding: govuk-spacing(2) 0;

  @include govuk-media-query($from: "desktop") {
    display: inline;
    font-weight: bold;
    padding: 0;
  }
}

// Search dropdown.
.gem-c-layout-super-navigation-header__search-items {
  background: govuk-colour("light-grey");
  margin: 0 (0 - govuk-spacing(3));

  @include govuk-media-query($from: "tablet") {
    margin: 0 (0 - govuk-spacing(6));
  }

  @include govuk-media-query($from: "desktop") {
    margin: 0;

    .js-module-initialised & {
      left: 0;
      position: absolute;
      right: 0;
      top: 60px;
    }
  }
}

.gem-c-layout-super-navigation-header__search-form {
  padding: govuk-spacing(3) 0 govuk-spacing(6) 0;
}

// Popular links.
.gem-c-layout-super-navigation-header__popular-link {
  padding: govuk-spacing(2) 0;
  display: inline-block;

  @include govuk-media-query($from: "desktop") {
    margin: govuk-spacing(1) 0;
    padding: 0;
  }
}
