@import "govuk_publishing_components/individual_component_support";
@import "govuk/components/footer/footer";

.gem-c-layout-footer--border {
  border-top: govuk-spacing(2) solid govuk-colour("blue");
}

.govuk-footer__list-item {
  display: inline-block;
  width: 99%;
}

.gem-c-layout-footer .govuk-footer__list {
  padding-bottom: govuk-spacing(7);
}

.gem-c-layout-footer .govuk-footer__list-item:nth-child(odd):last-child {
  // If there are an uneven number of links in the
  // footer this ensures the left column has more links than the
  // the right column.
  margin-bottom: 20px;
}

@include govuk-media-query($media-type: print) {
  .gem-c-layout-footer {
    display: none;
  }
}