@import "govuk_publishing_components/individual_component_support";
@import "govuk_publishing_components/components/search";
@import "govuk_publishing_components/components/skip-link";
@import "govuk/components/header/header";
@import "govuk/components/tag/tag";

.gem-c-layout-header--production .govuk-header__container {
  border-bottom-color: govuk-colour("red");
}

.gem-c-layout-header--integration .govuk-header__container,
.gem-c-layout-header--staging .govuk-header__container {
  border-bottom-color: govuk-colour("yellow");
}

.gem-c-layout-header--example .govuk-header__container {
  border-bottom-color: govuk-colour("bright-purple");
}

.gem-c-layout-header--development .govuk-header__container {
  border-bottom-color: govuk-colour("dark-grey");
}

.gem-c-layout-header--no-bottom-border,
.gem-c-layout-header--no-bottom-border .govuk-header__container {
  margin-bottom: 0;
  border-bottom: 0;

  @include govuk-media-query($until: tablet) {
    padding-bottom: govuk-spacing(1);
  }
}

.gem-c-layout-header--search-left {
  .gem-c-header__menu-button.govuk-header__menu-button {
    margin-top: - govuk-spacing(7);
    left: govuk-spacing(3);
  }

  .gem-c-header__nav-wrapper {
    position: relative;
    padding-left: 0;
  }

  .govuk-header__navigation--end {
    padding-top: 0;
    text-align: left;
  }

  .gem-c-layout-header__search {
    margin-bottom: govuk-spacing(2);
    padding-bottom: govuk-spacing(5);
  }

  .gem-c-header__content {
    position: relative;
    width: 100%;
    padding-bottom: govuk-spacing(2);
  }

  @include govuk-media-query($from: desktop) {
    .gem-c-layout-header__search {
      padding-bottom: govuk-spacing(1);
    }

    .govuk-header__navigation-item {
      padding: 0 0 govuk-spacing(1) 0;
    }

    .gem-c-header__logo {
      margin-top: 0;
    }

    .gem-c-header__content.govuk-header__content {
      @include govuk-grid-column(two-thirds);
      padding-left: govuk-spacing(6);
      padding-right: govuk-spacing(1);
    }
  }
}

.gem-c-layout-header__logo,
.gem-c-layout-header__search {
  @include govuk-media-query($until: "tablet") {
    margin-bottom: govuk-spacing(3);
  }
}

.gem-c-header__logo {
  margin-top: govuk-spacing(1);
  margin-bottom: govuk-spacing(3);

  @include govuk-media-query($from: desktop) {
    white-space: nowrap;
  }
}

.gem-c-header__content.govuk-header__content {
  width: auto;

  @include govuk-media-query($from: desktop) {
    float: right;
  }
}

.gem-c-header__product-name {
  display: none;
  margin-top: govuk-spacing(-1);

  @include govuk-media-query($from: tablet) {
    display: inline-block;
    vertical-align: middle;
  }
}

.gem-c-environment-tag {
  padding: 2px 5px 0;
  margin-left: 3px;
  margin-top: govuk-spacing(-2);  
  vertical-align: middle;
  @include govuk-font($size: 16, $weight: "bold");
}

.gem-c-environment-tag--production {
  background-color: govuk-colour("red");
  color: govuk-colour("white");
}

.gem-c-environment-tag--example {
  background-color: govuk-colour("bright-purple");
}

.gem-c-environment-tag--development {
  background-color: govuk-colour("dark-grey");
  color: govuk-colour("white");
}

.gem-c-environment-tag--staging,
.gem-c-environment-tag--integration {
  background-color: govuk-colour("yellow");
  color: govuk-colour("black");
}

.govuk-header__navigation-item--collapsed-menu-only {
  @include govuk-media-query($from: desktop) {
    display: none;
  }
}

.gem-c-layout-header__search-form {
  display: none;

  &.js-visible {
    display: block;
  }

  @include govuk-media-query($from: tablet) {
    display: block;
  }
}

.govuk-header__menu-button.gem-c-header__menu-button {
  top: govuk-spacing(4);
  right: 0;
}

.gem-c-header__nav {
  clear: both;
}
