.gem-c-layout-for-public {
  font-family: $govuk-font-family;
}

.gem-c-layout-for-public__blue-bar {
  background: $govuk-brand-colour;
  height: govuk-spacing(2);
}

.js-enabled .gem-c-layout-for-public__global-banner-wrapper {
  margin-top: - govuk-spacing(2);
  min-height: govuk-spacing(2);
  position: relative;
}

.gem-c-layout-for-public-account-menu {
  margin: 0 0 govuk-spacing(6) 0;
  padding: 0;

  @include govuk-media-query($from: desktop) {
    margin-right: govuk-spacing(4);
  }
}

// Used to determine width of blue location indicator in navigation mention
$current-indicator-width: 4px;

.gem-c-layout-for-public-account-menu__item {
  list-style-type: none;
  padding: 12px 0;

  @include govuk-media-query($from: tablet) {
    margin: 0 0 govuk-spacing(4);
    padding: govuk-spacing(1) 0;
  }
}

.gem-c-layout-for-public-account-menu__item--current {
  margin-left: -(govuk-spacing(2) + $current-indicator-width);
  padding-left: govuk-spacing(2);
  border-left: $current-indicator-width solid govuk-colour("blue");

  .gem-c-layout-for-public-account-menu__link {
    text-decoration: none;
  }
}

.gem-c-layout-for-public-account-menu__link {
  @include govuk-font(19, $weight: "bold");

  &:not(:focus):hover {
    color: $govuk-link-colour;
  }
}

.gem-c-layout-for-public-account-feedback-footer {
  margin-bottom: govuk-spacing(4);
  padding: govuk-spacing(3);
  background: govuk-colour("light-grey");

  @include govuk-media-query($from: tablet) {
    padding: govuk-spacing(6);
    margin-top: govuk-spacing(2);
    margin-bottom: govuk-spacing(8);
  }
}
