@use "govuk_publishing_components/individual_component_support" as govuk_frontend;

.gem-c-layout-for-public {
  font-family: govuk_frontend.$govuk-font-family;
}

.gem-c-layout-for-public__blue-bar {
  background: govuk_frontend.$govuk-brand-colour;
  height: govuk_frontend.govuk-spacing(2);
}

.gem-c-layout-for-public__blue-bar-wrapper--browse {
  background-color: #263135;
}

.govuk-frontend-supported .gem-c-layout-for-public__global-banner-wrapper {
  margin-top: - govuk_frontend.govuk-spacing(2);
  min-height: govuk_frontend.govuk-spacing(2);
  position: relative;
}

.gem-c-layout-for-public-account-menu {
  margin: 0 0 govuk_frontend.govuk-spacing(6) 0;
  padding: 0;

  @include govuk_frontend.govuk-media-query($from: desktop) {
    margin-right: govuk_frontend.govuk-spacing(4);
  }
}

// Used to determine width of blue location indicator in navigation mention
$current-indicator-width: 4px;

.gem-c-layout-for-public-account-menu__item {
  list-style-type: none;
  padding: 12px 0;

  @include govuk_frontend.govuk-media-query($from: tablet) {
    margin: 0 0 govuk_frontend.govuk-spacing(4);
    padding: govuk_frontend.govuk-spacing(1) 0;
  }
}

.gem-c-layout-for-public-account-menu__item--current {
  margin-left: -(govuk_frontend.govuk-spacing(2) + $current-indicator-width);
  padding-left: govuk_frontend.govuk-spacing(2);
  border-left: $current-indicator-width solid govuk-colour("blue");

  .gem-c-layout-for-public-account-menu__link {
    text-decoration: none;
  }
}

.gem-c-layout-for-public-account-menu__link {
  @include govuk_frontend.govuk-font(19, $weight: "bold");

  &:not(:focus):hover {
    color: govuk_frontend.$govuk-link-colour;
  }
}
