@import "govuk/components/header/header";
@import "govuk/components/tag/tag";

.gem-c-layout-header--production .govuk-header__container {
  border-bottom-color: govuk-colour("red", $legacy: "bright-red");
}

.gem-c-layout-header--integration .govuk-header__container,
.gem-c-layout-header--staging .govuk-header__container {
  border-bottom-color: govuk-colour("yellow");
}

.gem-c-layout-header--example .govuk-header__container {
  border-bottom-color: govuk-colour("bright-purple");
}

.gem-c-layout-header--development .govuk-header__container {
  border-bottom-color: govuk-colour("dark-grey", $legacy: "grey-1");
}

.gem-c-layout-header--no-bottom-border,
.gem-c-layout-header--no-bottom-border .govuk-header__container {
  margin-bottom: 0;
  border-bottom: 0;

  @include govuk-media-query($until: tablet) {
    padding-bottom: govuk-spacing(1);
  }
}

.gem-c-layout-header__logo,
.gem-c-layout-header__search {
  padding: 0;
  margin-bottom: govuk-spacing(2);

  @include govuk-media-query($until: "tablet") {
    margin-bottom: 0;
  }
}

.gem-c-header__logo {
  white-space: nowrap;
}

.gem-c-header__content {
  width: auto;

  @include govuk-media-query($from: desktop) {
    float: right;
  }
}

.gem-c-header__product-name {
  display: none;

  @include govuk-media-query($from: "tablet") {
    display: inline-block;
  }
}

.gem-c-environment-tag {
  padding: 2px 5px 0;
  margin-left: 3px;
  vertical-align: middle;
  @include govuk-font($size: 14, $weight: "bold");
}

.gem-c-environment-tag--production {
  background-color: govuk-colour("red", $legacy: "bright-red");
}

.gem-c-environment-tag--example {
  background-color: govuk-colour("bright-purple");
}

.gem-c-environment-tag--development {
  background-color: govuk-colour("dark-grey", $legacy: "grey-1");
}

.gem-c-environment-tag--staging,
.gem-c-environment-tag--integration {
  background-color: govuk-colour("yellow");
  color: govuk-colour("black");
}

.govuk-header__navigation-item--collapsed-menu-only {
  @include govuk-media-query($from: desktop) {
    display: none;
  }
}
