@use "govuk_publishing_components/individual_component_support" as govuk_frontend;
@use "govuk/components/footer/footer";

.govuk-footer__list-item {
  display: inline-block;
  width: 99%;
}

.gem-c-layout-footer .govuk-footer__list {
  padding-bottom: govuk_frontend.govuk-spacing(7);
}

.gem-c-layout-footer .govuk-footer__list-item:nth-child(odd):last-child {
  // If there are an uneven number of links in the
  // footer this ensures the left column has more links than the
  // the right column.
  margin-bottom: 20px;
}

@include govuk_frontend.govuk-media-query($media-type: print) {
  .govuk-footer {
    background: none;
    margin: 25mm 0 0;
    padding: 5mm 0 0;
    border-top: 2pt solid govuk_frontend.$govuk-print-text-colour;

    .govuk-width-container {
      margin: 0;
    }
  }

  .govuk-footer__meta,
  .govuk-footer__meta-item {
    border: 0;
    padding: 0;
    margin: 0;
  }

  .govuk-footer__licence-description {
    padding-right: 10mm;
  }

  .govuk-footer__copyright-logo {
    min-width: auto;
    padding-top: 13mm;
    background-size: 15mm;
    background-position: center top;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  .gem-c-layout-footer {
    font-size: 10pt !important; // stylelint-disable-line declaration-no-important
  }
}
