// This component relies on styles from GOV.UK Frontend

.gem-c-layout-header--integration .govuk-header__container,
.gem-c-layout-header--staging .govuk-header__container {
  border-bottom-color: govuk-colour("yellow");
}

.gem-c-layout-header--development .govuk-header__container,
.gem-c-layout-header--test .govuk-header__container {
  border-bottom-color: govuk-colour("grey-1");
}

.govuk-header__logo {
  @include mq ($from: desktop) {
    float: left;
  }
}

.govuk-header__content {
  @include mq ($from: desktop) {
    float: left;
  }
}
