@import "govuk_publishing_components/individual_component_support";

.gem-c-lead-paragraph {
  @include govuk-text-colour;
  @include govuk-font(24);
  margin-top: 0;
  @include responsive-bottom-margin;
  // Ensure the text has a line-length of around 60 characters
  max-width: 30em;
}

.gem-c-lead-paragraph--inverse {
  color: govuk-colour("white");
}
