@import "govuk_publishing_components/individual_component_support";

.gem-c-metadata {
  @include govuk-text-colour;
  @include responsive-bottom-margin;
  @include govuk-clearfix;
  @include govuk-font(16);

  a {
    font-weight: bold;
    @include govuk-link-common;
    @include govuk-link-style-default;
  }

  .gem-c-metadata__definition-link {
    font-weight: normal;
  }
}

.gem-c-metadata.direction-rtl {
  direction: rtl;
  text-align: start;
}

.gem-c-metadata--inverse {
  color: govuk-colour("white");

  a {
    @include govuk-link-style-inverse;
  }
}

.gem-c-metadata--inverse-padded {
  padding: govuk-spacing(2);

  .gem-c-metadata__list {
    margin: govuk-spacing(2);

    @include govuk-media-query($from: tablet) {
      margin: govuk-spacing(3);
    }
  }
}

.gem-c-metadata__term,
.gem-c-metadata__definition {
  line-height: 1.4;
}

.gem-c-metadata__term {
  margin-top: .5em;

  @include govuk-media-query($from: tablet) {
    box-sizing: border-box;
    float: left;
    clear: left;
    padding-right: govuk-spacing(1);
    margin-top: 0;
  }
}

.gem-c-metadata.direction-rtl .gem-c-metadata__term {
  float: right;
  clear: right;

  @include govuk-media-query($from: tablet) {
    padding-left: govuk-spacing(1);
    padding-right: 0;
  }
}

.gem-c-metadata__definition {
  margin: 0;

  @include govuk-media-query($from: tablet) {
    &:not(:last-of-type) {
      margin-bottom: govuk-spacing(1);
    }
  }
}

.gem-c-metadata.direction-rtl .gem-c-metadata__definition {
  float: right;
}

.gem-c-metadata__toggle-wrap {
  display: none;
}

.js-enabled .gem-c-metadata__toggle-wrap {
  display: block;
}

.js-enabled .gem-c-metadata__toggle-items.js-hidden {
  display: none;
}
