.gem-c-notice {
  @include govuk-text-colour;
  clear: both;
  padding: govuk-spacing(4);
  border: 2px solid govuk-colour("blue");

  @include govuk-media-query($from: mobile) {
    padding: govuk-spacing(3);
  }

  .govuk-govspeak, {
    p:last-child {
      margin-bottom: 0;
    }
  }

  .govuk-body:last-child {
    margin-bottom: 0;
  }
}

.gem-c-notice--bottom-margin {
  @include responsive-bottom-margin;
}

.gem-c-notice__title {
  @include govuk-font(27, $weight: bold);
  margin: 0 0 govuk-spacing(2) 0;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    @extend %govuk-link;
  }
}

.gem-c-notice__description {
  @include govuk-font(19);
  margin: 0;
}
