.gem-c-notice {
  @include govuk-text-colour;
  @include govuk-responsive-padding(4);
  @include govuk-responsive-margin(8, "bottom");

  clear: both;
  border: $govuk-border-width solid govuk-colour("blue");

  .govuk-govspeak {
    p:last-child {
      margin-bottom: 0;
    }
  }

  .govuk-body:last-child {
    margin-bottom: 0;
  }
}

.gem-c-notice__title {
  @include govuk-font(24, $weight: bold);
  margin-top: 0;
  @include govuk-responsive-margin(4, "bottom");

  &:last-child {
    margin-bottom: 0;
  }

  a {
    @include govuk-link-common;
    @include govuk-link-style-default;
    @include govuk-link-print-friendly;
  }
}

.gem-c-notice__description {
  @include govuk-font(19);
  margin: 0;
}
