@import "govuk_publishing_components/individual_component_support";

// Default logo corresponds with the "medium stacked" Whitehall equivalent
.gem-c-organisation-logo {
  @include govuk-font($size: 19);
  font-weight: 400;
  line-height: 1.35;
  // When this is a heading the margin needs to be set to stop it from
  // inheriting the browser's default margin:
  margin: 0;
}

.gem-c-organisation-logo__container {
  text-transform: none;
  text-decoration: none;
  display: block;
  color: govuk-colour("black");
  height: auto;
  width: auto;

  // Logo direction never changes, even for rtl content.
  direction: ltr;
}

.gem-c-organisation-logo__container--inline {
  display: inline-block;
  padding-right: govuk-spacing(1);
}

// Scale images on smaller viewports
.gem-c-organisation-logo__image {
  max-width: 100%;
}

.gem-c-organisation-logo__crest {
  // Default brand colour
  border-left: 2px solid govuk-colour("black");
  padding-top: 29px;
  padding-left: 6px;

  .brand--executive-office & {
    border-left-width: 0;
    padding-left: 0;
    background-position: 0 0;
  }
}

.gem-c-organisation-logo__name {
  font-family: HelveticaNeue, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.gem-c-organisation-logo__link {
  @include govuk-link-common;
  @include govuk-link-style-text;
  font-family: HelveticaNeue, "Helvetica Neue", Arial, Helvetica, sans-serif;

  &:hover {
    color: $govuk-link-hover-colour;
  }

  &:active {
    color: govuk-colour("black");
    @include govuk-link-hover-decoration;
  }

  &:focus {
    // Using `@include govuk-focused-text;` would obscure the text. Tweaked
    // spacing needed to prevent overlap of the text and the focus state's thick
    // black line.
    box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-colour, 0 8px $govuk-focus-text-colour;
    text-decoration: none;
  }
}

@mixin crest($crest) {
  background: url("govuk_publishing_components/crests/#{$crest}_18px.png") no-repeat 6px 0;
  background-size: auto 26px;

  @include govuk-device-pixel-ratio {
    background-image: url("govuk_publishing_components/crests/#{$crest}_18px_x2.png");
  }
}

@mixin tall-crest {
  padding-top: 31px;
  background-size: auto 25px;

  @include govuk-media-query($from: tablet) {
    padding-top: 41px;
    background-size: auto 34px;
  }
}

.gem-c-organisation-logo__crest--dbt {
  @include crest("dbt_crest");
}

.gem-c-organisation-logo__crest--bis {
  @include crest("bis_crest");
}

.gem-c-organisation-logo__crest--hmrc {
  @include crest("hmrc_crest");
}

.gem-c-organisation-logo__crest--ho {
  @include crest("ho_crest");
  @include tall-crest;
}

.gem-c-organisation-logo__crest--mod {
  @include crest("mod_crest");
  @include tall-crest;
}

.gem-c-organisation-logo__crest--single-identity,
.gem-c-organisation-logo__crest--eo,
.gem-c-organisation-logo__crest--org {
  @include crest("org_crest");
}

.gem-c-organisation-logo__crest--portcullis {
  @include crest("portcullis");
}

.gem-c-organisation-logo__crest--so {
  @include crest("so_crest");
}

.gem-c-organisation-logo__crest--ukaea {
  @include crest("ukaea_crest");
}

.gem-c-organisation-logo__crest--ukho {
  @include crest("ukho");
  @include tall-crest;
}

.gem-c-organisation-logo__crest--wales {
  @include crest("wales_crest");
  @include tall-crest;
}
