@import "govuk_publishing_components/individual_component_support";
@import "govuk/components/pagination/pagination";

// stylelint-disable declaration-no-important
@include govuk-media-query($media-type: print) {
  .gem-c-pagination * {
    color: $govuk-print-text-colour !important;
  }
}
// stylelint-enable declaration-no-important
