@import "govuk_publishing_components/individual_component_support";
@import "govuk/components/panel/panel";

.gem-c-panel__prepend {
  @include govuk-font($size: 24, $weight: bold);
  margin-bottom: govuk-spacing(3);
}

.gem-c-panel__append {
  @include govuk-font($size: 24, $weight: bold);
}

.gem-c-panel__prepend ~ .govuk-panel__title-text {
  margin-bottom: govuk-spacing(3);
}

.gem-c-panel__append,
.gem-c-panel__prepend,
.govuk-panel__title-text {
  display: block;
}
