@import "govuk_publishing_components/individual_component_support";
@import "govuk/components/phase-banner/phase-banner";

.gem-c-phase-banner {
  .govuk-phase-banner__content__app-name {
    display: inline-block;
    margin-right: govuk-spacing(2);
  }
}

.gem-c-phase-banner--inverse {
  background: $govuk-brand-colour;

  .govuk-phase-banner__content__tag {
    background: govuk-colour("white");
    color: $govuk-brand-colour;
  }

  .govuk-phase-banner__content__app-name,
  .govuk-phase-banner__text,
  .govuk-link {
    color: govuk-colour("white");

    &:focus {
      color: govuk-colour("black");
    }
  }
}
