.gem-c-pagination {
  display: block;
  margin-top: $gutter;
  margin-bottom: $gutter;
  margin-left: -$gutter-half;
  margin-right: -$gutter-half;
}

.gem-c-pagination__item {
  @include core-16($line-height: (20 / 16));
  list-style: none;
}

.gem-c-pagination__link {
  display: block;
  padding: $gutter-half;
  text-decoration: none;

  &:hover,
  &:active,
  &:visited {
    color: $link-colour;
  }

  &:hover,
  &:active {
    background-color: $canvas-colour;
  }
}

.gem-c-pagination__link-title {
  display: block;
}

.gem-c-pagination__link-text {
  @include bold-19;
  margin-left: $gutter / 3;
}

.gem-c-pagination__link-icon {
  @include core-24($line-height: (33.75 / 27));
  display: inline-block;
  margin-bottom: 1px;
  height: .482em;
  width: .63em;
}

.gem-c-pagination__link-label {
  display: inline-block;
  margin-top: 0.1em;
  text-decoration: underline;
  margin-left: $gutter;

  @include media(mobile) {
    margin-left: $gutter-half + 9;
  }
}
