.pub-c-pagination {
  display: block;
  margin-top: $gutter;
  margin-bottom: $gutter;
  margin-left: -$gutter-half;
  margin-right: -$gutter-half;
}

// scss-lint:disable SelectorFormat
.pub-c-pagination__list {
  margin: 0;
  padding: 0;

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.pub-c-pagination__item {
  @include core-16($line-height: (20 / 16));
  float: left;
  list-style: none;
  text-align: right;
  margin: 0;
  padding: 0;
  width: 50%;
}

.pub-c-pagination__link {
  display: block;
  padding: $gutter-half;
  text-decoration: none;

  &:visited {
    color: $link-colour;
  }

  &:hover,
  &:active {
    background-color: $canvas-colour;
  }
}

.pub-c-pagination__link-title {
  @include core-27($line-height: (33.75 / 27));
  display: block;
}

.pub-c-pagination__item--previous {
  @include media-down(mobile) {
    float: none;
    width: 100%;
  }

  float: left;
  text-align: left;
}

.pub-c-pagination__item--next {
  @include media-down(mobile) {
    float: none;
    width: 100%;
  }

  float: right;
  text-align: right;
}

.pub-c-pagination__link-icon {
  display: inline-block;
  margin-bottom: 1px;
  height: .482em;
  width: .63em;
}

.pub-c-pagination__link-label {
  display: inline-block;
  margin-top: 0.1em;
  text-decoration: underline;
}
// scss-lint:enable SelectorFormat
