@use "govuk_publishing_components/individual_component_support" as govuk_frontend;
@use "govuk/components/pagination/pagination";

// stylelint-disable declaration-no-important
@include govuk_frontend.govuk-media-query($media-type: print) {
  .govuk-pagination * {
    color: govuk_frontend.$govuk-print-text-colour !important;
  }
}
// stylelint-enable declaration-no-important
