@import "govuk_publishing_components/individual_component_support";

.gem-c-related-navigation {
  border-top: 2px solid govuk-colour("blue");
  margin-bottom: govuk-spacing(9);
  @include govuk-text-colour;
}

.gem-c-related-navigation__main-heading {
  margin-top: govuk-spacing(3);
  margin-bottom: govuk-spacing(2);
  @include govuk-font(19, $weight: bold);
}

.gem-c-related-navigation__sub-heading {
  border-top: 1px solid govuk-colour("mid-grey");
  margin: 0;
  padding-top: govuk-spacing(3);
  @include govuk-font(16);
}

.gem-c-related-navigation__sub-heading--footer {
  border-top: 0;
  padding-top: 0;
  margin-top: govuk-spacing(3);
  margin-bottom: govuk-spacing(2);
  @include govuk-font(19, $weight: bold);
}

.gem-c-related-navigation__main-heading + .gem-c-related-navigation__sub-heading {
  border-top: 0;
  padding-top: 0;
}

.gem-c-related-navigation__sub-heading--other {
  border-top: 0;
  padding-top: 0;
  @include govuk-font(19, $weight: bold);
}

.gem-c-related-navigation__nav-section {
  margin-bottom: govuk-spacing(6);
}

.gem-c-related-navigation__link {
  list-style-type: none;
  margin-top: govuk-spacing(3);
  @include govuk-font($size: 16, $weight: regular, $line-height: 1.45);

  @include govuk-media-query($from: tablet) {
    line-height: 1.28;
  }

  @include govuk-template-link-focus-override;
}

.gem-c-related-navigation__link--truncated-links {
  margin-top: govuk-spacing(2);
}

.gem-c-related-navigation__toggle {
  display: none;
  @include govuk-link-common;
  @include govuk-link-style-no-visited-state;

  .js-enabled & {
    display: inline-block;
  }
}

.gem-c-related-navigation__section-link {
  font-weight: bold;

  @include govuk-template-link-focus-override;
}

.gem-c-related-navigation__section-link--other {
  font-weight: normal;

  @include govuk-template-link-focus-override;
}

.gem-c-related-navigation__section-link--footer {

  @include govuk-template-link-focus-override;
}

.gem-c-related-navigation__section-link--inline {
  line-height: 1.45;
}

// reset the default browser styles
.gem-c-related-navigation__link-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 1.25em;
}

.gem-c-related-navigation__toggle-more {
  .gem-c-related-navigation__section-link {
    @include govuk-media-query($from: tablet) {
      line-height: 1.45;
    }
  }

  &.js-hidden {
    .js-enabled & {
      display: none;
    }
  }
}
