@import "govuk_publishing_components/individual_component_support";
// @import "accessible-autocomplete/dist/accessible-autocomplete.min"; // stylelint-disable scss/at-import-partial-extension

.gem-c-autocomplete {
  position: relative;
}

.autocomplete__menu {
  border: 1px solid $govuk-border-colour;
  margin: 0;

  // negative margin needed to align autocomplete results with input + submit width
  // otherwise some dom manipulation needed which is more brittle approach
  margin-right: -40px;
  padding: 0;
  box-sizing: border-box;
  overflow-y: auto;
  background: govuk-colour("white");
  list-style: none;
  position: relative;
  z-index: 1;

  &:empty {
    border: none;
  }
}

.autocomplete__option-wrapper {
  display: block;
}

.autocomplete__option {
  cursor: default;
  position: relative;
  outline: none;
  vertical-align: middle;
  @include govuk-font(19);

  &:last-child .autocomplete__option--border {
    border-bottom: 0;
  }

  &:hover,
  &[aria-selected="true"] {
    background-color: govuk-colour("light-grey");
    cursor: pointer;
  }

  &--search-icon {
    background-image: url("govuk_publishing_components/icon-search.svg");
    background-repeat: no-repeat;
    width: govuk-spacing(7);
    height: govuk-spacing(7);
    vertical-align: middle;
    display: inline-block;
  }

  &--border {
    height: 1px;
    display: block;
    width: 100%;
    border-bottom: 1px solid $govuk-border-colour;
  }
}

.autocomplete__suggestion-text {
  vertical-align: middle;
}

.gem-c-search--large {
  .autocomplete__option--search-icon {
    width: govuk-spacing(8);
    height: govuk-spacing(8);
  }

  .autocomplete__menu {
    margin-right: -50px;
  }
}
