@import "govuk_publishing_components/individual-component-support";
@import "govuk/components/service-navigation/service-navigation";

.gem-c-service-navigation--full-width {
  padding-left: govuk-spacing(3);
}
