$share-button-width: 32px;
$share-button-height: 32px;

.gem-c-share-links__list {
  list-style: none;
}

.gem-c-share-links__list-item {
  @include box-sizing(border-box);
  position: relative;
  display: inline-block;
  min-height: $share-button-height;
  padding-top: $share-button-height / 8;
  padding-left: ($share-button-width + $gutter-one-third);
  margin-bottom: $gutter-one-third;
}

.gem-c-share-links__link {
  @include bold-16;
  margin-right: $gutter;
  text-decoration: none;
}

.gem-c-share-links__title {
  margin-bottom: $gutter-one-third;
}

.gem-c-share-links__link-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: $share-button-width;
  height: $share-button-height;
  vertical-align: top;
}

.direction-rtl {
  .gem-c-share-links__link {
    display: inline-block;
    margin-right: 0;
    margin-left: $gutter;
  }

  .gem-c-share-links__list-item {
    padding-left: 0;
    padding-right: ($share-button-width + $gutter-one-third);
  }

  .gem-c-share-links__link-icon {
    left: auto;
    right: 0;
  }
}

.gem-c-share-links--stacked {
  .gem-c-share-links__list-item {
    display: block;
  }
}
