.gem-c-step-nav-header {
  position: relative;
  padding: 10px;
  background: $grey-4;
  border-top: solid 1px $grey-2;
  border-bottom: solid 1px $grey-2;

  @include media(tablet) {
    padding: $gutter-half;
  }
}

// scss-lint:disable SelectorFormat

.gem-c-step-nav-header__part-of {
  @include bold-16;

  display: block;
  padding-bottom: 0.2em;
}

.gem-c-step-nav-header__title {
  @include bold-24;
}

// scss-lint:enable SelectorFormat
