@use "govuk_publishing_components/individual_component_support" as govuk_frontend;

.gem-c-step-nav-header {
  position: relative;
  padding: 10px;
  background: govuk_frontend.govuk-colour("light-grey");
  border-bottom: solid 1px govuk_frontend.govuk-colour("blue");
  margin-top: govuk_frontend.govuk-spacing(3);
  @include govuk_frontend.govuk-font(24, $weight: bold);
  @include govuk_frontend.govuk-text-colour;

  @include govuk_frontend.govuk-media-query($from: tablet) {
    padding: govuk_frontend.govuk-spacing(5);
  }
}

.gem-c-step-nav-header__part-of {
  display: block;
  @include govuk_frontend.govuk-font(19, $weight: bold);
}

@include govuk_frontend.govuk-media-query($media-type: print) {
  .gem-c-step-nav-header {
    padding: 0 0 govuk_frontend.govuk-spacing(4) 0;
    background: none;
    border-color: govuk_frontend.$govuk-print-text-colour;
  }

  .gem-c-step-nav-header__part-of {
    display: block;
  }

  .gem-c-step-nav-header__title {
    @include govuk_frontend.govuk-font(24, $weight: bold);
  }
}
