.gem-c-step-nav-header {
  @include govuk-text-colour;
  position: relative;
  padding: 10px;
  background: govuk-colour("grey-4");
  border-top: solid 1px govuk-colour("grey-2");
  border-bottom: solid 1px govuk-colour("grey-2");

  @include govuk-media-query($from: tablet) {
    padding: govuk-spacing(3);
  }
}

// scss-lint:disable SelectorFormat

.gem-c-step-nav-header__part-of {
  @include govuk-font(16, $weight: bold);

  display: block;
  padding-bottom: .2em;
}

.gem-c-step-nav-header__title {
  @extend %govuk-link;
  @include govuk-font(24, $weight: bold);
}

// scss-lint:enable SelectorFormat
