@import "govuk_publishing_components/individual_component_support";

.gem-c-step-nav-related {
  @include govuk-text-colour;
  border-top: 2px solid govuk-colour("blue");
  margin-bottom: govuk-spacing(6);
}

.gem-c-step-nav-related__heading {
  margin-top: govuk-spacing(3);
  margin-bottom: govuk-spacing(2);
  @include govuk-font(19, $weight: bold);
}

.gem-c-step-nav-related__links {
  @include govuk-font(16);
  list-style: none;
  margin: 0;
  padding: 0;
}

.gem-c-step-nav-related--singular {
  margin-bottom: govuk-spacing(2) + 3;

  .gem-c-step-nav-related__heading {
    @include govuk-font(19, $weight: bold, $line-height: 1.4);
    margin-top: govuk-spacing(4);

    @include govuk-media-query($until: tablet) {
      font-size: 19px;
    }
  }

  .gem-c-step-nav-related__pretitle {
    margin-bottom: calc(govuk-spacing(6) / 4);
  }
}

.gem-c-step-nav-related__pretitle {
  display: block;
  margin-bottom: govuk-spacing(3);

  @include govuk-media-query($from: tablet) {
    margin-bottom: govuk-spacing(1);
  }
}

.gem-c-step-nav-related__link-item {
  margin-top: govuk-spacing(3);
}
