@import "govuk_publishing_components/individual_component_support";

.gem-c-step-nav-header {
  position: relative;
  padding: 10px;
  background: govuk-colour("light-grey");
  border-bottom: solid 1px govuk-colour("blue");
  margin-top: govuk-spacing(3);
  @include govuk-font(24, $weight: bold);
  @include govuk-text-colour;

  @include govuk-media-query($from: tablet) {
    padding: govuk-spacing(5);
  }
}

.gem-c-step-nav-header__part-of {
  display: block;
  @include govuk-font(19, $weight: bold);
}

@include govuk-media-query($media-type: print) {
  .gem-c-step-nav-header {
    padding: 0 0 govuk-spacing(4) 0;
    background: none;
    border-color: $govuk-print-text-colour;
  }

  .gem-c-step-nav-header__part-of {
    display: block;
  }

  .gem-c-step-nav-header__title {
    @include govuk-font(24, $weight: bold);
  }
}
