.gem-c-success-alert {
  color: $govuk-text-colour;
  padding: $gem-spacing-scale-3;
  border: $gem-border-width-mobile solid $gem-success-colour;
  @include govuk-responsive-margin(8, "bottom");

  @include govuk-media-query($from: tablet) {
    padding: $gem-spacing-scale-4;
    border-width: $gem-border-width-tablet;
  }
}

.gem-c-success-alert__message {
  @include govuk-font(19, $weight: bold);
  margin: 0;
}

.gem-c-success-summary__title {
  margin-top: 0;
  margin-bottom: $gem-spacing-scale-3;

  @include govuk-media-query($from: tablet) {
    margin-bottom: $gem-spacing-scale-4;
  }

  @include govuk-font(24, $weight: bold);
}

.gem-c-success-summary__body {
  @include govuk-font(19);
  margin: 0;
}

.gem-c-success-alert:focus {
  outline: $gem-focus-width solid $gem-focus-colour;
}
