.gem-c-success-alert {
  color: $gem-text-colour;
  padding: $gem-spacing-scale-3;
  border: $gem-border-width-mobile solid $gem-success-colour;
  margin-bottom: $gem-spacing-scale-4;

  @include media(tablet) {
    padding: $gem-spacing-scale-4;
    border-width: $gem-border-width-tablet;
  }
}

.gem-c-success-alert__message {
  @include bold-19;
  margin: 0;
}

.gem-c-success-summary__title {
  margin-top: 0;
  margin-bottom: $gem-spacing-scale-3;

  @include media(tablet) {
    margin-bottom: $gem-spacing-scale-4;
  }

  @include bold-24;
}

.gem-c-success-summary__body {
  @include core-19;
  margin: 0;
}

.gem-c-success-alert:focus {
  outline: $gem-focus-width solid $gem-focus-colour;
}
