.gem-c-summary-banner {
  direction: ltr;
  background: $govuk-brand-colour;
  color: govuk-colour("white");
  padding: govuk-spacing(6) govuk-spacing(3) govuk-spacing(3);
  clear: both;
  @include govuk-font(19);

  @include govuk-media-query($from: tablet) {
    padding: govuk-spacing(7) govuk-spacing(6) govuk-spacing(5);
  }

  a {
    @include govuk-link-common;
    @include govuk-link-style-inverse;
  }
}

.gem-c-summary-banner__title {
  margin: 0 0 govuk-spacing(6) 0;
  color: govuk-colour("white");
  @include govuk-font(27, $weight: bold);
}

.gem-c-summary-banner__text {
  // Ensure the text has a line-length of around 60 characters
  max-width: 30em;
  padding: 0;
  margin-bottom: govuk-spacing(4);
  @include govuk-font(19);
}
