@use "govuk_publishing_components/individual_component_support" as govuk_frontend;
@use "govuk/components/tag/tag";

.gem-c-tag {
  max-width: none;
}

@include govuk_frontend.govuk-media-query($media-type: print) {
  .gem-c-tag.govuk-tag {
    color: govuk_frontend.$govuk-print-text-colour;
    background: none;
    border: 2px solid govuk_frontend.govuk-colour("black");
  }
}
