.gem-c-task-list-related {
  margin-bottom: $gutter-half;
}

.gem-c-task-list-related__heading,
.gem-c-task-list-related__links {
  @include bold-19;
  margin: 0;
  padding: 0;
}

.gem-c-task-list-related__pretitle {
  display: block;
  margin-bottom: $gutter-half;

  @include media(tablet) {
    margin-bottom: 5px;
  }
}

.gem-c-task-list-related__links {
  list-style: none;
}

.gem-c-task-list-related__link-item {
  margin-top: $gutter-half;

  @include media(tablet) {
    margin-top: 5px;
  }
}

.gem-c-task-list-related__link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
