@use "govuk_publishing_components/individual_component_support" as govuk_frontend;
@use "govuk/components/textarea/textarea";

.gem-c-textarea {
  .govuk-textarea {
    margin-bottom: 0;

    ~ .govuk-hint {
      margin-top: govuk_frontend.govuk-spacing(1);
    }

    ~ .govuk-error-message {
      margin-top: govuk_frontend.govuk-spacing(1);
    }
  }
}

@include govuk_frontend.govuk-media-query($media-type: print) {
  .gem-c-textarea {
    .gem-c-label,
    .gem-c-error-message,
    .govuk-hint,
    .govuk-character-count__message {
      display: block;
    }

    .govuk-textarea {
      width: 400px;
      height: 40px;
    }
  }
}
