.gem-c-title {
  @include responsive-top-margin;
}

// margins would ideally be handled by a general model for all components
// but we don't have one yet, so this is in anticipation of that
// suggested scale is as follows, not fully implemented
// no margin = 0
// $gutter = 4
// responsive-bottom-margin = 5
.gem-c-title--margin-bottom-4 {
  margin-bottom: $gutter;
}

.gem-c-title--margin-bottom-5 {
  @include responsive-bottom-margin;
}

.gem-c-title--inverse {
  color: $white;

  .gem-c-title__context {
    color: inherit;
  }
}

.gem-c-title__context {
  @include core-24;
  color: $secondary-text-colour;
}

.gem-c-title__context-link {
  text-decoration: none;

  &:link,
  &:visited {
    color: inherit;

    &:focus {
      color: $black;
    }
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.gem-c-title__text {
  @include bold-48;
}

.gem-c-title__text--long {
  @include bold-36;
}
