@import "govuk_publishing_components/individual_component_support";

.gem-c-title--inverse {
  color: govuk-colour("white");

  .gem-c-title__text,
  .gem-c-title__context {
    color: inherit;
  }
}

.gem-c-title__context-link {
  text-decoration: none;

  &:link,
  &:visited {
    color: inherit;
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    text-decoration: none;
    color: $govuk-focus-text-colour;
  }
}

.gem-c-title__text {
  margin: 0;
}

@include govuk-media-query($media-type: print) {
  .gem-c-title {
    margin: 5mm 0 10mm !important; // stylelint-disable-line declaration-no-important
  }

  .gem-c-title__context {
    margin: 0;
  }

  .gem-c-title__text {
    margin-top: 0;
  }

  .gem-c-title--inverse {
    color: $govuk-print-text-colour;
  }
}
