.app-c-topic-list__item {
  @include bold-19;
  list-style: none;
  margin-bottom: $gutter-one-third;
}

.app-c-topic-list__link--no-underline {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.app-c-topic-list--small {
  .app-c-topic-list__item {
    margin-bottom: $gutter-one-third / 2;
  }

  .app-c-topic-list__link {
    @include bold-16;
  }
}
