$transition-campaign-red: #ff003b;
$transition-campaign-dark-blue: #1e1348;

.gem-c-transition-countdown {
  @include govuk-font(19);
  margin-bottom: govuk-spacing(6);
}

.gem-c-transition-countdown--cta {
  background-color: govuk-colour('light-grey', $legacy: 'grey-4');
  border-top: 4px solid $transition-campaign-red;
  display: block;
  padding: govuk-spacing(3);
  text-decoration: none;
}

.gem-c-transition-countdown__title {
  @extend %govuk-heading-m;
  color: $transition-campaign-dark-blue;
}

.gem-c-transition-countdown__countdown {
  margin-top: 0;
  margin-bottom: govuk-spacing(2);

  @include govuk-media-query($from: tablet) {
    margin-bottom: govuk-spacing(0);
  }
}

.gem-c-transition-countdown__countdown-number {
  @include govuk-font($size: 80, $weight: bold, $line-height: 60px);

  min-width: 50px;
  text-align: center;
  display: inline-block;
  background: $transition-campaign-dark-blue;
  color: govuk-colour('white');
  position: relative;
  margin-bottom: govuk-spacing(2);

  @include govuk-media-query($from: tablet) {
    padding: govuk-spacing(2) govuk-spacing(1);
  }

  &:after {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1px;
    height: 3px;
    background: govuk-colour('white');
    content: '';
    width: 100%;
    display: block;
  }

  &:first-child {
    margin-right: 3px;
  }

  &:nth-child(2) {
    margin-right: govuk-spacing(2);
  }
}

.gem-c-transition-countdown__countdown-text {
  @extend %govuk-heading-m;

  display: inline-block;
  margin-bottom: 0;
  height: 45px;
  vertical-align: middle;
  color: $transition-campaign-dark-blue;

  @include govuk-media-query($from: tablet) {
    height: 80px;
  }

  &:after {
    content: '' / '.'; // Wrap up the countdown-text element in a statement for screen readers
  }
}

.gem-c-transition-countdown__text {
  @extend %govuk-link;

  margin-top: 0;
  margin-bottom: 0;
  text-decoration: underline;

  @include govuk-media-query($from: tablet) {
    margin-bottom: govuk-spacing(2);
  }
}

.gem-c-transition-countdown:focus {
  .gem-c-transition-countdown__countdown-number:after {
    background-color: $govuk-focus-colour;
  }

  .gem-c-transition-countdown__text {
    text-decoration: none;
  }
}

@include govuk-compatibility(govuk_template) {
  .gem-c-transition-countdown__title {
    margin-bottom: govuk-spacing(3);
  }

  .gem-c-transition-countdown__countdown-number {
    padding: govuk-spacing(1) 0 0;

    @include govuk-media-query($from: tablet) {
      padding: govuk-spacing(3) govuk-spacing(1) govuk-spacing(1);
    }
  }

  .gem-c-transition-countdown__countdown-text {
    @include govuk-media-query($from: tablet) {
      height: 75px;
    }
  }
}
