@use "govuk_publishing_components/individual_component_support" as govuk_frontend;

.gem-c-translation-nav {
  margin-bottom: govuk_frontend.govuk-spacing(6);
  border-bottom: 1px solid govuk_frontend.$govuk-border-colour;
  @include govuk_frontend.responsive-top-margin;
  @include govuk_frontend.govuk-text-colour;
  @include govuk_frontend.govuk-font(16);
}

.gem-c-translation-nav__list {
  list-style: none;
  margin: 0 (- govuk_frontend.govuk-spacing(2));
  padding: 0;
  @include govuk_frontend.govuk-clearfix;
}

.gem-c-translation-nav__list-item {
  float: left;
  padding-left: govuk_frontend.govuk-spacing(2);
  padding-right: govuk_frontend.govuk-spacing(2);
  margin-bottom: govuk_frontend.govuk-spacing(2);
  border-right: 1px solid govuk_frontend.$govuk-border-colour;
  height: 16px;

  .direction-rtl & {
    direction: rtl;
    float: right;
    text-align: start;
    border-left: 1px solid govuk_frontend.$govuk-border-colour;
    border-right: 0;
  }
}

.gem-c-translation-nav--inverse {
  border-color: govuk_frontend.govuk-colour("white");

  .gem-c-translation-nav__list-item,
  .gem-c-translation-nav__link {
    color: govuk_frontend.govuk-colour("white");

    &:focus {
      color: govuk_frontend.govuk-colour("black");
    }
  }
}

.gem-c-translation-nav__list-item:last-child {
  border-right: 0;
  border-left: 0;
}

.gem-c-translation-nav--no-margin-top {
  margin-top: 0;
}
