@import "govuk_publishing_components/individual_component_support";

.gem-c-translation-nav {
  margin-bottom: govuk-spacing(6);
  border-bottom: 1px solid $govuk-border-colour;
  @include govuk-text-colour;
  @include govuk-font(16);
}

.gem-c-translation-nav__list {
  list-style: none;
  margin: 0 (- govuk-spacing(2));
  padding: 0;
  @include govuk-clearfix;
}

.gem-c-translation-nav__list-item {
  float: left;
  padding-left: govuk-spacing(2);
  padding-right: govuk-spacing(2);
  margin-bottom: govuk-spacing(2);
  border-right: 1px solid $govuk-border-colour;
  height: 16px;

  .direction-rtl & {
    direction: rtl;
    float: right;
    text-align: start;
    border-left: 1px solid $govuk-border-colour;
    border-right: 0;
  }
}

.gem-c-translation-nav--inverse {
  border-color: govuk-colour("white");
  color: govuk-colour("white");
}

.gem-c-translation-nav__list-item:last-child {
  border: 0;
}
