@import "govuk_publishing_components/individual_component_support";
@import "govuk/components/warning-text/warning-text";

.gem-c-warning-text .govuk-warning-text__text {
  margin: 0;
}

.gem-c-warning-text__text--no-indent {
  padding-left: 0;
  margin-left: 0;
}

.gem-c-warning-text__text--large {
  @include govuk-font($size: 24, $weight: bold);
}

.gem-c-warning-text__text--highlight {
  color: $govuk-error-colour;
}
