<div class="test-component-with-a11y-incomplete-warning">
  <p style="background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs='); color: white;">Paragraph with background</p>
</div>
