<% content_for :title, "#{@component_example.name} example - #{@component_doc.name} component" %>
<%= render 'govuk_component/title', title: @component_example.name, context: "#{@component_doc.name} example" %>

<div class="component-show">
  <div class="component-doc">
    <%= render "govuk_component/govspeak", content: @component_example.html_description %>
    <h2 class="component-doc-h2">How to call this example</h2>
    <%= render partial: "govuk_publishing_components/component_guide/component_doc/call", locals: { component_doc: @component_doc, example: @component_example } %>

    <h2 class="component-doc-h2">How it looks</h2>
    <%= render partial: "govuk_publishing_components/component_guide/component_doc/preview", locals: { component_doc: @component_doc, example: @component_example } %>
  </div>
</div>
