<% @component_examples.each do |example| %>
  <div class="component-guide-preview-page">
    <% if @component_examples.length > 1 %>
      <h2 class="preview-title"><a href="<%= component_example_path(@component_doc.id, example.id) %>"><%= example.name %></a></h2>
    <% end %>
    <div data-module="test-a11y">
      <%= render @component_doc.partial_path, example.html_safe_data %>
    </div>
  </div>
<% end %>
