@use "sass:meta";

@use "govuk_publishing_components/settings/app-font-url" as *;
@use "govuk_publishing_components/settings/app-image-url" as *;

@use "govuk" as * with (
  $govuk-output-custom-properties: true,
  // $govuk-fonts-path: "/assets/",
  $govuk-font-url-function: meta.get-function("app-font-url"),
  $govuk-image-url-function: meta.get-function("app-image-url"),
  // $govuk-images-path: "/assets/",
);

@use "govuk_publishing_components/all-components";

/*
  this is for testing the auditing code

  .gem-c-something {}
*/
