<!DOCTYPE html>
<html>
<head>
  <title>Govuk publishing components</title>
  <%= stylesheet_link_tag    "govuk_publishing_components/application", media: "all" %>
  <%= javascript_include_tag "govuk_publishing_components/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
