<div class="govuk-width-container">
  <%= render "govuk_publishing_components/components/phase_banner", {
    phase: "beta",
    message: sanitize(t("components.layout_for_public.account_layout.feedback.banners.phase_banner_html"))
  } %>

  <div class="govuk-grid-row govuk-main-wrapper">
    <div class="govuk-grid-column-two-thirds">
      <div id="wrapper">
        <%= yield :before_content %>
        <main role="main" id="content">
          <%= yield %>
        </main>
      </div>
    </div>
  </div>
</div>
