<% page_is ||= nil %>

<nav aria-label="Account management" class="gem-c-layout-for-public-account-nav">
  <ul class="gem-c-layout-for-public-account-menu">
    <li class="gem-c-layout-for-public-account-menu__item <%= "gem-c-layout-for-public-account-menu__item--current" if page_is == "your-account" %>">
      <%= link_to(
        t("components.layout_for_public.account_layout.navigation.menu_bar.account.link_text"),
        GovukPersonalisation::Urls.your_account,
        class: "gem-c-layout-for-public-account-menu__link govuk-link govuk-link--no-visited-state",
        'aria-current': page_is == "your-account" ? "page" : nil,
      ) %>
    </li>
    <li class="gem-c-layout-for-public-account-menu__item <%= "gem-c-layout-for-public-account-menu__item--current" if page_is == "manage" %>">
      <%= link_to(
        t("components.layout_for_public.account_layout.navigation.menu_bar.manage.link_text"),
        GovukPersonalisation::Urls.manage,
        class: "gem-c-layout-for-public-account-menu__link govuk-link govuk-link--no-visited-state",
        'aria-current': page_is == "manage" ? "page" : nil,
        data: { module: "explicit-cross-domain-links" },
      ) %>
    </li>
  </ul>
</nav>
