<%
  hide_logo_text ||= false
  large_navbar ||= false
  logo_text ||= t("components.layout_super_navigation_header.logo_text")
  logotype_classes = %w(govuk-header__logotype gem-c-layout-super-navigation-header__logotype-crown)
  logotype_classes << "gem-c-layout-super-navigation-header__logotype-crown--large-navbar" if large_navbar  
%>

<% unless hide_logo_text %>
  <%= inline_svg_tag 'govuk_publishing_components/govuk-logo.svg', class: logotype_classes %>
<% else %>
  <span class="govuk-visually-hidden">
    <%= logo_text %>
  </span>
  <%= inline_svg_tag "govuk_publishing_components/govuk-logo-crown-only.svg", class: logotype_classes %>
<% end %>
