<%
  hide_logo_text ||= false
  large_navbar ||= false
  logo_text ||= t("components.layout_super_navigation_header.logo_text")
  logotype_classes = %w(govuk-header__logotype gem-c-layout-super-navigation-header__logotype-crown)
%>

<% unless hide_logo_text %>
  <%= render "govuk_publishing_components/components/govuk_logo/govuk_logo" %>
<% else %>
  <span class="govuk-visually-hidden">
    <%= logo_text %>
  </span>
  <%= render "govuk_publishing_components/components/govuk_logo/govuk_logo_crown_only", {
    classes: logotype_classes,
  } %>
<% end %>
