$info-background: #d5e8f3;
$high-alert-border: #cc0000;

.govspeak, // Legacy class name that's still used in some content items - needs to be kept until `.govspeak` is removed from the content items.
.gem-c-govspeak {
  .advisory {
    background-image: url("govuk_publishing_components/icon-important.svg");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 98% center;
    background-color: $info-background;
    line-height: 1.3em;
    margin: 0 0 1em;
    padding: govuk-spacing(3) govuk-spacing(8) govuk-spacing(3) govuk-spacing(3);
    text-align: left;

    p {
      margin: 0 .75em 0 0;
      min-height: 1.75em;
      padding-right: 3em;
    }

    strong {
      font-weight: 400;
    }

    &.high-alert {
      background-color: govuk-colour("light-grey");
      border: 1px solid $high-alert-border;
    }

    @include govuk-media-query($until: tablet) {
      margin: 0 0 1em;
    }
  }
}
