$info-background: #d5e8f3;
$high-alert-border: #cc0000;

.gem-c-govspeak .advisory {
  background: image-url("icon-information.png") no-repeat scroll 98% 1em $info-background;
  line-height: 1.3em;
  margin: 0 -1em 1em;
  padding: 1em;
  text-align: left;

  @include govuk-device-pixel-ratio {
    background-image: image-url("icon-information-2x.png");
    background-size: 27px 27px;
  }

  p {
    margin: 0 .75em 0 0;
    min-height: 1.75em;
    padding-right: 3em;
  }

  strong {
    font-weight: 400;
  }

  &.high-alert {
    background-color: govuk-colour("light-grey");
    border-color: $high-alert-border;
  }

  @include govuk-media-query($until: tablet) {
    margin: 0 0 1em;
  }
}
