$info-background: #D5E8F3;
$high-alert-border:#C00;

.govuk-govspeak .advisory {
  background: image-url("icon-information.png") no-repeat scroll 98% 1em $info-background;
  line-height: 1.3em;
  margin: 0 -1em 1em;
  padding: 1em;
  text-align: left;

  @include device-pixel-ratio() {
    background-image: image-url("icon-information-2x.png");
    background-size: 27px 27px;
  }

  p {
    margin: 0 0.75em 0 0;
    min-height: 1.75em;
    padding-right: 3em;
  }

  strong {
    font-weight: 400;
  }

  &.high-alert {
    background-color: $panel-colour;
    border-color: $high-alert-border;
  }

  @include media-down(mobile) {
    margin: 0 0 1em;
  }
}
