@import "govuk/components/button/button";

// scss-lint:disable PlaceholderInExtend
// sass-lint:disable placeholder-in-extend
.gem-c-govspeak {
  .button,
  .govuk-button {
    @extend .govuk-button;
  }

  .button-start,
  .govuk-button--start {
    @extend .govuk-button--start;
  }
}
// sass-lint:enable placeholder-in-extend
// scss-lint:enable PlaceholderInExtend
