// Govspeak contact
// https://govuk-publishing-components.herokuapp.com/component-guide/govspeak/contact
//
// Support:
// - alphagov/whitehall: ✔︎
// - alphagov/govspeak: ✔︎

.gem-c-govspeak {
  // .address is used by the `$A` markdown pattern
  .address,
  .contact {
    border-left: 1px solid $border-colour;
    padding-left: $gutter-half;
    margin-bottom: $gutter;
    margin-top: $gutter;
  }

  .contact {
    @extend %contain-floats;
    position: relative;

    .content {
      float: none;
      width: $full-width;

      h3 {
        @include bold-19;
        margin-bottom: 5px;
      }

      .email-url-number {
        .email {
          word-wrap: break-word;
        }

        span {
          display: block;
        }
      }

      .comments {
        @include core-16;
        @include media(tablet) {
          margin-bottom: 0;
        }
      }
    }
  }
}
