.content-block,
.content-block__contact-key,
.content-block__contact-value,
.content-block__contact-list {
  margin: 0;
  padding: 0;
}

.content-block__contact-key {
  @include govuk-font(19, $weight: "bold");
  @include govuk-responsive-margin(4, "bottom");
}

.content-block .content-block__list {
  margin-left: 0;
  list-style: none;
}
