// Govspeak footnotes callout
// https://components.publishing.service.gov.uk/component-guide/govspeak/footnotes
//
// Support:
//
// This appears to be built into kramdown, we're just applying styling to it.
// https://kramdown.gettalong.org/syntax.html#footnotes
//
// - alphagov/whitehall: ✔︎
// - alphagov/govspeak: ✔︎

// stylelint-disable max-nesting-depth

.govspeak, // Legacy class name that's still used in some content items - needs to be kept until `.govspeak` is removed from the content items.
.gem-c-govspeak {
  .footnotes {
    border-top: 1px solid govuk-colour("mid-grey");
    margin-top: govuk-spacing(6);
    padding-top: govuk-spacing(2);

    a {
      overflow-wrap: break-word;
    }

    ol {
      margin-top: 0;
      padding-top: 0;

      li p {
        margin: 10px 0;
      }
    }
  }
}
