.gem-c-govspeak .form-download {
  padding: 0.25em 0;

  @include media-down(mobile) {
    margin: 1em 0 1.5em;
  }

  p {
    padding-right: 3em;
  }

  a {
    display: block;
    font-weight: 600;
    background: image-url("icon-file-download.png") no-repeat scroll 0 0;
    min-height: 2.5em;
    padding: 0 0 0 2.5em;

    @include device-pixel-ratio() {
      background-image: image-url("icon-file-download-2x.png");
      background-size: 25px 25px;
    }
  }
}
