// Govspeak fractions
// https://components.publishing.service.gov.uk/component-guide/govspeak/image_fractions
// https://components.publishing.service.gov.uk/component-guide/govspeak/text_fractions
//
// Support:
// - alphagov/whitehall: ✔︎
// - alphagov/govspeak: ✘

@use "govuk/base" as *;

// stylelint-disable max-nesting-depth
.govspeak, // Legacy class name that's still used in some content items - needs to be kept until `.govspeak` is removed from the content items.
.gem-c-govspeak {
  .fraction {
    sup,
    sub {
      @include govuk-font($size: 16);
    }

    img {
      display: inline-block;
      width: auto;
      margin: 0 0 -5px;

      @include govuk-media-query($media-type: print) {
        margin-bottom: -7px;
      }
    }
  }
}
