// Govspeak images
//
// Support:
// - alphagov/whitehall: ✔︎
// - alphagov/govspeak: ✔︎

.gem-c-govspeak {
  img {
    width: auto;
    height: auto;
    max-width: 100%;
  }

  figure {
    width: 100%;
    clear: both;
    overflow: hidden;
    padding: govuk-spacing(2) 0 0;

    img {
      display: inline;
      text-align: center;
      width: auto;
      height: auto;
      max-width: 100%;
    }

    figcaption {
      @include govuk-font($size: 14);
    }
  }
}
