// Govspeak information callout
// https://components.publishing.service.gov.uk/component-guide/govspeak/information_callout
//
// Support:
//
// - alphagov/whitehall: ✔︎
// - alphagov/govspeak: ✔︎

.govspeak, // Legacy class name that's still used in some content items - needs to be kept until `.govspeak` is removed from the content items.
.gem-c-govspeak {
  .info-notice {
    border-left: 10px solid govuk-colour("mid-grey");
    padding: 1em 0 1em 1em;
    margin: 2em 0;

    // Remove margin from the last element
    p:last-child,
    ul:last-child,
    ol:last-child {
      margin-bottom: 0;
    }
  }
}
