// Govspeak information callout
// https://components.publishing.service.gov.uk/component-guide/govspeak/information_callout
//
// Support:
//
// - alphagov/whitehall: ✔︎
// - alphagov/govspeak: ✔︎

@use "govuk/base" as *;

.govspeak, // Legacy class name that's still used in some content items - needs to be kept until `.govspeak` is removed from the content items.
.gem-c-govspeak {
  .info-notice {
    border-left: 10px solid govuk-colour("mid-grey");
    padding: govuk-spacing(4) 0 0.1234px govuk-spacing(4); // non-zero padding on bottom keeps margin of last element inside parent, simulating padding
    margin: 0 0 govuk-spacing(4) 0;

    @include govuk-media-query($media-type: print) {
      margin: govuk-spacing(3) 0;
    }
  }
}
