// Govspeak legislative list
// https://components.publishing.service.gov.uk/component-guide/govspeak/legislative_lists

// Support:
// - alphagov/whitehall: ✔︎
// - alphagov/govspeak: ✔︎

.govspeak, // Legacy class name that's still used in some content items - needs to be kept until `.govspeak` is removed from the content items.
.gem-c-govspeak {
  .legislative-list {
    list-style: none;
    margin: 0 0 govuk-spacing(4) 0;

    ol {
      margin: govuk-spacing(2) 0 govuk-spacing(2) govuk-spacing(6);
      list-style: none;
    }
  }
}
