// Govspeak legislative list
// https://govuk-publishing-components.herokuapp.com/component-guide/govspeak/legislative_lists

// Support:
// - alphagov/whitehall: ✔︎
// - alphagov/govspeak: ✔︎

.gem-c-govspeak {
  .legislative-list {
    list-style: none;
    margin: 5px 0;

    li {
      margin: 5px 0;
    }

    p {
      margin: 20px 0;
    }

    ol {
      margin: 10px 0 10px $gutter;
      list-style: none;
    }
  }
}
