// stylelint-disable max-nesting-depth
.govspeak, // Legacy class name that's still used in some content items - needs to be kept until `.govspeak` is removed from the content items.
.gem-c-govspeak {
  .place {
    margin: 1.5em 0;
    border-bottom: solid 1px govuk-colour("mid-grey");
    padding-bottom: 1.5em;

    .address {
      margin: 0;
      padding: 0;
      width: auto;
      display: block;
    }

    .url {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .additional-information {
      @include govuk-font($size: 16);

      p {
        margin: .25em 0;
      }
    }

    @include govuk-media-query($until: tablet) {
      margin: .75em 0;
    }
  }
}
// stylelint-enable max-nesting-depth
