// Govspeak statistic headline
// https://components.publishing.service.gov.uk/component-guide/govspeak/statistic_headlines
//
// Support:
// - alphagov/whitehall: ✔︎
// - alphagov/govspeak: ✔︎

.govspeak, // Legacy class name that's still used in some content items - needs to be kept until `.govspeak` is removed from the content items.
.gem-c-govspeak {
  .stat-headline {
    margin-bottom: govuk-spacing(3);
    margin-top: govuk-spacing(3);

    @include govuk-media-query($from: tablet) {
      margin-bottom: govuk-spacing(4);
      margin-top: govuk-spacing(4);
    }

    p {
      margin: 0;
      @include govuk-font($size: 19, $weight: bold);
    }

    em {
      display: block;
      margin: 3px 0 -5px;
      @include govuk-font($size: 80, $weight: bold);
    }
  }
}
