.gem-c-govspeak .summary {
  margin: 0 0 2em;
  padding: 0;
  color: $text-colour;

  p {
    @include core-19;
  }

  @include media-down(mobile) {
    margin: 0 0 2em;
    padding: 0;
  }

  p,
  h2 {
    border: none;
    margin: 0 0.75em 0 0;
  }

  h2 {
    line-height: 1.35em;
  }
}
