// Govspeak tables
// https://govuk-publishing-components.herokuapp.com/component-guide/govspeak/tables
//
// Support:
// - alphagov/whitehall: ✔︎
// - alphagov/govspeak: ✔︎

.gem-c-govspeak {
  table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: $gutter 0;
    width: $full-width;
    @include core-14;

    caption {
      text-align: left;
      margin-bottom: 0.5em;
    }

    th,
    td {
      vertical-align: top;
      padding: $gutter-one-third $gutter-one-third $gutter-one-third 0;
      border-bottom: solid 1px $border-colour;
    }

    th {
      text-align: left;
      color: $black;
      @include bold-14;
    }

    td small {
      font-size: 1em;
    }
  }
}
