// Govspeak tables
// https://components.publishing.service.gov.uk/component-guide/govspeak/tables
//
// Support:
// - alphagov/whitehall: ✔︎
// - alphagov/govspeak: ✔︎

.govspeak, // Legacy class name that's still used in some content items - needs to be kept until `.govspeak` is removed from the content items.
.gem-c-govspeak {
  table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    margin: govuk-spacing(6) 0;
    overflow-x: auto;
    width: 100%;
    @include govuk-font($size: 14);

    caption {
      text-align: left;
      margin-bottom: .5em;
    }

    th,
    td {
      vertical-align: top;
      padding: govuk-spacing(2) govuk-spacing(2) govuk-spacing(2) 0;
      border-bottom: solid 1px govuk-colour("mid-grey", $legacy: "grey-2");
    }

    th {
      @include govuk-font($size: 14, $weight: bold);
      text-align: left;
      color: $govuk-text-colour;
    }

    td small {
      font-size: 1em;
    }
  }
}
