@import "../helpers/markdown-typography";
// Govspeak typography
// https://components.publishing.service.gov.uk/component-guide/govspeak/heading_levels
// https://components.publishing.service.gov.uk/component-guide/govspeak/lists
// https://components.publishing.service.gov.uk/component-guide/govspeak/nested_lists
// https://components.publishing.service.gov.uk/component-guide/govspeak/blockquote
//
// Support:
// - alphagov/whitehall: ✔︎
// - alphagov/govspeak: ✔︎

// stylelint-disable max-nesting-depth

.govspeak, // Legacy class name that's still used in some content items - needs to be kept until `.govspeak` is removed from the content items.
.gem-c-govspeak {
  @include markdown-typography;

  &.gem-c-govspeak--direction-rtl ol,
  &.gem-c-govspeak--direction-rtl ul {
    margin-left: 0;
    margin-right: govuk-spacing(4);

    a {
      overflow-wrap: break-word;
    }

    ul,
    ol {
      margin-bottom: 0;
    }
  }

  // Block quotes

  blockquote {
    padding: 0 0 0 govuk-spacing(4);
    margin: 0;
    border: 0;

    @include govuk-media-query($from: desktop) {
      margin: 0 0 0 (- govuk-spacing(6));
    }

    p {
      padding-left: govuk-spacing(3);

      @include govuk-media-query($from: tablet) {
        padding-left: govuk-spacing(6);
      }

      &::before {
        content: "\201C";
        float: left;
        clear: both;
        margin-left: (- govuk-spacing(3));
      }

      &:last-child::after {
        content: "\201D";
      }
    }
  }

  &.gem-c-govspeak--direction-rtl blockquote {
    padding: 0 govuk-spacing(4) 0 0;

    @include govuk-media-query($from: desktop) {
      margin: 0 (- govuk-spacing(6)) 0 0;
    }

    p {
      padding-right: govuk-spacing(3);
      padding-left: 0;

      @include govuk-media-query($from: tablet) {
        padding-right: govuk-spacing(6);
        padding-left: 0;
      }

      &::before {
        content: "\201D";
        float: right;
        margin-right: (- govuk-spacing(3));
        margin-left: 0;
      }

      &:last-child::after {
        content: "\201C";
      }
    }
  }

  // Text styles

  em,
  i {
    font-style: normal;
    font-weight: inherit;
  }
}

.gem-c-govspeak--inverse {
  color: govuk-colour("white");

  a {
    @include govuk-link-common;
    @include govuk-link-style-inverse;
  }
}
