@import "../helpers/markdown-typography";
// Govspeak typography
// https://govuk-publishing-components.herokuapp.com/component-guide/govspeak/heading_levels
// https://govuk-publishing-components.herokuapp.com/component-guide/govspeak/lists
// https://govuk-publishing-components.herokuapp.com/component-guide/govspeak/nested_lists
// https://govuk-publishing-components.herokuapp.com/component-guide/govspeak/blockquote
//
// Support:
// - alphagov/whitehall: ✔︎
// - alphagov/govspeak: ✔︎

.gem-c-govspeak {
  @include markdown-typography;

  &.direction-rtl ol,
  &.direction-rtl ul {
    margin-left: 0;
    margin-right: $gutter-two-thirds;

    ul,
    ol {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  // Block quotes

  blockquote {
    padding: 0 0 0 $gutter-two-thirds;
    margin: 0;
    border: 0;

    @include media(desktop) {
      margin: 0 0 0 (-$gutter);
    }

    p {
      padding-left: $gutter-half;

      @include media(tablet) {
        padding-left: $gutter;
      }

      &:before {
        content: "\201C";
        float: left;
        clear: both;
        margin-left: -$gutter-half;
      }

      &:last-child:after {
        content: "\201D";
      }
    }
  }

  &.direction-rtl blockquote {
    padding: 0 $gutter-two-thirds 0 0;

    @include govuk-media-query($from: desktop) {
      margin: 0 (-$gutter) 0 0;
    }

    p {
      padding-right: $gutter-half;
      padding-left: 0;

      @include govuk-media-query($from: tablet) {
        padding-right: $gutter;
        padding-left: 0;
      }

      &:before {
        content: "\201D";
        float: right;
        margin-right: -$gutter-half;
        margin-left: 0;
      }

      &:last-child:after {
        content: "\201C";
      }
    }
  }

  // Text styles

  em,
  i {
    font-style: normal;
    font-weight: inherit;
  }
}
