// Govspeak typography
// https://govuk-publishing-components.herokuapp.com/component-guide/govspeak/heading_levels
// https://govuk-publishing-components.herokuapp.com/component-guide/govspeak/lists
// https://govuk-publishing-components.herokuapp.com/component-guide/govspeak/nested_lists
// https://govuk-publishing-components.herokuapp.com/component-guide/govspeak/blockquote
//
// Support:
// - alphagov/whitehall: ✔︎
// - alphagov/govspeak: ✔︎

.gem-c-govspeak {
  ol,
  ul,
  p {
    @include core-19;
    margin-top: $gutter-half;
    margin-bottom: $gutter-half;

    @include media(tablet) {
      margin-top: $gutter-two-thirds;
      margin-bottom: $gutter-two-thirds;
    }
  }

  // Headings

  h2 {
    @include bold-27;
    margin-top: $gutter;

    @include media(desktop) {
      margin-top: $gutter * 1.5;
    }
  }

  h3 {
    @include bold-19;
    margin-top: $gutter + 5px;
  }

  h4 {
    @include bold-19;
    margin-top: $gutter + 5px;
  }

  h4,
  h5,
  h6 {
    @include bold-19;

    + p {
      margin-top: 5px;
    }
  }

  h2:first-child,
  h3:first-child,
  h4:first-child,
  p:first-child {
    margin-top: 0;
  }

  // Links

  a {
    text-decoration: underline;
  }

  // Lists

  ol,
  ul {
    list-style: decimal;
    list-style-position: outside;
    margin-left: $gutter-two-thirds;

    ul,
    ol {
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
    }

    @include ie(7) {
      li {
        margin-left: $gutter;
      }
    }
  }

  ul {
    list-style: disc;
    list-style-position: outside;
  }

  li {
    margin-bottom: 5px;

    p {
      margin: 0;
      padding: 0;
    }

    p + p,
    p + ul,
    p + ol,
    ul + p,
    ul + ol,
    ol + p,
    ol + ul {
      margin-top: 5px;
    }
  }

  &.direction-rtl ol,
  &.direction-rtl ul {
    margin-left: 0;
    margin-right: $gutter-two-thirds;

    ul,
    ol {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  // Block quotes

  blockquote {
    padding: 0 0 0 $gutter-two-thirds;
    margin: 0;
    border: 0;

    @include media(desktop) {
      margin: 0 0 0 (-$gutter);
    }

    p {
      padding-left: $gutter-half;

      @include media(tablet) {
        padding-left: $gutter;
      }

      &:before {
        content: "\201C";
        float: left;
        clear: both;
        margin-left: -$gutter-half;
      }

      &:last-child:after {
        content: "\201D";
      }
    }
  }

  &.direction-rtl blockquote {
    padding: 0 $gutter-two-thirds 0 0;

    @include media(desktop) {
      margin: 0 (-$gutter) 0 0;
    }

    p {
      padding-right: $gutter-half;
      padding-left: 0;

      @include media(tablet) {
        padding-right: $gutter;
        padding-left: 0;
      }

      &:before {
        content: "\201D";
        float: right;
        margin-right: -$gutter-half;
        margin-left: 0;
      }

      &:last-child:after {
        content: "\201C";
      }
    }
  }

  // Text styles

  em,
  i {
    font-style: normal;
    font-weight: inherit;
  }

  sup {
    font-size: 0.8em;
    line-height: 0.7em;
    vertical-align: super;
  }

  abbr {
    cursor: help;
  }

  // Horizontal Rule

  hr {
    margin-top: $gutter - 1px;
    margin-bottom: $gutter;
    border-top: 1px solid $border-colour;
  }
}
