// Govspeak warning callout
// https://components.publishing.service.gov.uk/component-guide/govspeak/warning_callout
//
// Support:
//
// - alphagov/whitehall: ✔︎
// - alphagov/govspeak: ✔︎

.gem-c-govspeak {
  .help-notice {
    $icon-size: 34px;
    $line-height-mobile: 20px;
    $line-height-tablet: 25px;

    margin: 2em 0;

    // Add '!' icon
    background-image: image-url("govuk_publishing_components/icon-important.svg");
    background-size: $icon-size $icon-size;
    background-repeat: no-repeat;
    min-height: $icon-size;
    padding-left: $icon-size;

    // Center the icon around the baseline
    padding-top: ($icon-size - $line-height-mobile) / 2;

    @include govuk-media-query($from: tablet) {
      padding-top: ($icon-size - $line-height-tablet) / 2;
    }

    p {
      @include govuk-font($size: 19, $weight: bold);
      margin-left: 1em;
    }
  }
}
