// Govspeak warning callout
// https://components.publishing.service.gov.uk/component-guide/govspeak/warning_callout
//
// Support:
//
// - alphagov/whitehall: ✔︎
// - alphagov/govspeak: ✔︎

.govspeak, // Legacy class name that's still used in some content items - needs to be kept until `.govspeak` is removed from the content items.
.gem-c-govspeak {
  .help-notice {
    $icon-size: 35px;
    $line-height-mobile: 20px;
    $line-height-tablet: 25px;

    margin: 2em 0;

    // Add '!' icon
    background-image: url("govuk_publishing_components/icon-important.svg");
    background-size: $icon-size $icon-size;
    background-repeat: no-repeat;
    min-height: $icon-size;
    padding-left: $icon-size;

    // Center the icon around the baseline
    padding-top: calc(($icon-size - $line-height-mobile) / 2);

    @include govuk-media-query($from: tablet) {
      padding-top: calc(($icon-size - $line-height-tablet) / 2);
    }

    p {
      margin-left: 1em;
      @include govuk-font($size: 19, $weight: bold);
    }
  }

  // Prevent excessive spacing when placed in a call-to-action block
  .call-to-action {
    .help-notice:first-child {
      margin-top: 0;
    }
  }
}
