// An arrow to represent a "back" link

@mixin back-arrow {
  border-bottom: 5px solid transparent;
  border-right: 6px solid;
  border-top: 5px solid transparent;
  content: '';
  display: block;
  left: 0;
  margin-top: -6px;
  position: absolute;
  top: 50%;
}
