@mixin responsive-bottom-margin {
  margin-bottom: $gutter-half;

  @include media(tablet) {
    margin-bottom: $gutter * 1.5;
  }
}

@mixin responsive-top-margin {
  margin-top: $gutter-half;

  @include media(tablet) {
    margin-top: $gutter * 1.5;
  }
}

@mixin responsive-vertical-margins {
  @include responsive-bottom-margin;
  @include responsive-top-margin;
}
