@mixin responsive-bottom-margin {
  margin-bottom: govuk-spacing(3);

  @include govuk-media-query($from: tablet) {
    margin-bottom: govuk-spacing(6) * 1.5;
  }
}

@mixin responsive-top-margin {
  margin-top: govuk-spacing(3);

  @include govuk-media-query($from: tablet) {
    margin-top: govuk-spacing(6) * 1.5;
  }
}

@mixin responsive-vertical-margins {
  @include responsive-bottom-margin;
  @include responsive-top-margin;
}
