<%
component_code =
  if example.has_block?
    "<%= render \"#{@component_doc.partial_path}\", #{example.pretty_data} do %\>\n" +
      "  #{example.block.html_safe}" +
      "<% end %\>"
  else
    "<%= render \"#{@component_doc.partial_path}\", #{example.pretty_data} %\>"
  end

code =
  if example.has_embed?
    example.embed.sub("<%= component %\>", component_code)
  else
    component_code
  end
%>
<div class="component-call component-highlight" contenteditable>
  <pre><code><%= example.highlight_code(code) %></code></pre>
</div>
