<div class="component-call code-block" contenteditable>
  <code class="language-ruby">&lt;%= render 'components/<%= component_doc.id %>'<% if fixture.data? %>, <%= fixture.pretty_data %><% end %> %&gt;</code>
</div>
