<div class="component-guide-preview
            <% if example.right_to_left? %>direction-rtl<% end %>
            <% if example.dark_background? %>dark-background<% end %>
            <% if example.black_background? %>black-background<% end %>
            <% if preview_page %>component-guide-preview--simple<% end %>">
  <%= render "govuk_publishing_components/component_guide/component_doc/component_output", example: example, component_doc: component_doc %>
</div>
