// This is the file that the application needs to include in order to use
// the components.

@import "govuk_frontend_support";

@import "components/print/accordion";
@import "components/print/attachment";
@import "components/print/back-link";
@import "components/print/button";
@import "components/print/contents-list";
@import "components/print/feedback";
@import "components/print/govspeak-html-publication";
@import "components/print/govspeak";
@import "components/print/layout-header";
@import "components/print/layout-footer";
@import "components/print/metadata";
@import "components/print/search";
@import "components/print/share-links";
@import "components/print/skip-link";
@import "components/print/step-by-step-nav-header";
@import "components/print/step-by-step-nav";
@import "components/print/subscription-links";
@import "components/print/textarea";
@import "components/print/title";
@import "components/print/translation-nav";
