// This is the file that the application needs to include in order to use
// the components.

@import "components/helpers/govuk-frontend-settings";

@import "components/print/accordion";
@import "components/print/attachment";
@import "components/print/back-link";
@import "components/print/button";
@import "components/print/contents-list";
@import "components/print/feedback";
@import "components/print/govspeak-html-publication";
@import "components/print/govspeak";
@import "components/print/layout-header";
@import "components/print/search";
@import "components/print/share-links";
@import "components/print/step-by-step-nav-header";
@import "components/print/step-by-step-nav";
@import "components/print/title";
