$govuk-new-link-styles: true;

// This flag stops the font from being included in this components's
// stylesheet - the font is being served by Static across all of GOV.UK, so is
// not needed here.
$govuk-include-default-font-face: false;

// Each component needs access to the variables, functions, and mixins from
// GOVUK Frontend.

$govuk-new-typography-scale: true;
// Feature flag for new typography scale
//
// When set to true, $govuk-typography-scale will use the new font map instead
// of the current/old one as well as apply changes in components to account
// for the updated scale.

@import "govuk_frontend_support";
