// Each component needs access to the variables, functions, and mixins from
// GOVUK Frontend.
@import "govuk-frontend/govuk-frontend-settings";
@import "govuk/base";
@import "govuk-frontend/govuk-frontend-vars";

@import "components/mixins/margins";
