// Include all of the GOV.UK Frontend styles. This includes global styles, fonts,
// and individual components.
$govuk-global-styles: true;
$govuk-image-url-function: 'image-url';
$govuk-font-url-function: 'font-url';

@import "../../../node_modules/govuk-frontend/all";

// Include our GOV.UK components
@import "govuk_publishing_components/all_components";

