$prism-background: #f5f2f0;
$border-color: #ccc;

.govuk-component-guide-wrapper {
  padding-bottom: $gutter * 1.5;
}

.component-list {
  li {
    @include core-19;
    margin-bottom: $gutter-half;
  }
}

.component-description {
  @include core-24;
  max-width: 30em;
  margin-bottom: $gutter * 1.5;
}

.component-body {
  margin-bottom: $gutter * 1.5;
}

.component-doc {
  @include core-16;

  .component-doc-h2:first-child {
    margin-top: 0;
  }

  p {
    margin: $gutter-half 0;
  }

  ol,
  ul {
    margin: 0 0 0 $gutter;
  }
}

.component-doc-h2 {
  @include bold-27;
  margin: ($gutter * 1.5) 0 $gutter;

  small {
    @include bold-16;
  }
}

.component-doc-h3 {
  margin: $gutter 0 $gutter-half;
  @include bold-19;
}

.component-guide-preview {
  padding: 30px 0;

  .preview-title {
    margin-bottom: 1em;
    @include bold-16;

    a {
      color: $black;
    }
  }
}

.code-block {
  margin: 30px 0;
  @extend %outdent-to-full-width;

  // Match Prism styles to avoid a flash as it renders
  background: $prism-background;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 16px;
  line-height: 1.5;

  &[contenteditable]:hover {
    cursor: text;
  }

  &[contenteditable]:focus {
    outline: 3px solid $focus-colour;
  }

  pre[class*=language-] {
    padding: $gutter;
    max-height: 300px;
  }

  code {
    display: block;
  }

  .token.operator {
    background: none;
  }
}

.component-guide-preview {
  padding: ($gutter * 1.5) $gutter $gutter;
  border: 1px solid $border-colour;
  position: relative;

  &:before {
    @include core-14;
    content: "EXAMPLE";
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.21053em 0.78947em;
    background: $border-colour;
    color: $white;
  }

  div[class^="govuk-"] {
    &:hover {
      outline: 1px solid $border-color;
      box-shadow: 0 0 10px $border-color;
    }
  }
}

.fixtures {
  .component-fixture {
    margin: 0 0 $gutter * 1.5;

    .fixture-title {
      @include bold-24;
      margin: $gutter-half 0;

      small {
        @include bold-16;
      }
    }
  }
}

// Preview Page Styling
html {
  background: $white;
}

.hide-header-and-footer {
  // scss-lint:disable IdSelector
  #global-header,
  #global-header-bar,
  #global-breadcrumb,
  #footer {
    display: none;
  }
}

.component-guide-preview-page {
    padding: ($gutter * 1.5) $gutter $gutter;
    position: relative;

    .preview-title {
    margin-bottom: 1em;
    @include bold-16;

    a {
      color: $black;
    }
  }
}

