// This file should be included in an application prior to specific components
// It provides govuk-frontend but adds no weight to the compiled CSS
@import "components/helpers/govuk-frontend-settings";
@import "govuk/base";

@import "components/mixins/margins";
// TODO: remove this focus override when govuk_template is no longer used
@import "components/mixins/govuk-template-link-focus-override";
@import "components/mixins/css3";

$govuk-suppressed-warnings: (
  organisation-colours
);

$gem-secondary-button-colour: #00823b;
$gem-secondary-button-hover-colour: darken($gem-secondary-button-colour, 5%);
$gem-secondary-button-background-colour: govuk-colour("white");
$gem-secondary-button-hover-background-colour: govuk-colour("light-grey");

$gem-quiet-button-colour: govuk-colour("dark-grey");
$gem-quiet-button-hover-colour: darken($gem-quiet-button-colour, 5%);

$gem-hover-dark-background: #dddcdb;

// Dart Sass 1.79.0 introduced support for CSS Color Level 4 color spaces.
// Consequently, the `govuk-tint` mixin now outputs rgb values with floating-point precision,
// leading to unsupported property value warnings in some browsers, such as Safari 11.1.1.
// To maintain compatibility, we're defining equivalent hex color values as variables.

$govuk-blue-tint-95: #f4f8fb; // govuk-tint(govuk-colour("blue"), 95%)
$govuk-rebrand-template-background-colour: $govuk-blue-tint-95;
