// $govuk-output-custom-properties: true;

@use "sass:meta";
// @use "url-handlers";

@use "../govuk_publishing_components/settings/app-font-url" as *;

@use "govuk" as * with (
  $govuk-output-custom-properties: true,
  // $govuk-fonts-path: "/assets/",
  $govuk-font-url-function: meta.get-function("app-font-url"),
  $govuk-images-path: "/assets/",
);

@use "govuk_publishing_components/components/helpers/brand-colours";
@use "govuk_publishing_components/lib/link";
@use "govuk_publishing_components/lib/print_support";
