// nothing in this file should add any CSS weight
// so that it can be imported into any CSS file

@import "govuk-frontend/govuk-frontend-settings";
@import "govuk/base";
@import "govuk-frontend/govuk-frontend-vars";

@import "govuk_publishing_components/components/mixins/css3";
@import "govuk_publishing_components/components/mixins/grid-helper";
@import "govuk_publishing_components/components/mixins/margins";
