<%
  direction_class = "direction-#{direction}" if local_assigns.include?(:direction)
  rich_govspeak = local_assigns.fetch(:rich_govspeak) if local_assigns.include?(:rich_govspeak)
  disable_youtube_expansions = local_assigns.fetch(:disable_youtube_expansions) if local_assigns.include?(:disable_youtube_expansions)

  classes = []
  classes << direction_class if direction_class
  classes << "rich-govspeak" if rich_govspeak
  classes << "disable-youtube" if disable_youtube_expansions
%>

<div class="govuk-govspeak <%= classes.join(" ") %>">
  <%= raw content %>
</div>
