@mixin organisation-brand-colour {
  @each $organisation in map-keys($govuk-colours-organisations) {
    .brand--#{$organisation} {
      .brand__color {
        color: govuk-organisation-colour($organisation);

        &:link,
        &:visited,
        &:active {
          color: govuk-organisation-colour($organisation);
        }

        &:hover,
        &:focus {
          color: $govuk-focus-text-colour;
        }
      }

      // the & declaration allows border-color to also be applied to the parent
      // element as required by the heading component, adds 2KB to the CSS
      &.brand__border-color,
      .brand__border-color {
        border-color: govuk-organisation-colour($organisation, $contrast-safe: false);
      }
    }
  }
}

@include organisation-brand-colour;

// in the past we used the-office-of-the-leader-of-the-house-of-commons before
// the "the" prefix was dropped, this is maintained here for backwards
// compatibility
.brand--the-office-of-the-leader-of-the-house-of-commons {
  .brand__color {
    color: govuk-organisation-colour("office-of-the-leader-of-the-house-of-commons");

    &:link,
    &:visited,
    &:active {
      color: govuk-organisation-colour("office-of-the-leader-of-the-house-of-commons");
    }

    &:hover,
    &:focus {
      color: $govuk-focus-text-colour;
    }
  }

  &.brand__border-color,
  .brand__border-color {
    border-color: govuk-organisation-colour("office-of-the-leader-of-the-house-of-commons", $contrast-safe: false);
  }
}
// colours for the prime ministers office are not included in the toolkit
// so are written out here for our use

.brand--prime-ministers-office-10-downing-street {
  .brand__color {
    color: govuk-colour("black");

    &:link,
    &:visited,
    &:active {
      color: govuk-colour("black");
    }

    &:hover,
    &:focus {
      color: $govuk-focus-text-colour;
    }
  }

  &.brand__border-color,
  .brand__border-color {
    border-color: govuk-colour("black");
  }
}

// in the toolkit, civil service has red for the text and borders
// but the required border colour is black, ideally would fix this in
// the toolkit but other things are using it

.brand--civil-service {
  &.brand__border-color,
  .brand__border-color {
    border-color: govuk-colour("black");
  }
}

// new colour for DSIT for use until govuk-frontend#3523 has been released

.brand--department-for-science-innovation-and-technology {
  &.brand__border-color,
  .brand__border-color {
    border-color: #045f71;
  }
}

// This change should be removed after relevant govuk-frontend release

.brand--ministry-of-housing-communities-and-local-government {
  .brand__color {
    color: #00625e;

    &:link,
    &:visited,
    &:active {
      color: #00625e;
    }

    &:hover,
    &:focus {
      color: $govuk-focus-text-colour;
    }
  }

  &.brand__border-color,
  .brand__border-color {
    border-color: #00625e;
  }
}
