$gem-secondary-button-colour: govuk-colour("green", $variant: "shade-25");
$gem-secondary-button-hover-colour: govuk-colour("green", $variant: "shade-50");
$gem-secondary-button-background-colour: govuk-colour("white");
$gem-secondary-button-hover-background-colour: govuk-colour("black", $variant: "tint-95");

$gem-quiet-button-colour: govuk-functional-colour("secondary-text");
$gem-quiet-button-hover-colour: govuk-colour("black");
$gem-quiet-button-hover-background-colour: govuk-colour("black", $variant: "tint-80");

$govuk-blue-tint-95: govuk-colour("blue", $variant: "tint-95");
$govuk-blue-tint-80: govuk-colour("blue", $variant: "tint-80");
$govuk-blue-tint-50: govuk-colour("blue", $variant: "tint-50");
