$gem-secondary-button-colour: #00823b;
$gem-secondary-button-hover-colour: darken($gem-secondary-button-colour, 5%);
$gem-secondary-button-background-colour: govuk-colour("white");
$gem-secondary-button-hover-background-colour: govuk-colour("black", $variant: "tint-95");

$gem-quiet-button-colour: govuk-colour("black", $variant: "tint-25");
$gem-quiet-button-hover-colour: darken($gem-quiet-button-colour, 5%);

// Brand refresh
$govuk-blue-tint-95: govuk-colour("blue", $variant: "tint-95");
$govuk-blue-tint-80: govuk-colour("blue", $variant: "tint-80");
$govuk-blue-tint-50: govuk-colour("blue", $variant: "tint-50");

$govuk-rebrand-template-background-colour: $govuk-blue-tint-95;
