// Forked from GOV.UK Frontend, namespace changed to ensure no conflicts.

$gem-spacing-scale-0: 0;
$gem-spacing-scale-1: 5px;
$gem-spacing-scale-2: 10px;
$gem-spacing-scale-3: 15px;
$gem-spacing-scale-4: 20px;
$gem-spacing-scale-5: 30px;
$gem-spacing-scale-6: 40px;
$gem-spacing-scale-7: 50px;
$gem-spacing-scale-8: 60px;

// Border widths
$gem-border-width-mobile: 4px;
$gem-border-width-tablet: 5px;

// Focus
$gem-focus-width: 3px;
$gem-focus-colour: $govuk-focus-colour;

$gem-error-colour: govuk-colour("red");
$gem-success-colour: govuk-colour("green");
